/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/navbar";

/*=========================================================================
  Molecules Dropdown
 ========================================================================== */
.dropdown-item {
  cursor: pointer;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto; // Reset the default from `.dropdown-menu`
}