<footer class="o-footer text-xs-center" role="contentinfo">

    <div class="container">
        {{# footer.logo }}
            <a class="o-footer-logo mt-1 mb-3" href="#">
                {{> atoms-logo }}
            </a>
        {{/footer.logo}}

        <hr/>

        {{#footer.socialMedia}}
            <div class="o-footer-social-media float-sm-right">
                <ul class="list-inline">
                    {{#items}}
                        <li class="list-inline-item">
                            <a href="{{url}}" target="_blank" alt="{{title}}">
                                <i class="fa {{icon}}" aria-hidden="true"></i>
                            </a>
                        </li>
                    {{/items}}
                </ul>
            </div>
        {{/footer.socialMedia}}

        {{#footer.navigation.primary}}

            <div class="o-footer-nav-primary float-sm-left">
                {{> organisms-nav-footer }}
            </div>
        {{/footer.navigation.primary}}

        {{#footer.navigation.secondary}}
            <div class="o-footer-nav-secondary">
                {{> organisms-nav-footer }}
            </div>
        {{/footer.navigation.secondary}}

        {{#footer.copyright}}
            <div class="o-footer-copyright text-muted">
               Copyright &copy; {{ year }} {{ company.name }}
            </div>
        {{/footer.copyright}}
    </div>

</footer><!-- end o-footer -->
