/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";

/*=========================================================================
  Organism Footer
 ========================================================================== */

.o-footer {
  clear: both;
  overflow: hidden;
  background: $brand-secondary;
  color: #ffffff;
  line-height: 1.2;
  padding: ($spacer-y * 2);
  font-size: 90%;

  .nav-link {
    color: #ffffff;
  }
  .nav-link:hover {
    color: $link-color;
  }
}

.o-footer-logo > img {
  max-width: 120px;

}

