/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";

/*=========================================================================
  Organism Footer
 ========================================================================== */

.o-footer {
  clear: both;
  overflow: hidden;
  background: $brand-secondary;
  color: #ffffff;
  line-height: 1.2;
  padding: ($spacer-y * 2);
  font-size: 90%;
  
  hr {
    border-color: $gray-light;
  }

  .nav-link {
    color: $gray-lighter;
  }
  .nav-link:hover {
    color: lighten($gray-lighter, 10%);
  }
}

.o-footer-social-media {

  margin-top:-10px;

  a {
    color: $gray-lighter;
    font-size:2rem;
  }
  a:hover {
    color: lighten($gray-lighter, 10%);
  }

}

.o-footer-nav-primary {
  padding-left: 5px;
  margin-top: -5px;
}

.o-footer-nav-secondary {

  margin-top: 1rem;
  margin-bottom: 0.5rem;

  .nav-link {
    color: $gray-light;
  }
  .nav-link:hover {
    color: lighten($gray-light, 10%);
  }
}

.o-footer-logo {

  display: block;

  > img {
    max-width: 160px;

  }
}

