<footer class="o-footer text-xs-center"" role="contentinfo">

{{> organisms-nav-footer }}

{{#footer.copyright}}
    <p>
        <small class="o-footer-copyright">Copyright &copy; {{ year }} {{ company.name }}</small>
    </p>
{{/footer.copyright}}

{{# footer.logo }}
    <a class="o-footer-logo" href="#">
        {{> atoms-logo(logoSrc:"../../images/logo-inverse.svg") }}
    </a>
{{/footer.logo}}

</footer><!-- end o-footer -->
