<footer class="o-footer text-xs-center" role="contentinfo">

{{> organisms-nav-footer }}

{{#footerSettings.copyright}}
    <p>
        <small class="o-footer-copyright">Copyright &copy; {{ year }} {{ company.name }}</small>
    </p>
{{/footerSettings.copyright}}

{{# footerSettings.logo }}
    <a class="o-footer-logo" href="#">
        {{> atoms-logo(logoSrc:"../../images/logo-inverse.svg") }}
    </a>
{{/footerSettings.logo}}

</footer><!-- end o-footer -->
