<aside id="sidebar">
    <section id="widget_1">
        Widget 1
    </section>
    <section id="widget_2">
        Widget 2
    </section>
    <section id="widget_3">
        Widget 3
    </section>

    {{# featuredPeople }}
        {{> organisms-section-media-list }}
    {{/ featuredPeople}}
</aside>