<ul class="list-group">
	{{# listGroupItems }}
  	<li class="list-group-item {{# status}}{{ status }}{{/status}}">

        {{# header }}
        <h4 class="list-group-item-heading">{{ header }}</h4>
        {{/ header }}

        <p class="list-group-item-text">{{{ text }}}</p>

  		{{# label }}{{> atoms-label }}{{/ label }}
  	</li>
  	{{/ listGroupItems }}
</ul>