<h1>{{ heading }} <span class="label label-default">{{ label }}</span></h1>
<h2>{{ heading }} <span class="label label-default">{{ label }}</span></h2>
<h3>{{ heading }} <span class="label label-default">{{ label }}</span></h3>
<h4>{{ heading }} <span class="label label-default">{{ label }}</span></h4>
<h5>{{ heading }} <span class="label label-default">{{ label }}</span></h5>
<h6>{{ heading }} <span class="label label-default">{{ label }}</span></h6>

<span class="label label-primary">.label-primary</span>
<span class="label label-success">.label-success</span>
<span class="label label-info">.label-info</span>
<span class="label label-warning">.label-warning</span>
<span class="label label-danger">.label-danger</span>

<h4>Pill labels</h4>

<span class="label label-pill label-default">.label-pill.label-default</span>
<span class="label label-pill label-primary">.label-pill.label-primary</span>
<span class="label label-pill label-success">.label-pill.label-success</span>
<span class="label label-pill label-info">.label-pill.label-info</span>
<span class="label label-pill label-warning">.label-pill.label-warning</span>
<span class="label label-pill label-danger">.label-pill.label-danger</span>

