{{# checkboxes }}
    {{# items }}
        <div class="form-check">
            <div class="checkbox {{ status }}">
                <label class="form-check-label">
                    {{> atoms-checkbox }}
                    {{ label }}
                </label>
            </div>
        </div>
    {{/items}}
{{/checkboxes}}