<ul class="checkboxes">
    {{# checkboxes.items }}
        <div class="checkbox {{ status }}">
            <label>
                {{> atoms-checkbox }}
                {{ label }}
            </label>
        </div>
    {{/ checkboxes.items }}
</ul>