{{# checkboxes }}
    <div class="checkboxes {{ class }}">
        {{# items }}
            <div class="form-check">
                <div class="checkbox {{ status }}">
                    <label class="custom-control custom-checkbox">
                        {{> atoms-checkbox }}
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ label }}</span>
                    </label>
                </div>
            </div>
        {{/items}}
    </div>
{{/checkboxes}}