<div class="form-group row{{ styleModifier }} {{ formGroup.class }}">
    {{#formGroup.label}}<label class="col-form-label text-sm-right col-sm-2 {{class}}" for="{{ inputGroup.id }}">{{text}}</label>{{/formGroup.label}}

    {{> molecules-input-group }}

    {{# formGroup.feedback }}
        <div class="form-control-feedback offset-sm-2 col-sm-10">{{ formGroup.feedback }}</div>
    {{/ formGroup.feedback}}

    {{# formGroup.helpText }}
        <div class="form-text text-muted offset-sm-2 col-sm-10">{{{ formGroup.helpText }}}</div>
    {{/ formGroup.helpText }}
</div>
