/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/forms";

/*=========================================================================
  Molecules Form group
 ========================================================================== */
.form-group {

  label {
    text-transform: uppercase;
  }

  .col-form-label .is-required {
    position: absolute;
    right:5px;
  }
}