{{# radioButtons }}
    {{# items }}
        <div class="form-check">
            <div class="radio {{ status }}">
                <label class="form-check-label">
                    {{> atoms-radio-button }}
                    {{ label }}
                </label>
            </div>
        </div>
    {{/ items }}
{{/radioButtons}}