{{# select }}
    <div class="{{ class }}">
        <select class="form-control {{ styleModifier }} " {{#multiple}}multiple{{/multiple}} {{#message}}data-toggle="tooltip" data-placement="top" title="{{ message }}"{{/message}}>
            {{# options }}
                <option {{#selected}}selected="selected"{{/selected}} >{{text}}</option>
            {{/options}}

        </select>
    </div>
{{/select}}