/**
 * Pattern Dependencies
 */
@import "../../../../css/scss/abstracts/variables";
@import "../../../../css/scss/abstracts/mixins";

/*=========================================================================
  Molecules Banner Message
 ========================================================================== */

.m-banner-message {
  padding: $alert-padding-y $alert-padding-x;
  border: $alert-border-width solid transparent;
  @include border-radius(0);
  text-align: center;

  i {
    margin-right: 5px;
  }
}

.m-banner-message-success {
  a {
    color: theme-color("success");
    text-decoration: underline;
  }
  @include alert-variant(theme-color("success"), theme-color("success"), #fff);
}

.m-banner-message-info {
  a {
    color: theme-color("info");
    text-decoration: underline;
  }
  @include alert-variant(theme-color("info"), theme-color("info"), #fff);
}

.m-banner-message-warning {
  a {
    color: theme-color("warning");
    text-decoration: underline;
  }
  @include alert-variant(theme-color("warning"), theme-color("warning"), #fff);
}

.m-banner-message-danger {
  a {
    color: theme-color("danger");
    text-decoration: underline;
  }
  @include alert-variant(theme-color("danger"), theme-color("danger"), #fff);
}
