{{#counter-list}}
<section class="section-counter section-dark section-divider-bottom text-center">
    <div class="container">
        <div class="row-gutter-80">
            {{#items}}
                <div class="col3">
                    {{> 00-atoms/02-website/counter}}
                </div>
            {{/items}}
        </div>
    </div>
</section>
{{/counter-list}}