<div class="card">
    {{# cardHeader }}
        <div class="card-header">
            {{{ cardHeader }}}
        </div>
    {{/cardHeader}}

    {{#cardImage}}
        <div class="card-img">
            <img class="card-img-top img-fluid" src="{{ cardImage }}" alt="Card image">
            {{#cardImageOverlay}}
                <div class="card-img-overlay">
                    {{#cardImageOverlayTitle}}<h4 class="card-title">{{{cardImageOverlayTitle}}}</h4>{{/cardImageOverlayTitle}}
                    {{#cardImageOverlayText}}<p class="card-text">{{{cardImageOverlayText}}}</p>{{/cardImageOverlayText}}
                </div>
            {{/cardImageOverlay}}
        </div>
    {{/cardImage}}

    {{#cardContent}}
        <div class="card-block">
            {{{ cardContent }}}
        </div>
    {{/cardContent}}

    {{# cardListGroup }}
        {{> molecules-list-group }}
    {{/ cardListGroup }}

    {{# cardFooter }}
    <div class="card-footer">
        {{ cardFooter }}
    </div>
    {{/cardFooter}}
</div>