/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/card";

/*=========================================================================
  Molecules Card
 ========================================================================== */

.card {
  padding: 0;
  margin: 0.2rem 0;
  //@include box-shadow($card-box-shadow);
  border: 1px solid;
  border-color: darken($card-border-color, 5%) darken($card-border-color, 5%) darken($card-border-color, 10%);
  border-radius: 3px;
  .card-header {
    color: $gray;
    border-bottom: 1px solid darken($card-border-color, 10%);
    font-size: 1rem;
    padding: 1rem 1.25rem;
    font-weight: bold;
    h3, h4, h5 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }

  .card-footer {
    padding: 0 1.25rem 1.5rem;
  }
}