/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/card";

/*=========================================================================
  Molecules Card
 ========================================================================== */

.card {
  padding: 1rem;
  @include box-shadow($card-box-shadow);

  .card-header {
    color: $gray-lighter;
    border-bottom:1px solid $gray-lighter;
    font-size: 1.2rem;
    padding: 0.5rem;

    h3, h4, h5 {
      font-size: 1.5rem;
      margin-bottom:0;
    }
  }

  .card-footer {
      padding: 0 1.25rem 1.5rem;
  }
}