@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";

.spinner {
  display: inline-block;
  font-size: $spinner-dot-size;
  height: $spinner-dot-size;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

/* Dots */

.spinner-dot {
  @include animation(pulse 1s infinite ease-in-out);
  @include size(1em);
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  &.spinner-dot-second {
    @include animation-delay(160ms);
    margin-left: 1em;
  }

  &.spinner-dot-third {
    @include animation-delay(320ms);
    margin-left: 1em;
  }
}

/* Types */

// default
.spinner-default > .spinner-dot {
  background-color: $spinner-dot-bg;
}

// primary
.spinner-primary > .spinner-dot {
  background-color: $brand-primary;
}

// inverted
.spinner-inverted > .spinner-dot {
  background-color: white;
}

/* Sizes */

// small
.spinner-sm {
  font-size: $spinner-dot-size-sm;
  height: $spinner-dot-size-sm;
}

// large
.spinner-lg {
  font-size: $spinner-dot-size-lg;
  height: $spinner-dot-size-lg;
}

/* Inside Buttons */

.Button > .spinner {
  @extend .spinner-sm;
  margin-right: 2em;

  &:only-child {
    margin-right: 0;
  }
}