{
  "presets": ["es2015", "stage-1", "react", "stage-0"],
  "plugins": [
    ["transform-replace-object-assign", "simple-assign"],
    "transform-dev-warning"
  ],
  "env": {
    "wildCard": {
      "plugins": [
        "wildcard"
      ]
    },
    "test": {
      "sourceMaps": "both",
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "build/webpack/webpack.config.ava.js",
            "verbose": false
          }
        ]
      ]
    },
    "docs-production": {
      "plugins": [
        ["transform-replace-object-assign", "simple-assign"],
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}