/Dockerfile
/LICENSE
/bower.json
/.bowerrc
/package.json
/CHANGELOG.md
/node_modules/
/composer.json
/.npmignore
/vendor/
/config/
/source/
/.gitignore
/public/
/core/
/docker-compose.yml
/README.md
/composer.lock
/.babelrc
/build/mysql/
/build/php.ini
/build/env
/build/scripts/
/build/apache-vhost.conf
