/**
 * Import icons from S3 bucket
 *
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import url("https://aa-fonts.s3.amazonaws.com/app-arena/app-arena.css");

.icon-primary {
  color: theme-color("primary")
}

.icon-secondary {
  color: theme-color("secondary")
}

.icon-success {
  color: theme-color("success")
}

.icon-info {
  color: theme-color("info")
}

.icon-warning {
  color: theme-color("warning")
}

.icon-danger {
  color: theme-color("danger")
}
