/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/badge";

/*=========================================================================
  Atoms Tags
 ========================================================================== */
