<h1>{{ heading }} <span class="tag tag-default">{{ tag }}</span></h1>
<h2>{{ heading }} <span class="tag tag-default">{{ tag }}</span></h2>
<h3>{{ heading }} <span class="tag tag-default">{{ tag }}</span></h3>
<h4>{{ heading }} <span class="tag tag-default">{{ tag }}</span></h4>
<h5>{{ heading }} <span class="tag tag-default">{{ tag }}</span></h5>
<h6>{{ heading }} <span class="tag tag-default">{{ tag }}</span></h6>

<span class="tag tag-primary">.tag-primary</span>
<span class="tag tag-success">.tag-success</span>
<span class="tag tag-info">.tag-info</span>
<span class="tag tag-warning">.tag-warning</span>
<span class="tag tag-danger">.tag-danger</span>

<h4>Pill tags</h4>

<span class="tag tag-pill tag-default">.tag-pill.tag-default</span>
<span class="tag tag-pill tag-primary">.tag-pill.tag-primary</span>
<span class="tag tag-pill tag-success">.tag-pill.tag-success</span>
<span class="tag tag-pill tag-info">.tag-pill.tag-info</span>
<span class="tag tag-pill tag-warning">.tag-pill.tag-warning</span>
<span class="tag tag-pill tag-danger">.tag-pill.tag-danger</span>

