{{> organisms-header }}
<main role="main">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-2 t-col-left p-t-1">
                {{> organisms-nav-sidebar }}
            </div>
            <div class="col-md-8 t-col-main p-t-1">
                {{> molecules-page-title }}

                {{{ main.content-main }}}

            </div>
            <div class="col-md-2 t-col-right p-t-1">
                {{{ main.content-sidebar-right }}}
            </div>
        </div>
    </div>
</main>
{{> organisms-footer }}
