<div class="input-group {{ inputGroup.class }}">
	{{# inputGroup.addonBefore }}
	<span class="input-group-addon">{{{ inputGroup.addonBefore }}}</span>
	{{/ inputGroup.addonBefore }}
	{{> atoms-input }}
	{{# inputGroup.addonAfter }}
	<span class="input-group-addon">{{{ inputGroup.addonAfter }}}</span>
	{{/ inputGroup.addonAfter }}
</div>



