<div class="input-group col-sm-9 {{ inputGroup.class }} {{#inputGroup.icon}}has-icon{{/inputGroup.icon}}">
	{{# inputGroup.addonBefore }}
	<span class="input-group-addon">{{{ inputGroup.addonBefore }}}</span>
	{{/ inputGroup.addonBefore }}
    {{{inputGroup.icon}}}
	{{> atoms-input }}
	{{# inputGroup.addonAfter }}
	<span class="input-group-addon">{{{ inputGroup.addonAfter }}}</span>
	{{/ inputGroup.addonAfter }}
</div>



