.aa-icon-browser {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;');
}
.aa-icon-bullhorn {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f4ef;');
}
.aa-icon-chart {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f4c9;');
}
.aa-icon-check {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2714;');
}
.aa-icon-chevron-down {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2304;');
}
.aa-icon-chevron-left {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2039;');
}
.aa-icon-chevron-right {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x203a;');
}
.aa-icon-chevron-up {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2c4;');
}
.aa-icon-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x20dd;');
}
.aa-icon-close {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2297;');
}
.aa-icon-cloud-upload {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2601;');
}
.aa-icon-cog {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2699;');
}
.aa-icon-comment-chart {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90c;');
}
.aa-icon-digital-chart {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90d;');
}
.aa-icon-download {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90e;');
}
.aa-icon-exclamation-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xfe57;');
}
.aa-icon-external-link {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f517;');
}
.aa-icon-eye {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f440;');
}
.aa-icon-file-pdf {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f4c2;');
}
.aa-icon-file {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f4c1;');
}
.aa-icon-flag {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2691;');
}
.aa-icon-grid-full {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xa81f;');
}
.aa-icon-grid-two {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x25e8;');
}
.aa-icon-heart-filled {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2665;');
}
.aa-icon-heart {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2661;');
}
.aa-icon-info-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2139;');
}
.aa-icon-label {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe0023;');
}
.aa-icon-line-chart {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f4b9;');
}
.aa-icon-lock {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f512;');
}
.aa-icon-log-in {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x20ef;');
}
.aa-icon-log-out {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x20ee;');
}
.aa-icon-menu-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91f;');
}
.aa-icon-minus {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x208b;');
}
.aa-icon-mouse-click {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x298;');
}
.aa-icon-pencil-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2710;');
}
.aa-icon-pencil {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x270e;');
}
.aa-icon-play-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe924;');
}
.aa-icon-plus {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2295;');
}
.aa-icon-responsive {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f4bb;');
}
.aa-icon-search-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f50e;');
}
.aa-icon-search {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f50d;');
}
.aa-icon-shield {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x101db;');
}
.aa-icon-sort-amount-asc {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92a;');
}
.aa-icon-sort-amount-desc {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92b;');
}
.aa-icon-star {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2605;');
}
.aa-icon-time {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f553;');
}
.aa-icon-upload {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92e;');
}
.aa-icon-user-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f471;');
}
.aa-icon-user {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f64e;');
}
.aa-icon-users {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe931;');
}
.aa-icon-slider-arrow-left {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b9c;');
}
.aa-icon-slider-arrow-right {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b9e;');
}
.aa-icon-arrow-right {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2192;');
}
.aa-icon-arrow-right-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x21e2;');
}
.aa-icon-Neue_Nutzerdaten_generieren_fill {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f4ca;');
}
.aa-icon-aa-analytics {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x1f4c8;');
}

