{{# notification }}
    <div class="m-notification slideDownIn" role="alert">
        <div class="content {{type}} {{class}}">
            {{# isDismissable }}
                <a class="close" aria-label="Close" onclick="jQuery(this).closest('.m-notification').hide();">
                    <span aria-hidden="true">&times;</span>
                </a>
            {{/ isDismissable }}
            <span class="icon">
                <span class="success"><i class="aa-icon aa-icon-check"></i></span>
                <span class="info"><i class="aa-icon aa-icon-info-circle"></i></span>
                <span class="warning"><i class="aa-icon aa-icon-exclamation-triangle"></i></span>
                <span class="danger"><i class="aa-icon aa-icon-exclamation-circle"></i></span>
            </span>
            <div class="title-message">
                <p>
                    <strong>{{{title}}}</strong> {{{message}}}
                </p>
            </div>

            {{#actions}}
                <div class="actions">
                    {{> molecules-navs:nav-inline }}
                </div>
            {{/actions}}

        </div>
    </div>
{{/notification}}