@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";

.root {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  position: relative;
  .clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
    border-right: none;
    border-top: none;
  }
  .area {
    display: block;
    textarea:focus {
      outline: none;
    }
    textarea {
      background: none;
      border: none;
      box-sizing: border-box;
      color: #4b4f56;
      font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
      font-size: 14px;
      height: auto;
      line-height: 20px;
      padding: 12px;
      width: 100%;
    }
  }
}