<div class="filter-bar pa-1">

    <!-- data filter functionality -->
    {{# filterBar.filtersActivated }}
        <div class="filter-bar-filter mr-1">
            <a class="btn btn-secondary" data-toggle="collapse" href="#filterBarSelection" aria-expanded="false"
               aria-controls="collapseExample">
                <i class="fa fa-filter"></i> Filter
            </a>
            <!-- See the collapsable after the .filter-bar container -->
        </div>
    {{/ filterBar.filtersActivated }}

    <!-- Search functionality -->
    {{# filterBar.searchActivated }}
        <div class="filter-bar-search mr-1">
            {{> molecules-input-group }}
        </div>
    {{/ filterBar.searchActivated }}

    <!-- sort functionality -->
    {{# filterBar.sortActivated }}
        <div class="filter-bar-sort mr-1">
            {{> molecules-dropdown }}
        </div>
    {{/ filterBar.sortActivated }}

    <!-- display mode functionality (grid or list) -->
    {{# filterBar.displayModeActivated }}
        {{# btnGroup }}
            <div class="filter-bar-display-mode">
                {{> molecules-button-group }}
            </div>
        {{/btnGroup}}
    {{/ filterBar.displayModeActivated }}

</div>
<!-- Collapsable part comes after the main div, as it should appear after the div, when not collapsed -->
{{# filterBar.filtersActivated }}
    <div class="filter-bar-filters collapse" id="filterBarSelection">
        <div class="card card-block">
            <div class="row">
                {{#items}}
                    <div class="col-md-4">
                        {{#title}}<legend class="filter-title col-form-legend">{{ title }}</legend>{{/title}}
                        {{#checkboxes}}
                            {{> molecules-checkboxes }}
                        {{/checkboxes}}
                        {{#radioButtons}}
                            {{> molecules-radio-buttons }}
                        {{/radioButtons}}
                    </div>
                {{/items}}
            </div>
        </div>
    </div>
{{/filterBar.filtersActivated}}
