{{> organisms-header }}
<main role="main">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-2 l-col-left p-t-1">
                {{> organisms-nav-sidebar }}
            </div>
            <div class="col-md-10 l-col-main p-t-1">
                {{> molecules-page-title }}

                {{> molecules-filter-bar }}

                <div class="l-col-main-content p-a-1">
                    <div class="l-entity-list">
                        {{> organisms-cards-list }}
                    </div>

                </div>

            </div>
        </div>
    </div>
</main>
{{> organisms-footer }}
