{{> organisms-header }}
<main role="main">
	{{# alert }}
		{{> molecules-alert }}
	{{/ alert }}

    {{# sectionBlock }}
        {{> organisms-tile-grid }}
    {{/ sectionBlock }}

    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-9">
                {{# featuredChallenges }}
                    {{> organisms-section-media-list }}
                {{/ featuredChallenges }}
            </div>
            <div class="col-md-3">
                {{> organisms-sidebar }}
            </div>
        </div>
    </div>

</main>
{{> organisms-footer }}
