<div class="btn-group" role="group" aria-label="{{ ariaLabel }}">
    {{# items }}
        {{^btnText}}
            <div class="btn-group" role="group">
                {{> 01-molecules/dropdown/dropdown }}
            </div>
        {{/btnText}}
        {{#btnText}}
            {{> 00-atoms/button/button }}
        {{/btnText}}
    {{/ items }}
</div>