<div class="btn-group" role="group" aria-label="{{ ariaLabel }}">
    {{# items }}
        {{^btnText}}
            <div class="btn-group" role="group">
                {{> molecules-dropdown }}
            </div>
        {{/btnText}}
        {{#btnText}}
            {{> atoms-button }}
        {{/btnText}}
    {{/ items }}
</div>