{{# btnGroup }}
    <div class="btn-group" role="group" aria-label="{{ ariaLabel }}">
        {{# btnGroup.items }}
            {{> atoms-button }}
        {{/ btnGroup.items }}
    </div>
{{/btnGroup}}