<div class="DemoBox" style="border-radius: 4px; display: flex; justify-content: center; margin-bottom: 20px; padding: 20px 1.5em; background-color: rgb(19, 133, 229);">
    <div class="spinner spinner-inverted spinner-md">
        <span class="spinner-dot spinner-dot-first"></span><span class="spinner-dot spinner-dot-second"></span><span class="spinner-dot spinner-dot-third"></span>
    </div>
</div>