/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
@import "~bootstrap/scss/variables";

.page-heading {
	position: relative;
	display: block;
	background-color: #fff;
	padding: $spacer-y $spacer-x;
	border: $border-width solid $card-border-color;
	@include border-radius($card-border-radius);

	> h1 {
		font-size: $font-size-h4;
	}
}