/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * Main content area.
 */
[role=main] {
  flex: 1;
  background-color: $gray-lightest;
}

/**
  * Left column in main content area
  */
.t-col-left {
  background-color: $gray-lightest;
  min-height: 800px;
}

/**
  * Main column
  */
.t-col-main-content {
  background-color: #fff;
  border: 1px solid $card-border-color;
}
