/*------------------------------------*\
    Typography
\*------------------------------------*/
$font-weights: (
        light: 300,
        regular: 400,
        bold: 600
);
@each $weight, $value in $font-weights {
  .font-weight-#{$weight} {
    font-weight: $value;
  }
}