/*------------------------------------*\
    Typography
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-weights: (
        light: 300,
        regular: 400,
        semi-bold: 600,
        semibold: 600,
        bold: 700
);
@each $weight, $value in $font-weights {
  .font-weight-#{$weight} {
    font-weight: $value;
  }
}
