@import "../../../../css/scss/abstracts/variables";
@import "../../../../css/scss/abstracts/mixins";

.custom-package-container {
  margin: 40px;
  .custom-package-inner-container {
    border-radius: 5px;
    background: #fff;
    padding: 30px;
    .titleLeft {
      font-size: 17pt;
      text-transform: uppercase;
      img {
        max-width: 64px;
        max-height: 64px;
      }

      p {
        display: inline;
        margin-left: 20px;
      }
    }

    .sumContainer {
      .sumDisplay {
        font-size: 20pt;
        float: right;
      }
    }

    .languageSelectorContainer {
      margin-top: 10px;
      .removeLanguageButton {
        margin-left: 5px;
        font-size: 18px;
        color: theme-color("danger");
      }
      .addLanguageButton {
        color: theme-color("primary");
        cursor: pointer;
        &:active {
          color: darken(theme-color("primary"), 15%);
        }
        .icon {
          font-size: 18px;
          margin-right: 5px;
        }
      }
      .flag {
        padding-right: 5px;
        max-width: 64px;
      }
    }

    .advisorText {
      margin-top: 20px;
      width: 80%;
      color: $gray-600;
    }

    .serviceHours {
      margin: auto;
      width: 50%;

      .serviceHourNumber {
        background-color: theme-color("success");
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin-top: -5px;
        margin-right: 5px;
        float: left;
        text-align: center;
        color: white;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
      }
    }

    .dropdown {
      margin-top: 20px;
    }

    .customRow {
      .column {
        padding: 20px 40px 40px;
        @include media-breakpoint-down(md) {
          border-bottom: 1px solid $gray-600;
        }
        @include media-breakpoint-up(lg) {
          border-right: 1px solid $gray-600;
        }
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
          border: none;
        }
      }
    }

    .purchase_button {
      width: 50%;
      position: absolute;
      right: 25%;
      bottom: -20px;
    }

    .checkbox-line {
      cursor: pointer;
    }
    .checkbox-icon {
      font-size: 18px;
      margin-right: 5px;
      color: $gray-400;
      &.cbChecked {
        color: theme-color("success");
      }
    }
  }
}