{{# navSidebar }}
    <nav id="o-nav-sidebar">

        {{# btnList }}
            {{> atoms-button }}
        {{/btnList}}

        <hr />

        {{> molecules-navs:nav-pills nav-stacked }}

        {{# secondaryGroup }}
            <hr />
            <p>{{title}}</p>
            {{> molecules-navs:nav-pills nav-stacked }}
        {{/secondaryGroup}}

    </nav>
{{/ navSidebar }}