/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "~bootstrap/scss/mixins/hover";

/*=========================================================================
  Organism Navigation Sidebar
 ========================================================================== */
#o-nav-sidebar {

  .o-nav-sidebar-header {
    .media-object {
      max-width: 48px;
    }

    .media-body {
      align-items: center;
      display: flex;
    }

    > hr {
      margin: 1rem -1rem;
    }
  }

  .nav-pills {
    .nav-link.active,
    .nav-item.open .nav-link {
      @include plain-hover-focus {
        color: inherit;
        cursor: default;
        background-color: $gray-lightest;
        border-left: 5px solid $brand-primary;
        margin-left: -15px;
        padding-left: 25px;
        font-weight: bold;
      }
    }
  }

  .o-nav-sidebar-scondaryGroup {
    .title {
      color: $gray-light;
    }

  }
}