/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "~font-awesome/scss/variables";
@import "../../../css/scss/components/nav";

/*=========================================================================
  Organism Navigation Secondary
 ========================================================================== */
.o-nav-secondary-btnList {
  margin-top: -7px;
}