{{# navSecondary }}
    <div class="o-nav o-nav-secondary">

        <div class="o-nav-secondary-btnList pull-xs-right">
            {{# btnList }}
                {{> atoms-button }}
            {{/btnList}}
        </div>

        {{> molecules-navs:nav-inline }}
    </div>
{{/ navSecondary }}