{{#progressBar}}
    {{#text}}<div class="text-xs-center">{{{text}}}</div>{{/text}}
    <progress class="progress {{type}} {{class}}" value="{{value}}" max="{{maxValue}}"></progress>
{{/progressBar}}

