{{#progressBar}}
    {{#text}}<div class="text-xs-center text-muted"><small>{{{text}}}</small></div>{{/text}}
    <progress class="progress {{type}} {{class}}" value="{{value}}" max="{{maxValue}}"></progress>
{{/progressBar}}

