<div class="text-xs-center">No Class</div>
<progress class="progress" value="25" max="100"></progress>

<div class="text-xs-center">Class <pre>progress-success</pre></div>
<progress class="progress progress-success" value="25" max="100"></progress>

<div class="text-xs-center">Class <pre>progress-info</pre></div>
<progress class="progress progress-info" value="50" max="100"></progress>

<div class="text-xs-center">Class <pre>progress-warning</pre></div>
<progress class="progress progress-warning" value="75" max="100"></progress>

<div class="text-xs-center">Class <pre>progress-danger</pre></div>
<progress class="progress progress-danger" value="100" max="100"></progress>