<div class="text-xs-center text-muted"><small>No Class</small></div>
<progress class="progress" value="25" max="100"></progress>

<div class="text-xs-center text-muted"><small>Class <pre>progress-success</pre></small></div>
<progress class="progress progress-success" value="25" max="100"></progress>

<div class="text-xs-center text-muted"><small>Class <pre>progress-info</pre></small></div>
<progress class="progress progress-info" value="50" max="100"></progress>

<div class="text-xs-center text-muted"><small>Class <pre>progress-warning</pre></small></div>
<progress class="progress progress-warning" value="75" max="100"></progress>

<div class="text-xs-center text-muted"><small>Class <pre>progress-danger</pre></small></div>
<progress class="progress progress-danger" value="100" max="100"></progress>