/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

/*=========================================================================
  Organism Form
 ========================================================================== */

.o-references-slider {
  $reference-height: 34rem;
  $reference-quote-width: 40/100;
  $slick-font-path: "./fonts/" !default;
  $slick-font-family: "app-arena-website";
  $slick-loader-path: "./" !default;
  $slick-arrow-color: black;
  $slick-dot-color: black;
  $slick-dot-color-active: $slick-dot-color;
  $slick-prev-character: $aa-icon-slider-arrow-left;
  $slick-next-character: $aa-icon-slider-arrow-right;
  $slick-dot-character: "\2022" !default;
  $slick-dot-size: 6px !default;
  $slick-opacity-default: 0.75 !default;
  $slick-opacity-on-hover: 1 !default;
  $slick-opacity-not-active: 0.25 !default;

  @function slick-image-url($url) {
    @if function-exists(image-url) {
      @return image-url($url);
    } @else {
      @return url($slick-loader-path + $url);
    }
  }

  @function slick-font-url($url) {
    @if function-exists(font-url) {
      @return font-url($url);
    } @else {
      @return url($slick-font-path + $url);
    }
  }

  /* Slider */

  .slick-list {
    .slick-loading & {
      //background: #fff url('https://kenwheeler.github.io/slick/slick/ajax-loader.gif') /*slick-image-url("ajax-loader.gif")*/ center center no-repeat;
    }
  }

  /* Icons */
  @if $slick-font-family == "slick" {
    @font-face {
      font-family: "slick";
      src: slick-font-url("slick.eot");
      src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
      font-weight: normal;
      font-style: normal;
    }
  }

  /* Arrows */

  .slick-prev,
  .slick-next {
    z-index: 999;
    position: absolute;
    display: block;
    height: auto;
    width: auto;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 2rem;
    border: none;
    outline: none;
    &:hover, &:focus {
      outline: none;
      background: transparent;
      color: transparent;
      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }
    &.slick-disabled:before {
      opacity: $slick-opacity-not-active;
    }
    &:before {
      font-family: $slick-font-family;
      font-size: 3.5rem;
      line-height: 1;
      color: $slick-arrow-color;
      opacity: $slick-opacity-default;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .slick-prev {
    left: 0; //-25px;
    [dir="rtl"] & {
      left: auto;
      right: 0; //-25px;
    }
    &:before {
      content: $slick-prev-character;
      [dir="rtl"] & {
        content: $slick-next-character;
      }
    }
  }

  .slick-next {
    right: 0; //-25px;
    [dir="rtl"] & {
      left: 0; //-25px;
      right: auto;
    }
    &:before {
      content: $slick-next-character;
      [dir="rtl"] & {
        content: $slick-prev-character;
      }
    }
  }

  /* Dots */

  .slick-dotted.slick-slider {
    margin-bottom: 30px;
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      button {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 5px;
        cursor: pointer;
        &:hover, &:focus {
          outline: none;
          &:before {
            opacity: $slick-opacity-on-hover;
          }
        }
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: $slick-dot-character;
          width: 20px;
          height: 20px;
          font-family: $slick-font-family;
          font-size: $slick-dot-size;
          line-height: 20px;
          text-align: center;
          color: $slick-dot-color;
          opacity: $slick-opacity-not-active;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &.slick-active button:before {
        color: $slick-dot-color-active;
        opacity: $slick-opacity-default;
      }
    }
  }

  .reference-slider {
    .slick-prev, .slick-next {
      // position arrows in the middle of relevant image
      top: 300px; // half of mobile image height
      @media (min-width: map_get($grid-breakpoints, 'lg')) {
        top: 50%;
      }
    }
    .slick-next {
      right: 0;
    }
    .reference {
      .reference-screens {
        position: relative;
        width: 100%;
        @media (min-width: map_get($grid-breakpoints, 'lg')) {
          height: $reference-height;
          width: 100% - percentage($reference-quote-width);
          float: right;
        }
        .reference-screen-desktop {
          display: none;
          top: 0;
          @media (min-width: map_get($grid-breakpoints, 'lg')) {
            display: block;
            position: absolute;
            left: 250px;
          }
        }
        .reference-screen-mobile {
          position: relative;
          display: block;
          max-width: 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          @media (min-width: map_get($grid-breakpoints, 'lg')) {
            position: absolute;
            left: 0;
            top: 60px;
            transform: translateX(0);
          }
        }
      }
      .reference-quote {
        width: 100%;
        display: table;
        @media (min-width: map_get($grid-breakpoints, 'lg')) {
          height: $reference-height;
          width: percentage($reference-quote-width);
          float: left;
        }

        .author {
          .name, .position, .company {
            text-transform: uppercase;
          }
          .name, .position {
            font-size: 1.2rem;
          }
          .company {
            font-size: 1.4rem;
            font-style: italic;
          }
        }

        .buttons {
          margin-top: 2rem;
        }

        .quote {
          font-size: 1.4rem;
          font-weight: lighter;
          font-style: italic;
          color: $gray-light;
        }

        blockquote {
          padding: 2rem;
          display: table-cell;
          vertical-align: middle;
        }
        hr {
          max-width: 110px;
          text-align: left;
          margin: 2rem auto 2rem 0;
          border-top: solid 5px $brand-primary;
          &.left {
            text-align: left;
            margin-left: 0;
            margin-right: auto;
          }
          &.center {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
          &.right {
            text-align: right;
            margin-left: auto;
            margin-right: 0;
          }
        }
      }
    }
  }
  .reference-slider-divider {
    width: 100%;
    background-color: $gray-lightest;
    .reference-slider-divider-arrow {
      margin-left: percentage($reference-quote-width) / 2;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 25px 0 25px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
  .o-references-slider-logo-slider {
    &.slick-slider {
      margin-bottom: 0;
    }
    width: 100%;
    background-color: $gray-lightest;
    padding: 0 10%;
    cursor: pointer;
    //display: table; // center vertical-alignment of client logos - doesn't work though
    .o-references-slider-logo {
      padding: 1rem;
      height: 90px;
      //display: table-cell;
      //vertical-align: middle;
      text-align: center;
      img {
        max-height: 70%;
        max-width: 100%;
        margin: auto;
        transition: filter 1s, opacity 1s;
        filter: grayscale(100%);
        opacity: 0.5;
      }
      &:hover img {
        opacity: 1;
      }
      &.slick-current {
        img {
          filter: grayscale(0%);
          opacity: 1;
        }
      }
    }
  }
}