{{# slider }}
    <div class="o-slider ml-3 mr-3" id="{{id}}">
        {{# items }}
            <div>{{{content}}}</div>
        {{/ items }}
    </div>
    <script>
        jQuery(document).ready(function () {
            jQuery('#{{id}}').slick({
                {{#settings.dots}}dots: true,{{/settings.dots}}
                {{#settings.slidesToScroll}}slidesToScroll: {{settings.slidesToScroll}},{{/settings.slidesToScroll}}
                {{#settings.slidesToShow}}slidesToShow: {{settings.slidesToShow}},{{/settings.slidesToShow}}
                {{#settings.centerMode}}centerMode: true,{{/settings.centerMode}}
                {{#settings.centerPadding}}centerPadding: '{{settings.centerPadding}}',{{/settings.centerPadding}}
                {{#settings.autoplay}}autoplay: false,{{/settings.autoplay}}
                {{#settings.autoplaySpeed}}autoplaySpeed: {{settings.autoplaySpeed}},{{/settings.autoplaySpeed}}
                infinite: true
            });
        });
    </script>
{{/slider}}