
<section class="section-counter section-dark section-divider-bottom text-center">
    <div class="container">
        <div class="row gutter-80">
            <div class="col3">
                <!-- TODO: change icons to up-arrow -->
                <output>17.632 <span class="aa-icon aa-icon-aa-analytics"></span></output>
                <hr>
                <label>Apps eingesetzt</label>
            </div>
            <div class="col3">
                <output>714 <span class="aa-icon aa-icon-aa-analytics"></span></output>
                <hr>
                <label>Zufriedene Kunden</label>
            </div>
            <div class="col3">
                <output>3.298 <span class="aa-icon aa-icon-aa-analytics"></span></output>
                <hr>
                <label>Umgesetzte Projekte</label>
            </div>
        </div>
    </div>
</section>