
<section class="section-productofthemonth">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-weight-regular">Produkt des Monats: Adventskalender</h2>
                <h3 class="font-weight-light">15% Rabatt auf den Adventskalender.</h3>
                <!-- begin editor-content -->
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                    ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <!-- end editor-content -->
                <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
            </div>
            <div class="col-md-6">
                <div class="product-screen-wrapper">
                    <button type="button" class="btn btn-success btn-round btn-round-md btn-cta-topleft">Jetzt <br>kostenlos
                        <br>testen
                    </button>
                    <img class="screen-browser"
                         src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                    <img class="screen-mobile"
                         src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
                </div>
            </div>
        </div>
    </div>
</section>