
<section id="section-homepage-testemonials" class="section-testemonial-slider no-margin-bottom no-padding-bottom">
    <script>
        $(document).ready(function() {
            $('.testemonial-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                fade: true,
                asNavFor: '.testemonial-clients-slider',
                useCSS: true,
                cssEase: 'ease',
                infinite: true,
                lazyLoad: 'ondemand',
                cssTransitions: true,
                responsive: [
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false
                        }
                    }
                ]
            });
            $('.testemonial-clients-slider').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                arrows: false,
                fade: false,
                infinite: true,
                asNavFor: '.testemonial-slider',
                dots: false,
                centerMode: false,
                focusOnSelect: true,
                useCSS: true,
                initialSlide: 0,
                draggable: false,
                autoplay: true,
                autoplaySpeed: 4000,
                /*variableWidths: false,*/
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 5
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 4
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2
                        }
                    }
                ]
            });
        });
    </script>
    <div class="testemonial-slider">
        <div class="testemonial">
            <div class="testemonial-screens">
                <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
            </div>
            <div class="testemonial-quote text-center">
                <blockquote>
                    <p>“ Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                    <hr class="center">
                    <footer>
                        <p>Thorsten Klages</p>
                        <p>Senior Manager</p>
                    </footer>
                </blockquote>
            </div>
            <div class="testemonial-product-cta text-center">
                <h3>App-Arena Adventskalender</h3>
                <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
            </div>
        </div>
        <div class="testemonial">
            <div class="testemonial-screens">
                <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
            </div>
            <div class="testemonial-quote text-center">
                <blockquote>
                    <p>“ 2Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                    <hr class="center">
                    <footer>
                        <p>Thorsten Klages</p>
                        <p>Senior Manager</p>
                    </footer>
                </blockquote>
            </div>
            <div class="testemonial-product-cta text-center">
                <h3>2App-Arena Adventskalender</h3>
                <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
            </div>
        </div>
        <div class="testemonial">
            <div class="testemonial-screens">
                <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
            </div>
            <div class="testemonial-quote text-center">
                <blockquote>
                    <p>“ 3Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                    <hr class="center">
                    <footer>
                        <p>Thorsten Klages</p>
                        <p>Senior Manager</p>
                    </footer>
                </blockquote>
            </div>
            <div class="testemonial-product-cta text-center">
                <h3>3App-Arena Adventskalender</h3>
                <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
            </div>
        </div>
        <div class="testemonial">
            <div class="testemonial-screens">
                <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
            </div>
            <div class="testemonial-quote text-center">
                <blockquote>
                    <p>“ 4Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                    <hr class="center">
                    <footer>
                        <p>Thorsten Klages</p>
                        <p>Senior Manager</p>
                    </footer>
                </blockquote>
            </div>
            <div class="testemonial-product-cta text-center">
                <h3>4App-Arena Adventskalender</h3>
                <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
            </div>
        </div>
        <div class="testemonial">
            <div class="testemonial-screens">
                <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
            </div>
            <div class="testemonial-quote text-center">
                <blockquote>
                    <p>“ 5Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                    <hr class="center">
                    <footer>
                        <p>Thorsten Klages</p>
                        <p>Senior Manager</p>
                        <button type="button" class="btn btn btn-outline-primary">Mehr erfahren</button>
                    </footer>
                </blockquote>
            </div>
            <div class="testemonial-product-cta text-center">
                <h3>5App-Arena Adventskalender</h3>
                <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
            </div>
        </div>
    </div>
    <div class="testemonial-slider-divider"><div class="testemonial-slider-divider-arrow"></div></div>
    <div class="testemonial-clients-slider">
        <div class="testemonial-client">
            <img src="/images/sample/aa-website/universal-music-group-logo.png">
        </div>
        <div class="testemonial-client">
            <img src="/images/sample/aa-website/ergo-logo.png">
        </div>
        <div class="testemonial-client">
            <img src="/images/sample/aa-website/eventim-logo.png">
        </div>
        <div class="testemonial-client">
            <img src="/images/sample/aa-website/m2beaute-logo.png">
        </div>
        <div class="testemonial-client">
            <img src="/images/sample/aa-website/m2beaute-logo.png">
        </div>
        <div class="testemonial-client">
            <img src="/images/sample/aa-website/m2beaute-logo.png">
        </div>
        <div class="testemonial-client">
            <img src="/images/sample/aa-website/m2beaute-logo.png">
        </div>
    </div>
</section>