<section class="section-dark section-usp-list section-divider-bottom text-center">
    <div class="container"> <!-- TODO: correct container -->
        <div class="row homepage-usps-row">
            <div class="col-md-6 col-lg-3">
                <span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
                <h3 class="usp-title">Stark serviceorientiert</h3>
                <p class="usp-description">bla</p>
                <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
                <h3 class="usp-title">Stark serviceorientiert</h3>
                <p class="usp-description">bla</p>
                <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
                <h3 class="usp-title">Stark serviceorientiert</h3>
                <p class="usp-description">bla</p>
                <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
                <h3 class="usp-title">Flexible Laufzeitverlängerung</h3>
                <p class="usp-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    eirmod tempor</p>
                <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                </p>
            </div>
            <script src="/js/vendor/matchHeight/jquery.matchHeight-min.js"></script>
            <script src="/js/vendor/slick-carousel/slick/slick.js"></script>
            <script>
                $(function () {
                    var $uspsRow = $('#section-homepage-usps');
                    $uspsRow.find('.usp-icon').matchHeight();
                    $uspsRow.find('.usp-title').matchHeight();
                    $uspsRow.find('.usp-description').matchHeight();
                });
            </script>
        </div>
    </div>
</section>