<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        {{> atoms-logo-inverse }}
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        {{> molecules-navs:navbar-nav }}
    </div>

    {{> molecules-navbar-form }}

</nav>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        {{> atoms-logo-inverse }}
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        {{> molecules-navs:navbar-nav }}
    </div>

    {{> molecules-navbar-form }}
</nav>

<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #e3f2fd;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent3" aria-controls="navbarSupportedContent3" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        {{> atoms-logo }}
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent3">
        {{> molecules-navs:navbar-nav }}
    </div>

    {{> molecules-navbar-form }}
</nav>