{{# navbarForm }}
    <form class="m-navbar-form form-inline {{ styleModifier }} {{ class }} {{#icon}}has-icon{{/icon}}">
        {{{icon}}}
        <input class="form-control" type="text" placeholder="{{ placeholder }}">
    </form>
{{/navbarForm}}
