/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/popover";

/*=========================================================================
  Molecules Popover
 ========================================================================== */
// Color contrast
@mixin color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= 150) {
    color: #111;
  } @else {
    color: #fff;
  }
}

@mixin popover-variant($background, $border) {
  .popover-header {
    background-color: $background;
    border-color: $border;
    @include color-yiq($background);
  }
  &.bs-popover-top {
    .arrow::before {
      border-top-color: $border;
    }

    .arrow::after {
      border-top-color: $border;
    }
  }
  &.bs-popover-bottom {
    .arrow::before {
      border-bottom-color: $border;
    }

    .arrow::after {
      border-bottom-color: $border;
    }
  }
}

.root {
  display: inline-block;
}

.popoverRoot {
  &.popover {
    position: relative;
    .arrow {
      left: calc(50% - 10px);
    }
    &.right {
      .arrow {
        right: calc(2px + 10px);
        left: auto;
      }
    }
    &.left {
      .arrow {
        left: calc(2px + 10px);
        right: auto;
      }
    }
    @each $color, $value in $theme-colors {
      &.popover-#{$color} {
        @include popover-variant($value, $value);
      }
    }
  }
}