.packageCreator {
  width: 85%;
  background-color: #fff;
  margin: 0 auto 50px auto;

  .titleLeft {
    float: left;
  }

  .sumContainer {
    float: right;
  }

  .dropdown {
    margin-top: 20px;
  }
}