.invisible {
  display: none;
}

.packageCreator {
  width: 88%;
  margin: 0 auto 50px auto;

  .borderRadiusFix {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
  }

  .titleLeft {
    font-size: 17pt;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
      max-width: 64px;
      max-height: 64px;
    }

    p {
      display: inline;
      margin-left: 20px;
    }
  }

  .languageSelectorContainer {

    .modalExit {
      text-decoration: none;
      position: absolute;
      right: 20px;
      top: 10px;
    }

    .languageList {
      list-style: none;

      .removeLanguageButton {
        position: absolute;
        right: 10px;
        border: none;
        color: white;
        background-color: #2c82c9;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        &:focus {
          outline: none;
        }

        &:active {
          background-color: darken(#2c82c9, 15%);
          -webkit-box-shadow: inset -5px 5px 8px -2px rgba(6,18,28,0.5);
          -moz-box-shadow: inset -5px 5px 8px -2px rgba(6,18,28,0.5);
          box-shadow: inset -5px 5px 8px -2px rgba(6,18,28,0.5);
        }
      }

      .addLanguageButton {
        color: #2c82c9;
        cursor: pointer;

        &:active {
          color: darken(#2c82c9, 15%);
        }
      }
    }
  }

  .sumContainer {
    margin-top: 20px;
    margin-bottom: 20px;

    .sumDisplay {
      font-size: 20pt;
      float: right;
    }
  }

  .dropdown {
    margin-top: 20px;
  }

  .dropdownContainer {
    > div {
      margin-bottom: 20px;
      margin-left: 20px;
    }

    p {
      margin-left: 20px;
      color: #9a9a9a;

      &.errorText {
        color: black;
        font-size: large;
        margin-bottom: 0;
      }
    }

    .selectError {
      outline: 2px solid red;
    }
  }

  .headerRow {
    padding: 10px;
    background-color: #fff;
  }

  .contentRow {
    background-color: #fff;

    .advisorText {
      margin-left: 40px;
      color: #9a9a9a;
    }
  }

  .rightMiddleHeader h5 {
    margin-left: 40px;
    margin-bottom: 20px;
  }

  .purchaseButtonContainer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -8%;

    .purchaseButton {
      border: none;
      background-color: #2c82c9;
      color: white;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      width: 35%;
      font-size: 19pt;
      -webkit-box-shadow: 0 0 10px 0 rgba(44,130,201,0.5);
      -moz-box-shadow:    0 0 10px 0 rgba(44,130,201,0.5);
      box-shadow:         0 0 10px 0 rgba(44,130,201,0.5);

      &:active {
        background-color: darken(#2c82c9, 15%);
        -webkit-box-shadow: inset -5px 5px 8px -2px rgba(6,18,28,0.5);
        -moz-box-shadow: inset -5px 5px 8px -2px rgba(6,18,28,0.5);
        box-shadow: inset -5px 5px 8px -2px rgba(6,18,28,0.5);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .checkboxes {
    li {
      list-style: none;
    }

    label {
      margin-left: 5px;
    }

    .cbUncheckedLabel {
      color: lighten(#777582, 25%);
    }

    i {
      font-size: 20pt;
      vertical-align: middle;

      &.cbChecked:before {
        color: #2dcc56;
      }
    }

    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      cursor: pointer;
    }

    .counter {
      display: inline;
      color: #2c82c9;
      margin-left: 5px;
    }

    .buttonRow {
      display: inline;

      .checkboxButton {
        border: none;
        background-color: white;
        cursor: pointer;
        padding: 0;
        margin-left: 10px;

        i:before {
          color: #2c82c9;
        }

        &:focus {
          outline: none;
        }

        &:active {
          i:before {
            color: darken(#2c82c9, 15%);
          }
        }
      }
    }
  }
}