@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";

.img-container {
  margin: 0 auto 20px;
  width: 20%;
}

.checkBoxFix {
  > div {
    display: block !important;

    div[class="react-toggle-track"] {
      background-color: $gray-lighter !important;
    }

    div[class="react-toggle-thumb"] {
      border-color: $gray !important;
    }
  }
}

.invisible {
  display: none;
}

.price-table {
  background-color: $gray-lightest;
  font-family: $font-family-base;
  width: 100%;
  display: table;

  .selector-table {
    display: table;
    width: 100%;

    .selector-table-row {
      display: table-row;

      .selectorTableCellSelected {
        color: $brand-focus;
      }

      .selectorTableCellLeft {
        display: table-cell;
        width: 50%;
        text-align: right;
        vertical-align: middle;
        padding: 0 1rem;
      }

      .selectorTableCellMiddle {
        display: table-cell;
        vertical-align: middle;
      }

      .selectorTableCellRight {
        display: table-cell;
        width: 50%;
        text-align: left;
        vertical-align: middle;
        padding: 0 1rem;
      }
    }
  }

  .priceTableHeader {
    text-align: center;
    font-size: 31pt;
    color: $brand-grey-dark;
    margin-bottom: 30px;
    margin-top: 30px;

    hr.blueDivider {
      border: 2px solid $brand-focus;
      width: 25%
    }
  }

  .price_container {
    margin: 40px auto;

    .price_table_element {
      background-color: white;
      text-align: center;
      height: 100%;
      padding-bottom: 40px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 5px;
      font-size: 11pt;

      .discountText {
        color: $brand-success;
      }

      h3 {
        font-size: 1.5rem;

        span {
          font-size: 11pt;
        }
      }

      &.popularElement {
        box-shadow: 0 0 30px  -1px rgba(200, 200, 200, 0.5);
        border: 1px solid darken($gray-lightest, 10%);
      }

      .tagContainer {
        width: 100%;

        @media (min-width: 1200px) {
          .tag {
            float: right;
            margin: 15px 30px 0 0;
            padding: 3px 10px;
            font-size: 90%;
          }
          .pseudotag {
            float: right;
            margin: 15px 30px 0 0;
            font-size: 90%;
            visibility: hidden;
          }
        }
      }

      .infoContainer {
        width: 90%;
        margin: auto;
      }

      .horizontalDividerShort {
        width: 33%;
        border-color: $gray-lightest;
      }

      .horizontalDividerLong {
        width: 95%;
        border-color: $gray-lightest;
      }

      p {
        margin-bottom: 0.6rem;
      }

      .purchase_button {
        font-size: 14pt;
        background-color: $brand-focus;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        width: 50%;
        color: white;
        border: none;
        height: 40px;
        position: absolute;
        left: 25%;
        bottom: -20px;
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(44, 130, 201, 0.5);

        &:focus {
          outline: none;
        }

        &:active {
          background-color: darken($brand-focus, 15%);
          box-shadow: inset -5px 5px 8px -2px rgba(6, 18, 28, 0.5);
        }
      }
    }
  }

  .customPackage {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 15px;

    button {
      font-size: 14pt;
      background-color: $brand-focus;
      border-radius: 20px;
      width: 60%;
      color: white;
      border: none;
      height: 33px;
      cursor: pointer;
      box-shadow: 0 0 10px 0 rgba(44, 130, 201, 0.5);

      &:focus {
        outline: none;
      }

      &:active {
        background-color: darken($brand-focus, 15%);
        box-shadow: inset -5px 5px 8px -2px rgba(6, 18, 28, 0.5);
      }
    }
  }
}