<input type="checkbox" name="{{ name }}" class="custom-control-input"
    {{#isChecked}} checked="checked" {{/isChecked}}
    {{#id}} id="{{ id }}" {{/id}}
    {{#value}} value="{{ value }}" {{/value}} />