<div class="{{ dropdown.class }}">
	<button class="btn {{ btnClass }} dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    {{{ dropdown.btnCaption }}}
	</button>
	<ul class="{{ dropdown.menuClass }}" aria-labelledby="dropdownMenu1">
        {{# dropdown.header }}<h6 class="dropdown-header">{{dropdown.header}}</h6>{{/dropdown.header}}
		{{# dropdownList }}
		<li {{# listItemClass }} class="{{ listItemClass }}"{{/ listItemClass }}>
            <a href="{{ url }}">{{{ text }}}</a>
        </li>
		{{/ dropdownList }}
	</ul>
</div>
