/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/dropdown";

/*=========================================================================
  Molecules Dropdown
 ========================================================================== */
.no-icon:after {
  content: initial;
  border: none;
}

.dropdown-item {
  cursor: pointer;;
}

