/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/variables";
@import "../../00-atoms/icons/icons";
@import "~bootstrap/scss/dropdown";

/*=========================================================================
  Molecules Dropdown
 ========================================================================== */
.no-icon:after {
  content: initial;
  border: none;
}

.dropdown-item {
  cursor: pointer;;
}

.dropdown-toggle {
  &:after {
    width: auto;
    height: auto;
    border: none;
    content: $aa-icon-caret-down;

    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'app-arena-icons' !important;
    display: inline-block;
    text-rendering: auto;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}