<div class="dropdown {{ dropdown.class }}">
    <a class="dropdown-toggle {{ dropdown.btnClass }}" href="#" id="{{ dropdown.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{{ dropdown.btnCaption }}}
    </a>
    <div class="{{ dropdown.menuClass }}" aria-labelledby="{{ dropdown.id }}">
        {{# dropdown.header }}<h6 class="dropdown-header">{{dropdown.header}}</h6>{{/dropdown.header}}
        {{# dropdown.items }}
            <a {{# class }} class="{{ class }}"{{/ class }} href="{{ url }}">{{{ text }}}</a>
        {{/ dropdown.items }}
    </div>
</div>
