/* Custom bootstrap cards */
.card-secondary {
  @include card-variant(theme-color("secondary"), theme-color("secondary"));
}
.card-focus {
  @include card-variant(theme-color("primary"), theme-color("primary"));
}
.card-grey-dark {
  @include card-variant($gray-900, $gray-900);
}
.card-grey-light {
  @include card-variant($gray-600, $gray-600);
}

// Fix bootstrap img-overlay bug, when using a card header
.card-img {
  position: relative;
}

/* Entity cards list styling */
.t-entity-list .card-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}