/* Custom bootstrap cards */
.card-secondary {
  @include card-variant($brand-secondary, $brand-secondary);
}
.card-focus {
  @include card-variant($brand-focus, $brand-focus);
}
.card-grey-dark {
  @include card-variant($brand-grey-dark, $brand-grey-dark);
}
.card-grey-light {
  @include card-variant($brand-grey-light, $brand-grey-light);
}

// Fix bootstrap img-overlay bug, when using a card header
.card-img {
  position: relative;
}

/* Entity cards list styling */
.l-entity-list .card-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}