/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "~bootstrap/scss/modal";

/*=========================================================================
  Molecules Filter bar
 ========================================================================== */

.filter-bar {
	border: 1px solid $card-border-color;
	display: flex;
	justify-content: space-between;
}
.filter-bar-search {
	flex: 1;
}