/**
 * Navbar
 */
.navbar-brand {
	height: 40px;
	padding: 10px 0;
	margin-right: 2rem;

	> img {
		height: 20px;
	}
}

/**
  * Top navigations
  */
.o-nav {

}

/**
 * Primary top navigation
 */
.o-nav-primary {
	> .nav {
		margin-top: 20px;
	}
}

/**
 * Secondary top navigation
 */
.o-nav-secondary {
	padding:15px;
	border-bottom: 1px solid $gray-lighter;
}

