<link href="//refreshless.com/noUiSlider/distribute/nouislider.min.css" rel="stylesheet">
<script src="//refreshless.com/nouislider/documentation/assets/wNumb.js"></script>
<script src="//refreshless.com/noUiSlider/distribute/nouislider.js"></script>
{{> organisms-header }}
<main role="main">
    <div class="pds_header">
        <div class="col-md-12 text-xs-center mt-2 m-b-1" id="page_title">
            <h1>{{{ header }}}</h1>
        </div>
        <div class="text-xs-center" id="btn_live_demo">
            <a href="https://app-arena.adventskalender.co/" target="_blank">
                {{#buttons.btn_live_demo}}
                    {{> atoms-button }}
                {{/buttons.btn_live_demo}}
            </a>
            <a href="https://v25-stage.app-arena.com/apps/create?templateId=299&templateName=Adventskalender%20Demo">
                {{#buttons.btn_get_demo}}
                    {{> atoms-button }}
                {{/buttons.btn_get_demo}}
            </a>
        </div>
        <div class="col-md-6 mx-auto" id="product_img"><img class="img-fluid mx-auto m-b-2 mt-2 d-block"
                                                             src="https://www.app-arena.com/media/catalog/product/a/d/adventskalender_laptop_ohne_stoerer.png"
                                                             alt=""
                                                             style="width: 80%;">
        </div>
    </div>
    <hr>
    <div class="row text-xs-center" id="pds_advantages">
        <div class="col-md-12 text-xs-center ma-1">
            <h3>{{{ advantages.title }}}</h3>
        </div>
        <div class="col-md-3">
            <ul class="fa-ul">
                <li><i class="fa fa-check" aria-hidden="true"></i> {{{ advantages.advantage_01 }}}</li>
                <li>{{{ advantages.advantage_01_desc }}}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="fa-ul">
                <li><i class="fa fa-check" aria-hidden="true"></i> {{{ advantages.advantage_02 }}}</li>
                <li>{{{ advantages.advantage_02_desc }}}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="fa-ul">
                <li><i class="fa fa-check" aria-hidden="true"></i> {{{ advantages.advantage_03 }}} </li>
                <li>{{{ advantages.advantage_03_desc }}}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="fa-ul">
                <li><i class="fa fa-check" aria-hidden="true"></i> {{{ advantages.advantage_04 }}} </li>
                <li>{{{ advantages.advantage_04_desc }}}</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="col-md-12 text-xs-center" id="feature_block">
        {{#features}}
            <h3>{{ title }}</h3>
        {{/features}}
    </div>
    {{#features}}
        {{> organisms-features}}
    {{/features}}
    <hr>
    <div class="col-md-12 text-xs-center" id="references_block">
        {{#references}}
            <h3>{{ title }}</h3>
        {{/references}}
    </div>
    {{#sliders.referenceSlider}}
        {{> organisms-references}}
    {{/sliders.referenceSlider}}
    <hr>
    <div class="m-b-1" id="blog_article_block">
        <div class="row">
            <div class="col-md-3 col-xs-10 offset-xs-1 offset-md-2" id="left_column">
                <img class="img-fluid mx-auto m-b-2 mt-2 d-block" src="{{ blog.article_img }}" alt="">
            </div>
            <div class="col-md-6 mt-2 m-b-2" id="right_column">
                <h3 style="text-align:center">"{{ blog.article_title }}"</h3>
                <div class="col-xs-8 text-xs-center offset-xs-2">
                    <p>{{ blog.article_desc }}
                    </p>
                </div>
                <div class="col-xs-8 offset-xs-2">
                    <a href="https://blog.app-arena.com/2016/08/adventskalender-app-so-gestalten-sie-eine-erfolgreiche-weihnachts-kampagne-2/"
                       target="_blank">
                        {{#buttons.btn_read-more}}
                            {{> atoms-button }}
                        {{/buttons.btn_read-more}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 m-b-2 mt-2" id="webinar_block">
        <div class="text-xs-center ma-2">
            {{# webinar}}
                <h3>{{ title }}</h3>
            {{/webinar}}
        </div>
        <div class="row">
            <div class="col-md-4 text-xs-center offset-md-2">
                {{# webinar}}
                    <h4>{{ desc }}</h4>
                {{/webinar}}
            </div>
            <div class="col-md-6 text-md-left text-xs-center">
                <div class="m-b-1">
                    {{# input_01}}
                        {{> atoms-text-field }}
                    {{/input_01}}
                </div>
                <div class="m-b-1">
                    {{# input_02}}
                        {{> atoms-text-field }}
                    {{/input_02}}
                </div>
                <div>
                    <a href="https://attendee.gotowebinar.com/rt/9023417426519313412?utm_source=shop_promo_header&utm_medium=link&utm_campaign=shop_promo_header" target="_blank">
                        {{#buttons.btn_webinar-request}}
                            {{> atoms-button }}
                        {{/buttons.btn_webinar-request}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 m-b-2 mt-2 text-xs-center" id="feedback_block">
        <h3 style="text-align:center">{{ sliders.feedbackSlider.title }} </h3>
        {{#sliders.feedbackSlider}}
            {{> organisms-slider }}
        {{/sliders.feedbackSlider}}
    </div>
    <hr>
    <div class="col-md-12 m-b-2 mt-2" id="extended_info">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <div class="card">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="link_01" href="#">{{ extended.tabs.tab_01.title }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link_02">{{ extended.tabs.tab_02.title }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link_03">{{ extended.tabs.tab_03.title }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="link_04">{{ extended.tabs.tab_04.title }}</a>
                        </li>
                    </ul>
                    <ul class="ma-3">
                        <li> Facebook</li>
                        <li> Google +</li>
                        <li> ...</li>
                        <li> ...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-md-12 m-b-2 mt-2 text-xs-center" id="branch_solutions_block">
        {{#branchsolutions }}
            <h3>{{ title }}</h3>
        {{/branchsolutions}}
        {{#sliders.branchsolutionsSlider}}
            {{> organisms-slider }}
        {{/sliders.branchsolutionsSlider}}
    </div>
    <hr>
    <div class="col-md-12 m-b-2 mt-2 text-xs-center" id="pricing_block">
    {{#pricing }}
        <h3>{{ title }}</h3>
    {{/pricing }}
        <div class="card offset-md-2 col-md-8">
            <div class="card-block">

                <div class="intro text-xs-center m-b-1">
                    <p class="lead">
                        Wähle ein vordefiniertes Paket oder stelle deine Leistungen individuell zusammen
                    </p>
                    <div class="btn-group btn-group-lg" role="group" aria-label="Large button group"
                         data-toggle="buttons">
                        <button type="button" class="btn btn-secondary" data-toggle="collapse"
                                data-parent="#serviceConfigurator"
                                href="#servicesIncluded" aria-expanded="false" aria-controls="servicesIncluded">
                            <input type="radio" name="servicePackage" checked autocomplete="off"> Starter
                        </button>
                        <button type="button" class="btn btn-secondary active" data-toggle="collapse"
                                data-parent="#serviceConfigurator"
                                href="#servicesIncluded" aria-expanded="false" aria-controls="servicesIncluded">
                            <input type="radio" name="servicePackage" autocomplete="off"> Standard
                        </button>
                        <button type="button" class="btn btn-secondary" data-toggle="collapse"
                                data-parent="#serviceConfigurator"
                                href="#servicesIncluded" aria-expanded="false" aria-controls="servicesIncluded">
                            <input type="radio" name="servicePackage" autocomplete="off"> Plus
                        </button>
                        <button type="button" class="btn btn-secondary" data-toggle="collapse"
                                data-parent="#serviceConfigurator"
                                href="#servicesIncluded" aria-expanded="false" aria-controls="servicesIncluded">
                            <input type="radio" name="servicePackage" autocomplete="off"> Enterprise
                        </button>
                        <button type="button" class="btn btn-secondary" data-toggle="collapse"
                                data-parent="#serviceConfigurator"
                                href="#servicesCustom" aria-expanded="false" aria-controls="servicesCustom">
                            <input type="radio" name="servicePackage" autocomplete="off"> Individuell
                        </button>
                    </div>
                    <h4 class="my-2">1.129 € zzgl. MwSt</h4>
                </div>
                <div id="serviceConfigurator">
                    <div id="servicesIncluded" class="collapse in">
                        <table class="table m-b-0">
                            <tbody>
                            <tr>
                                <th scope="row">Service Anspruch</th>
                                <td>
                                    <p><strong>4 Service Stunden</strong> für folgende Leistungen</p>
                                    <ul class="fa-ul m-b-0">
                                        <li><i class="fa-li fa fa-check text-success"></i><abbr title="attribute">CSS
                                            Anpassungen</abbr></li>
                                        <li><i class="fa-li fa fa-check text-success"></i>Grafik-Erstellung</li>
                                        <li class="text-muted"><i class="fa-li fa fa-times"></i> Werbemanagement</li>
                                        <li class="text-muted"><i class="fa-li fa fa-times"></i> Abschlussbericht</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Laufzeit</th>
                                <td>
                                    <strong>2 Monate</strong>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Sprachen</th>
                                <td>
                                    <strong>1 Sprache</strong>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Kanäle zur Veröffentlichung</th>
                                <td>
                                    <ul class="fa-ul m-b-0">
                                        <li><i class="fa-li fa fa-check text-success"></i>
                                            <strong>Kampagnenseite</strong></li>
                                        <li><i class="fa-li fa fa-check text-success"></i> <strong>1 Facebook
                                            Fanseite</strong></li>
                                        <li class="text-muted"><i class="fa-li fa fa-times"></i> Webseiteneinbindung
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Domain der Kampagnenseite</th>
                                <td>
                                    <ul class="fa-ul m-b-0">
                                        <li><i class="fa-li fa fa-check text-success"></i> Eigene Subdomain</li>
                                        <li class="text-muted"><i class="fa-li fa fa-times"></i> Eigene Domain</li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="servicesCustom" class="collapse">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Service Anspruch und Leistungen</th>
                                <td>
                                    <p>Service-Stunden</p>
                                    <div class="slider m-b-3">
                                        <div id="servicePackageSlider"></div>
                                    </div>

                                    <ul class="fa-ul m-b-0">
                                        <li>
                                            <i class="fa-li fa fa-check text-success"></i>CSS Anpassungen <span
                                                class="tag tag-default pull-right">ab 1 Service Stunde</span>
                                        </li>
                                        <li>
                                            <i class="fa-li fa fa-check text-success"></i>Grafik-Erstellung <span
                                                class="tag tag-default pull-right">ab 4 Service Stunden</span>
                                        </li>
                                        <li>
                                            <i class="fa-li fa fa-times"></i>Werbemanagement <span
                                                class="tag tag-default pull-right">ab 10 Service Stunden</span>
                                        </li>
                                        <li>
                                            <i class="fa-li fa fa-times"></i>Abschluss-Report <span
                                                class="tag tag-default pull-right">ab 10 Service Stunden</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Laufzeit in Monaten</th>
                                <td>
                                    <div class="slider m-b-3">
                                        <div id="licenseSlider"></div>
                                    </div>
                                    <!--<h3 id="licenseValue"></h3>-->
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Sprachen</th>
                                <td>
                                    <p>Sie haben <strong>2 Sprachen</strong> im Paket enthalten</p>

                                    <ul class="fa-ul m-b-0">
                                        <li>
                                            <i class="fa-li fa fa-check text-success"></i>
                                            <img src="../../images/flags/24/de.png" alt=""> Deutsch
                                            <a href="ä">Sprache ändern</a>
                                        </li>
                                        <li>
                                            <i class="fa-li fa fa-check text-success"></i>
                                            <img src="../../images/flags/24/gb.png" alt=""> Englisch
                                            <a href="ä">Sprache ändern</a>
                                        </li>
                                    </ul>

                                    <p>
                                        <a href="#">Weitere Sprache dazu buchen</a> (ab 99 €)
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Kanäle zur Veröffentlichung</th>
                                <td>
                                    <p class="text-muted">Wähle über welche Kanäle die App veröffentlicht werden
                                        soll.</p>
                                    <ul class="fa-ul m-b-0">
                                        <li><i class="fa-li fa fa-check text-success"></i> Kampagnenseite</li>
                                        <li><i class="fa-li fa fa-check text-success"></i> 1 Facebook Fanseite <a
                                                href="#">Fanseiten
                                            dazu buchen</a></li>
                                        <li><i class="fa-li fa fa-times"></i> Einbindung in Webseite <a href="#">Webseiten
                                            dazu
                                            buchen</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Domain der Kampagnenseite</th>
                                <td>
                                    <ul class="fa-ul m-b-0">
                                        <li><i class="fa-li fa fa-check text-success"></i> Eigene Subdomain (z.B.
                                            sparkasse.fotowettbewerb.de)
                                        </li>
                                        <li><i class="fa-li fa fa-times"></i> Eigene Domain (z.B.
                                            www.sparkasse-fotowettbewerb.de)
                                            <a href="#">Domain buchen (+199€)</a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row m-b-2 mt-2" id="newsletter-block">
        <div class="offset-md-2 col-md-6 col-xs-11 text-xs-center pl-3">
            <div>
                <p>{{ newsletter.desc }}</p>
            </div>
        </div>
        <div class="col-md-4 text-md-left text-xs-center">
            <div>
                {{# input_01}}
                    {{> atoms-text-field }}
                {{/input_01}}
            </div>
        </div>
        <div class="col-md-12 text-xs-center">
            <div class="m-b-1 mt-1 row" id="nl_types">
                <div class="col-md-2 offset-md-2 col-xs-6">
                    {{> atoms-checkbox }} {{ newsletter.types.type_01 }}
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} {{ newsletter.types.type_02 }}
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} {{ newsletter.types.type_03 }}
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} {{ newsletter.types.type_04 }}
                </div>
            </div>
        </div>
        <div class="col-md-12 nl-signup-btn text-xs-center">
            {{#buttons.btn_signup_nl}}
                {{> atoms-button }}
            {{/buttons.btn_signup_nl}}
        </div>
    </div>
    <div class="push"></div>
</main>
{{> organisms-footer }}
<script type="application/javascript">
    var servicePackageSlider = document.getElementById('servicePackageSlider'),
            servicePackageValue = document.getElementById('servicePackageValue'),
            licenseSlider = document.getElementById('licenseSlider'),
            licenseValue = document.getElementById('licenseValue');

    noUiSlider.create(licenseSlider, {
        start: 1,
        step: 1,
        format: wNumb({
            decimals: 0
        }),
        range: {
            'min': 1,
            'max': 24
        },
        pips: {
            mode: 'steps',
            density: 24,
            format: wNumb({
                decimals: 0
            })
        }
    });

    // Note how these are 'string' values, not numbers.
    licenseSlider.noUiSlider.on('update', function (values, handle) {
        //licenseValue.innerHTML = values + ' Tage';
    });

    noUiSlider.create(servicePackageSlider, {
        start: 0,
        step: 1,
        format: wNumb({
            decimals: 0
        }),
        range: {
            'min': 0,
            'max': 24
        },
        pips: {
            mode: 'steps',
            density: 24,
            format: wNumb({
                decimals: 0
            })
        }
    });

    // Note how these are 'string' values, not numbers.
    servicePackageSlider.noUiSlider.on('update', function (values, handle) {
        //servicePackageValue.innerHTML = values + ' Tage';
    });

</script>

