@font-face {
  font-family: 'app-arena-website';
  src:  url('fonts/app-arena-website.eot?e4uh9c');
  src:  url('fonts/app-arena-website.eot?e4uh9c#iefix') format('embedded-opentype'),
    url('fonts/app-arena-website.ttf?e4uh9c') format('truetype'),
    url('fonts/app-arena-website.woff?e4uh9c') format('woff'),
    url('fonts/app-arena-website.svg?e4uh9c#app-arena-website') format('svg');
  font-weight: normal;
  font-style: normal;
}

.aa-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app-arena-website' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aa-icon-arrow-right:before {
  content: "\2192";
}
.aa-icon-arrow-right-circle:before {
  content: "\21e2";
}
.aa-icon-Neue_Nutzerdaten_generieren_fill:before {
  content: "\1f4ca";
}
.aa-icon-aa-analytics:before {
  content: "\1f4c8";
}

