@font-face {
  font-family: 'app-arena-website';
  src:  url('fonts/app-arena-website.eot?5p9lyr');
  src:  url('fonts/app-arena-website.eot?5p9lyr#iefix') format('embedded-opentype'),
    url('fonts/app-arena-website.ttf?5p9lyr') format('truetype'),
    url('fonts/app-arena-website.woff?5p9lyr') format('woff'),
    url('fonts/app-arena-website.svg?5p9lyr#app-arena-website') format('svg');
  font-weight: normal;
  font-style: normal;
}

.aa-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app-arena-website' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aa-icon-browser:before {
  content: "\e900";
}
.aa-icon-bullhorn:before {
  content: "\1f4ef";
}
.aa-icon-chart:before {
  content: "\1f4c9";
}
.aa-icon-check:before {
  content: "\2714";
}
.aa-icon-chevron-down:before {
  content: "\2304";
}
.aa-icon-chevron-left:before {
  content: "\2039";
}
.aa-icon-chevron-right:before {
  content: "\203a";
}
.aa-icon-chevron-up:before {
  content: "\2c4";
}
.aa-icon-circle:before {
  content: "\20dd";
}
.aa-icon-close:before {
  content: "\2297";
}
.aa-icon-cloud-upload:before {
  content: "\2601";
}
.aa-icon-cog:before {
  content: "\2699";
}
.aa-icon-comment-chart:before {
  content: "\e90c";
}
.aa-icon-digital-chart:before {
  content: "\e90d";
}
.aa-icon-download:before {
  content: "\e90e";
}
.aa-icon-exclamation-circle:before {
  content: "\fe57";
}
.aa-icon-external-link:before {
  content: "\1f517";
}
.aa-icon-eye:before {
  content: "\1f440";
}
.aa-icon-file-pdf:before {
  content: "\1f4c2";
}
.aa-icon-file:before {
  content: "\1f4c1";
}
.aa-icon-flag:before {
  content: "\2691";
}
.aa-icon-grid-full:before {
  content: "\a81f";
}
.aa-icon-grid-two:before {
  content: "\25e8";
}
.aa-icon-heart-filled:before {
  content: "\2665";
}
.aa-icon-heart:before {
  content: "\2661";
}
.aa-icon-info-circle:before {
  content: "\2139";
}
.aa-icon-label:before {
  content: "\e0023";
}
.aa-icon-line-chart:before {
  content: "\1f4b9";
}
.aa-icon-lock:before {
  content: "\1f512";
}
.aa-icon-log-in:before {
  content: "\20ef";
}
.aa-icon-log-out:before {
  content: "\20ee";
}
.aa-icon-menu-circle:before {
  content: "\e91f";
}
.aa-icon-minus:before {
  content: "\208b";
}
.aa-icon-mouse-click:before {
  content: "\298";
}
.aa-icon-pencil-circle:before {
  content: "\2710";
}
.aa-icon-pencil:before {
  content: "\270e";
}
.aa-icon-play-circle:before {
  content: "\e924";
}
.aa-icon-plus:before {
  content: "\2295";
}
.aa-icon-responsive:before {
  content: "\1f4bb";
}
.aa-icon-search-circle:before {
  content: "\1f50e";
}
.aa-icon-search:before {
  content: "\1f50d";
}
.aa-icon-shield:before {
  content: "\101db";
}
.aa-icon-sort-amount-asc:before {
  content: "\e92a";
}
.aa-icon-sort-amount-desc:before {
  content: "\e92b";
}
.aa-icon-star:before {
  content: "\2605";
}
.aa-icon-time:before {
  content: "\1f553";
}
.aa-icon-upload:before {
  content: "\e92e";
}
.aa-icon-user-circle:before {
  content: "\1f471";
}
.aa-icon-user:before {
  content: "\1f64e";
}
.aa-icon-users:before {
  content: "\e931";
}
.aa-icon-slider-arrow-left:before {
  content: "\2b9c";
}
.aa-icon-slider-arrow-right:before {
  content: "\2b9e";
}
.aa-icon-arrow-right:before {
  content: "\2192";
}
.aa-icon-arrow-right-circle:before {
  content: "\21e2";
}
.aa-icon-Neue_Nutzerdaten_generieren_fill:before {
  content: "\1f4ca";
}
.aa-icon-aa-analytics:before {
  content: "\1f4c8";
}

