@import "variables";

@font-face {
  font-family: 'app-arena-website';
  src:  url('#{$icomoon-font-path}/app-arena-website.eot?5s50kw');
  src:  url('#{$icomoon-font-path}/app-arena-website.eot?5s50kw#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/app-arena-website.ttf?5s50kw') format('truetype'),
    url('#{$icomoon-font-path}/app-arena-website.woff?5s50kw') format('woff'),
    url('#{$icomoon-font-path}/app-arena-website.svg?5s50kw#app-arena-website') format('svg');
  font-weight: normal;
  font-style: normal;
}

.aa-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app-arena-website' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aa-icon-slider-arrow-left {
  &:before {
    content: $aa-icon-slider-arrow-left;
  }
}
.aa-icon-slider-arrow-right {
  &:before {
    content: $aa-icon-slider-arrow-right;
  }
}
.aa-icon-arrow-right {
  &:before {
    content: $aa-icon-arrow-right;
  }
}
.aa-icon-arrow-right-circle {
  &:before {
    content: $aa-icon-arrow-right-circle;
  }
}
.aa-icon-Neue_Nutzerdaten_generieren_fill {
  &:before {
    content: $aa-icon-Neue_Nutzerdaten_generieren_fill;
  }
}
.aa-icon-aa-analytics {
  &:before {
    content: $aa-icon-aa-analytics;
  }
}

