$icomoon-font-path: "fonts" !default;

$aa-icon-key: "\e901";
$aa-icon-layers: "\e031";
$aa-icon-share: "\e081";
$aa-icon-ellipsis: "\e129";
$aa-icon-browser: "\e900";
$aa-icon-bullhorn: "\1f4ef";
$aa-icon-chart: "\1f4c9";
$aa-icon-check: "\2714";
$aa-icon-chevron-down: "\2304";
$aa-icon-chevron-left: "\2039";
$aa-icon-chevron-right: "\203a";
$aa-icon-chevron-up: "\2c4";
$aa-icon-circle: "\20dd";
$aa-icon-close: "\2297";
$aa-icon-cloud-upload: "\2601";
$aa-icon-cog: "\2699";
$aa-icon-comment-chart: "\e90c";
$aa-icon-digital-chart: "\e90d";
$aa-icon-download: "\e90e";
$aa-icon-exclamation-circle: "\fe57";
$aa-icon-external-link: "\1f517";
$aa-icon-eye: "\1f440";
$aa-icon-file-pdf: "\1f4c2";
$aa-icon-file: "\1f4c1";
$aa-icon-flag: "\2691";
$aa-icon-grid-full: "\a81f";
$aa-icon-grid-two: "\25e8";
$aa-icon-heart-filled: "\2665";
$aa-icon-heart: "\2661";
$aa-icon-info-circle: "\2139";
$aa-icon-label: "\e0023";
$aa-icon-line-chart: "\1f4b9";
$aa-icon-lock: "\1f512";
$aa-icon-log-in: "\20ef";
$aa-icon-log-out: "\20ee";
$aa-icon-menu-circle: "\e91f";
$aa-icon-minus: "\208b";
$aa-icon-mouse-click: "\298";
$aa-icon-pencil-circle: "\2710";
$aa-icon-pencil: "\270e";
$aa-icon-play-circle: "\e924";
$aa-icon-plus: "\2295";
$aa-icon-responsive: "\1f4bb";
$aa-icon-search-circle: "\1f50e";
$aa-icon-search: "\1f50d";
$aa-icon-shield: "\101db";
$aa-icon-sort-amount-asc: "\e92a";
$aa-icon-sort-amount-desc: "\e92b";
$aa-icon-star: "\2605";
$aa-icon-time: "\1f553";
$aa-icon-upload: "\e92e";
$aa-icon-user-circle: "\1f471";
$aa-icon-user: "\1f64e";
$aa-icon-users: "\e931";
$aa-icon-slider-arrow-left: "\2b9c";
$aa-icon-slider-arrow-right: "\2b9e";
$aa-icon-arrow-right: "\2192";
$aa-icon-arrow-right-circle: "\21e2";
$aa-icon-Neue_Nutzerdaten_generieren_fill: "\1f4ca";
$aa-icon-aa-analytics: "\1f4c8";
$aa-icon-question-circle: "\f059";
$aa-icon-facebook: "\f082";
$aa-icon-thumbs-o-up: "\f087";
$aa-icon-calendar: "\f133";

