$icomoon-font-path: "fonts" !default;

$aa-icon-arrow-down: "\e901";
$aa-icon-arrow-left: "\e902";
$aa-icon-arrow-up: "\e903";
$aa-icon-balance-scale: "\e904";
$aa-icon-bar-chart: "\e905";
$aa-icon-bell: "\e906";
$aa-icon-bolt-o: "\e907";
$aa-icon-bolt: "\e908";
$aa-icon-box: "\e909";
$aa-icon-browser-plus: "\e90a";
$aa-icon-brush: "\e90b";
$aa-icon-calendar: "\e90f";
$aa-icon-caret-down: "\e910";
$aa-icon-caret-left: "\e911";
$aa-icon-caret-right: "\e912";
$aa-icon-caret-up: "\e913";
$aa-icon-circle-o-notch: "\e914";
$aa-icon-clipboard: "\e915";
$aa-icon-cog-star: "\e916";
$aa-icon-colors: "\e917";
$aa-icon-comment-text: "\e918";
$aa-icon-comment: "\e919";
$aa-icon-crop: "\e91a";
$aa-icon-css: "\e91b";
$aa-icon-customer: "\e91c";
$aa-icon-desktop: "\e91d";
$aa-icon-domain: "\e91e";
$aa-icon-dot-circle-o: "\e920";
$aa-icon-ellipsis: "\e921";
$aa-icon-facebook-app: "\e922";
$aa-icon-facebook-apps: "\e923";
$aa-icon-facebook: "\e925";
$aa-icon-flag-checkered: "\e926";
$aa-icon-floppy: "\e927";
$aa-icon-gallery: "\e928";
$aa-icon-github: "\e929";
$aa-icon-globe-filled: "\e92c";
$aa-icon-globe: "\e92d";
$aa-icon-google-plus: "\e92f";
$aa-icon-graduation-cap: "\e930";
$aa-icon-html: "\e932";
$aa-icon-image: "\e933";
$aa-icon-key: "\e934";
$aa-icon-lightbulb: "\e935";
$aa-icon-like-plus: "\e936";
$aa-icon-link: "\e937";
$aa-icon-list: "\e938";
$aa-icon-mail: "\e939";
$aa-icon-mobile-check: "\e93a";
$aa-icon-mobile: "\e93b";
$aa-icon-multi-select: "\e93c";
$aa-icon-newsletter: "\e93d";
$aa-icon-paper-plane-o: "\e93e";
$aa-icon-plug: "\e93f";
$aa-icon-pointer: "\e940";
$aa-icon-popularity: "\e941";
$aa-icon-question-circle-filled: "\e942";
$aa-icon-question-circle: "\e943";
$aa-icon-refresh: "\e944";
$aa-icon-scale: "\e945";
$aa-icon-select: "\e946";
$aa-icon-share: "\e947";
$aa-icon-stadion: "\e948";
$aa-icon-tablet: "\e949";
$aa-icon-target: "\e94a";
$aa-icon-text: "\e94b";
$aa-icon-thumbs-o-up: "\e94c";
$aa-icon-thumbs: "\e94d";
$aa-icon-ticket: "\e94e";
$aa-icon-time-filter: "\e94f";
$aa-icon-tool: "\e950";
$aa-icon-trash: "\e951";
$aa-icon-trophy: "\e952";
$aa-icon-twitter: "\e953";
$aa-icon-two-users: "\e954";
$aa-icon-user-minus: "\e955";
$aa-icon-user-refresh: "\e956";
$aa-icon-user-up: "\e957";
$aa-icon-whatsapp: "\e958";
$aa-icon-youtube: "\e959";
$aa-icon-browser: "\e900";
$aa-icon-bullhorn: "\1f4ef";
$aa-icon-chart: "\1f4c9";
$aa-icon-check: "\2714";
$aa-icon-chevron-down: "\2304";
$aa-icon-chevron-left: "\2039";
$aa-icon-chevron-right: "\203a";
$aa-icon-chevron-up: "\2c4";
$aa-icon-circle: "\20dd";
$aa-icon-close: "\2297";
$aa-icon-cloud-upload: "\2601";
$aa-icon-cog: "\2699";
$aa-icon-comment-chart: "\e90c";
$aa-icon-digital-chart: "\e90d";
$aa-icon-download: "\e90e";
$aa-icon-exclamation-circle: "\fe57";
$aa-icon-external-link: "\1f517";
$aa-icon-eye: "\1f440";
$aa-icon-file-pdf: "\1f4c2";
$aa-icon-file: "\1f4c1";
$aa-icon-flag: "\2691";
$aa-icon-grid-full: "\a81f";
$aa-icon-grid-two: "\25e8";
$aa-icon-heart-filled: "\2665";
$aa-icon-heart: "\2661";
$aa-icon-info-circle: "\2139";
$aa-icon-label: "\e0023";
$aa-icon-line-chart: "\1f4b9";
$aa-icon-lock: "\1f512";
$aa-icon-log-in: "\20ef";
$aa-icon-log-out: "\20ee";
$aa-icon-menu-circle: "\e91f";
$aa-icon-minus: "\208b";
$aa-icon-mouse-click: "\298";
$aa-icon-pencil-circle: "\2710";
$aa-icon-pencil: "\270e";
$aa-icon-play-circle: "\e924";
$aa-icon-plus: "\2295";
$aa-icon-responsive: "\1f4bb";
$aa-icon-search-circle: "\1f50e";
$aa-icon-search: "\1f50d";
$aa-icon-shield: "\101db";
$aa-icon-sort-amount-asc: "\e92a";
$aa-icon-sort-amount-desc: "\e92b";
$aa-icon-star: "\2605";
$aa-icon-time: "\1f553";
$aa-icon-upload: "\e92e";
$aa-icon-user-circle: "\1f471";
$aa-icon-user: "\1f64e";
$aa-icon-users: "\e931";
$aa-icon-slider-arrow-left: "\2b9c";
$aa-icon-slider-arrow-right: "\2b9e";
$aa-icon-arrow-right: "\2192";
$aa-icon-arrow-right-circle: "\21e2";
$aa-icon-Neue_Nutzerdaten_generieren_fill: "\1f4ca";
$aa-icon-aa-analytics: "\1f4c8";

