{{> organisms-header }}
<main role="main">
    <div class="category_header">
        <div class="col-md-12 text-xs-center m-t-2 m-b-1" id="page_title">
            <h1>Category (eg. Web Apps)</h1>
        </div>
        <div id="header_img"><img class="img-fluid m-x-auto m-b-2 m-t-2 d-block" src="../../images/fpo_16x9.png" alt=""
                                  style="width: 40%;">
        </div>
    </div>
    <hr>
    <div class="col-md-12 text-xs-center m-t-2 m-b-1" id="pages_category">
        <div class="container">
            <div class="row m-b-3">
                <div class="col-md-6 text-center hidden-md-up m-b-1"><img class="img-fluid"
                                                                          src="../../images/fpo_16x9.png" alt=""></div>
                <div class="col-md-6">
                    <h2>Web-App 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                    {{#buttons.btn_more_info}}
                        {{> atoms-button }}
                    {{/buttons.btn_more_info}}
                </div>
                <div class="col-md-6 text-center hidden-sm-down"><img class="img-fluid" src="../../images/fpo_16x9.png"
                                                                      alt=""></div>
            </div>
            <div class="row m-b-3">
                <div class="col-md-6 m-b-1 text-center hidden-sm-down"><img class="img-fluid"
                                                                            src="../../images/fpo_16x9.png" alt="">
                </div>
                <div class="col-md-6 m-b-1 text-center hidden-md-up"><img class="img-fluid"
                                                                          src="../../images/fpo_16x9.png" alt=""></div>
                <div class="col-md-6">
                    <h2>Web-App 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                    {{#buttons.btn_more_info}}
                        {{> atoms-button }}
                    {{/buttons.btn_more_info}}
                </div>
            </div>
            <div class="row m-b-3">
                <div class="col-md-6 text-center hidden-md-up m-b-1"><img class="img-fluid"
                                                                          src="../../images/fpo_16x9.png" alt=""></div>
                <div class="col-md-6">
                    <h2>Web-App 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                    {{#buttons.btn_more_info}}
                        {{> atoms-button }}
                    {{/buttons.btn_more_info}}
                </div>
                <div class="col-md-6 text-center hidden-sm-down"><img class="img-fluid" src="../../images/fpo_16x9.png"
                                                                      alt=""></div>
            </div>
            <div class="row m-b-3">
                <div class="col-md-6 m-b-1 text-center hidden-sm-down"><img class="img-fluid"
                                                                            src="../../images/fpo_16x9.png" alt="">
                </div>
                <div class="col-md-6 text-center hidden-md-up m-b-1"><img class="img-fluid"
                                                                          src="../../images/fpo_16x9.png" alt=""></div>
                <div class="col-md-6">
                    <h2>Web-App 4</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                    {{#buttons.btn_more_info}}
                        {{> atoms-button }}
                    {{/buttons.btn_more_info}}
                </div>
            </div>
            <div class="row m-b-3">
                <div class="col-md-6 text-center hidden-md-up m-b-1"><img class="img-fluid"
                                                                          src="../../images/fpo_16x9.png" alt=""></div>
                <div class="col-md-6">
                    <h2>Web-App 5</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                    {{#buttons.btn_more_info}}
                        {{> atoms-button }}
                    {{/buttons.btn_more_info}}
                </div>
                <div class="col-md-6 m-b-1 text-center hidden-sm-down"><img class="img-fluid"
                                                                            src="../../images/fpo_16x9.png" alt="">
                </div>
            </div>
            <div class="row m-b-3">
                <div class="col-md-6 m-b-1 text-center"><img class="img-fluid" src="../../images/fpo_16x9.png" alt="">
                </div>
                <div class="col-md-6">
                    <h2>Web-App 6</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                    {{#buttons.btn_more_info}}
                        {{> atoms-button }}
                    {{/buttons.btn_more_info}}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row m-b-2 m-t-2" id="newsletter-block">
        <div class="col-md-6 col-xs-11 text-xs-center p-l-3">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                    tincidunt, ut
                    varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
            </div>
        </div>
        <div class="col-md-6 text-md-left text-xs-center">
            <div>
                {{> atoms-text-field }}
            </div>
        </div>
        <div class="col-md-12 text-xs-center">
            <div class="m-b-1 m-t-1 row" id="nl_types">
                <div class="col-md-2 offset-md-2 col-xs-6">
                    {{> atoms-checkbox }} Lorem ipsum
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} Lorem ipsum
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} Lorem ipsum
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} Lorem ipsum
                </div>
            </div>
        </div>
        <div class="col-md-4 nl-signup-btn text-xs-center pull-xs-none m-x-auto">
            {{#buttons.btn_signup_nl}}
                {{> atoms-button }}
            {{/buttons.btn_signup_nl}}
        </div>
    </div>
    <div class="push"></div>
</main>
{{> organisms-footer }}
