{{> organisms-header }}
<main role="main">
	{{# alert }}
		{{> molecules-alert }}
	{{/ alert }}

    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-9">
                CONTENT
            </div>
            <div class="col-md-3">
                SIDEBAR
            </div>
        </div>
    </div>

</main>
{{> organisms-footer }}
