{{> organisms-header }}
<main role="main">

    {{> molecules-page-title }}

	<div class="l t--two-col">
		<div class="t-main">
			<section class="section">

                SECTION
			</section>
		</div><!--end .l-main-->

		<div class="t-sidebar">
			SIDEBAR
		</div><!--end .l-sidebar-->

	</div><!--end l--two-col-->

</main>
{{> organisms-footer }}
