<link href="https://refreshless.com/noUiSlider/distribute/nouislider.min.css" rel="stylesheet">
<script src="//refreshless.com/nouislider/documentation/assets/wNumb.js"></script>
<script src="//refreshless.com/noUiSlider/distribute/nouislider.js"></script>


{{> organisms-header }}


<main role="main" id="mainDetail">


 <section class="AK-produkt-vorstellung">








       <div class="row-img">

        <div class="col-md-6 productimg" id="product_img">

            <img class="imgproduct" src="/images/sample/aa-website/detail-template_adventskalender-2016.png"></div>


           <div class="col-md-6 detail-AA-h1">

    <h1 class="h1AK">Unser Adventskalender</h1>



 <p> Lorem ipsum etc.
 Lorem ipsum etc.
 Lorem ipsum etc.
 Lorem ipsum etc.
 <br>Lorem ipsum etc.
Lorem ipsum etc.
 <br>Lorem ipsum etc.
 Lorem ipsu&nbsp;</p>

               <button type="button" class="btn  btn" title="Jetzt live Demo ansehen." style="
margin-top: 30px;
margin-left: 20px;
    width: 160px;"><i class="fa fa-play-circle-o" aria-hidden="true"></i>
                   Video</button>


 <button type="button" class="btn  btn-success" title="Jetzt kostenlose Demo testen." style="
margin-top: 30px;">Live Demo</button>

 </div>


 </section>






    {{> organisms-usp-list }}



{{> organisms-about }}




    <section>

<div class="container-Nutzen-AK">

<div class="row-Nutzen-h2">


<hr>
<h3> Der Nutzen. </h3>

<p> Lorem ipsum Lorem ipsum
<br> Lorem ipsum Lorem ipsum</p>


</div>


<div class="row-Nutzen-AK">




<div class="Nutzen-icons">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <h3 class="usp-title">Lorem</h3>
                <p class="usp-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                </p>


    <i class="fa fa-cog" aria-hidden="true"></i>
    <h3 class="usp-title">Lorem</h3>
                <p class="usp-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
                <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                </p>



            </div>

<div class="Nutzen-mobile-img">

<img src="/images/sample/aa-website/mobile-template_adventskalender-2016.png" alt="mobilenutzen" id="mobileNutzenimg">
</div>


</div>

    </div>
    </section>






    <div class="col-md-12-Nutzen">
    <hr>
    <h3> Die Features.</h3>
</div>


    <section class="features-AK">
    <div class="row">

     <div class="col-md-60"></div>



        <div class="col-md-40"></div>
    </div>

    </section>

<section class="AK-aktuell">

    <div class="col-md-12"></div>

</section>

    <section class="testemonial-slider">
    <div class="col-md-12">
        <h3>Branchsolutions-Slider title</h3>
      {{> organisms-testemonial-slider }}
    </div>

    </section>


    <section class="Branchenlösungen">
<div class="col-md-12">
    <hr>
    <h3>Branchenlösungen.</h3>

</div>



</main>
{{> organisms-footer }}
<script type="application/javascript">
    var servicePackageSlider = document.getElementById('servicePackageSlider'),
            servicePackageValue  = document.getElementById('servicePackageValue'),
            licenseSlider        = document.getElementById('licenseSlider'),
            licenseValue         = document.getElementById('licenseValue');

    noUiSlider.create(licenseSlider, {
        start : 1,
        step  : 1,
        format: wNumb({
            decimals: 0
        }),
        range : {
            'min': 1,
            'max': 24
        },
        pips  : {
            mode   : 'steps',
            density: 24,
            format : wNumb({
                decimals: 0
            })
        }
    });

    // Note how these are 'string' values, not numbers.
    licenseSlider.noUiSlider.on('update', function (values, handle) {
        //licenseValue.innerHTML = values + ' Tage';
    });

    noUiSlider.create(servicePackageSlider, {
        start : 0,
        step  : 1,
        format: wNumb({
            decimals: 0
        }),
        range : {
            'min': 0,
            'max': 24
        },
        pips  : {
            mode   : 'steps',
            density: 24,
            format : wNumb({
                decimals: 0
            })
        }
    });

    // Note how these are 'string' values, not numbers.
    servicePackageSlider.noUiSlider.on('update', function (values, handle) {
        //servicePackageValue.innerHTML = values + ' Tage';
    });

</script>

