{{> 02-organisms/layout/header }}
<main role="main" id="page-homepage">
    {{> 02-organisms/sections/hompage-header }}
    {{> 02-organisms/sections/usp-list }}
    {{> 02-organisms/sections/about }}
    {{> 02-organisms/sections/counter-list }}
    {{> 02-organisms/sections/productofthemonth }}
    {{> 02-organisms/sections/services-list }}
    {{> 02-organisms/sections/testimonial-slider }}
    {{> 02-organisms/sections/footer-cto }}
</main>
{{> 02-organisms/layout/footer }}