{{> organisms-header }}
<main role="main" id="page-homepage">
    <section id="section-homepage-header" class="text-center">
        <div class="container-fluid" style="position: relative;">
            <div class="row header-background-row">
                <div class="col-md-10 offset-md-1 col-12">
                    {{> atoms-header-background-svg }}
                </div>
            </div>
            <div class="row header-heading-row">
                <div class="col-md-6 offset-md-3">
                    <h1 class="font-weight-light">Performanceorientierte Marketing-Services und Tools zur <strong>Leadgenerierung</strong>
                    </h1>
                </div>
            </div>
            <div class="row header-cta-row">
                <div class="col-12">
                    <button type="button" class="btn btn-lg btn-primary">Jetzt starten</button>
                </div>
            </div>
            <div class="row header-objects-row">
                <div class="col-md-8 offset-md-2 col-12">
                    {{> atoms-header-objects-svg }}
                </div>
            </div>
        </div>
    </section>
    <section id="section-homepage-usps" class="section-dark section-divider-bottom text-center">
        <div class="container">
            <div class="row homepage-usps-row">
                <div class="col-md-6 col-lg-3">
                    <span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
                    <h3 class="usp-title">Stark serviceorientiert</h3>
                    <p class="usp-description">bla</p>
                    <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
                    <h3 class="usp-title">Stark serviceorientiert</h3>
                    <p class="usp-description">bla</p>
                    <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
                    <h3 class="usp-title">Stark serviceorientiert</h3>
                    <p class="usp-description">bla</p>
                    <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-3">
                    <span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
                    <h3 class="usp-title">Flexible Laufzeitverlängerung</h3>
                    <p class="usp-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor</p>
                    <p class="usp-more-link"><a href="#">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
                    </p>
                </div>
                <script src="/js/vendor/matchHeight/jquery.matchHeight-min.js"></script>
                <script src="/js/vendor/slick-carousel/slick/slick.js"></script>
                <script>
                    $(function () {
                        var $uspsRow = $('#section-homepage-usps');
                        $uspsRow.find('.usp-icon').matchHeight();
                        $uspsRow.find('.usp-title').matchHeight();
                        $uspsRow.find('.usp-description').matchHeight();
                    });
                </script>
            </div>
        </div>
    </section>
    <section id="section-homepage-about">
        <div class="container">
            <hr>
            <!-- begin editor-content -->
            <div class="row">
                <div class="col-md-6">
                    <h2>Willkommen bei der App-Arena.</h2>
                    <h3 class="font-weight-light">Lorem ipsum dolor sit amet.</h3>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum.</p>
                    <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                        dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua.</p>
                    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                        takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <button type="button" class="btn btn-primary"><span class="aa-icon aa-icon-arrow-right"></span> Über
                        uns
                    </button>
                </div>
            </div>
            <!-- end editor-content -->
        </div>
    </section>
    <section id="section-homepage-counter" class="section-counter section-dark section-divider-bottom text-center">
        <div class="container">
            <div class="row gutter-80">
                <div class="col3">
                    <!-- TODO: change icons to up-arrow -->
                    <output>17.632 <span class="aa-icon aa-icon-aa-analytics"></span></output>
                    <hr>
                    <label>Apps eingesetzt</label>
                </div>
                <div class="col3">
                    <output>714 <span class="aa-icon aa-icon-aa-analytics"></span></output>
                    <hr>
                    <label>Zufriedene Kunden</label>
                </div>
                <div class="col3">
                    <output>3.298 <span class="aa-icon aa-icon-aa-analytics"></span></output>
                    <hr>
                    <label>Umgesetzte Projekte</label>
                </div>
            </div>
        </div>
    </section>
    <section id="section-homepage-productofthemonth">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h2 class="font-weight-regular">Produkt des Monats: Adventskalender</h2>
                    <h3 class="font-weight-light">15% Rabatt auf den Adventskalender.</h3>
                    <!-- begin editor-content -->
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    <!-- end editor-content -->
                    <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
                </div>
                <div class="col-md-6">
                    <div class="product-screen-wrapper">
                        <button type="button" class="btn btn-success btn-round btn-round-md btn-cta-topleft">Jetzt <br>kostenlos
                            <br>testen
                        </button>
                        <img class="screen-browser"
                             src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                        <img class="screen-mobile"
                             src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-homepage-services" class="section-dark section-divider-bottom text-center">
        <div class="container-fluid container-fluid-90">
            <div class="row">
                <div class="col-12">
                    <hr class="center">
                    <h2>Unsere Services.</h2>
                </div>
            </div>
            <div class="row services-row">
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
            </div>
            <div class="row services-more-row" style="display: none;">
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="services-col">
                        <span class="service-icon aa-icon aa-icon-aa-analytics"></span>
                        <h4 class="text-uppercase">Leadgenerierung</h4>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
                        <p class="no-margin-bottom">Mehr erfahren</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary js-more-services"><span class="aa-icon aa-icon-arrow-right"></span> Nicht genug?</button>
                </div>
            </div>
        </div>
    </section>
    <section id="section-homepage-testemonials" class="no-margin-bottom no-padding-bottom">
        <script>
            $(document).ready(function() {
                $('.testemonial-slider').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    arrows: true,
                    fade: true,
                    asNavFor: '.testemonial-clients-slider',
                    useCSS: true,
                    cssEase: 'ease',
                    infinite: true,
                    lazyLoad: 'ondemand',
                    cssTransitions: true
                });
                $('.testemonial-clients-slider').slick({
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    arrows: false,
                    fade: false,
                    infinite: true,
                    asNavFor: '.testemonial-slider',
                    dots: false,
                    centerMode: false,
                    focusOnSelect: true,
                    useCSS: true,
                    initialSlide: 0,
                    draggable: false,
                    autoplay: true,
                    autoplaySpeed: 4000,
                    responsive: [
                        {
                            breakpoint: 1200,
                            settings: {
                                slidesToShow: 5
                            }
                        },
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 4
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 2
                            }
                        }
                    ]
                });
            });
        </script>
        <div class="testemonial-slider">
            <div class="testemonial">
                <div class="testemonial-screens">
                    <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                    <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
                </div>
                <div class="testemonial-quote text-center">
                    <blockquote>
                        <p>“ Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                        <hr class="center">
                        <footer>
                            <p>Thorsten Klages</p>
                            <p>Senior Manager</p>
                        </footer>
                    </blockquote>
                </div>
                <div class="testemonial-product-cta text-center">
                    <h3>App-Arena Adventskalender</h3>
                    <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
                </div>
            </div>
            <div class="testemonial">
                <div class="testemonial-screens">
                    <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                    <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
                </div>
                <div class="testemonial-quote text-center">
                    <blockquote>
                        <p>“ 2Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                        <hr class="center">
                        <footer>
                            <p>Thorsten Klages</p>
                            <p>Senior Manager</p>
                        </footer>
                    </blockquote>
                </div>
                <div class="testemonial-product-cta text-center">
                    <h3>2App-Arena Adventskalender</h3>
                    <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
                </div>
            </div>
            <div class="testemonial">
                <div class="testemonial-screens">
                    <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                    <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
                </div>
                <div class="testemonial-quote text-center">
                    <blockquote>
                        <p>“ 3Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                        <hr class="center">
                        <footer>
                            <p>Thorsten Klages</p>
                            <p>Senior Manager</p>
                        </footer>
                    </blockquote>
                </div>
                <div class="testemonial-product-cta text-center">
                    <h3>3App-Arena Adventskalender</h3>
                    <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
                </div>
            </div>
            <div class="testemonial">
                <div class="testemonial-screens">
                    <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                    <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
                </div>
                <div class="testemonial-quote text-center">
                    <blockquote>
                        <p>“ 4Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                        <hr class="center">
                        <footer>
                            <p>Thorsten Klages</p>
                            <p>Senior Manager</p>
                        </footer>
                    </blockquote>
                </div>
                <div class="testemonial-product-cta text-center">
                    <h3>4App-Arena Adventskalender</h3>
                    <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
                </div>
            </div>
            <div class="testemonial">
                <div class="testemonial-screens">
                    <img class="testemonial-screen-browser" src="/images/sample/aa-website/browser-template_adventskalender-2016.png">
                    <img class="testemonial-screen-mobile" src="/images/sample/aa-website/mobile-template_adventskalender-2016.png">
                </div>
                <div class="testemonial-quote text-center">
                    <blockquote>
                        <p>“ 5Haben alles SUPER gemacht, wir freuen uns auf weitere Zusammenarbeit. ”</p>
                        <hr class="center">
                        <footer>
                            <p>Thorsten Klages</p>
                            <p>Senior Manager</p>
                            <button type="button" class="btn btn btn-outline-primary">Mehr erfahren</button>
                        </footer>
                    </blockquote>
                </div>
                <div class="testemonial-product-cta text-center">
                    <h3>5App-Arena Adventskalender</h3>
                    <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
                </div>
            </div>
        </div>
        <div class="testemonial-slider-divider"><div class="testemonial-slider-divider-arrow"></div></div>
        <div class="testemonial-clients-slider">
            <div class="testemonial-client">
                <img src="/images/sample/aa-website/universal-music-group-logo.png">
            </div>
            <div class="testemonial-client">
                <img src="/images/sample/aa-website/ergo-logo.png">
            </div>
            <div class="testemonial-client">
                <img src="/images/sample/aa-website/eventim-logo.png">
            </div>
            <div class="testemonial-client">
                <img src="/images/sample/aa-website/m2beaute-logo.png">
            </div>
            <div class="testemonial-client">
                <img src="/images/sample/aa-website/m2beaute-logo.png">
            </div>
            <div class="testemonial-client">
                <img src="/images/sample/aa-website/m2beaute-logo.png">
            </div>
            <div class="testemonial-client">
                <img src="/images/sample/aa-website/m2beaute-logo.png">
            </div>
        </div>
    </section>
    <section id="section-homepage-footer-cto" class="section-footer-cto bg-blue text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Interresse geweckt?</h2>
                    <button type="button" class="btn btn-lg btn-outline-primary"><span class="aa-icon aa-icon-arrow-right"></span> Jetzt registrieren</button>
                </div>
            </div>
        </div>
    </section>
    <script>
        /* show more services */
        /* untested */
        $(function () {
            var $$moreServicesBtns = $('section.js-more-services');
            $$moreServicesBtns.each(function() {
                var $btn = $(this);
                $btn.on('click', function() {
                    $btn.parent('section').find('.services-more-row').slideDown({
                        complete: function() {
                            $btn.fadeOut();
                        }
                    });
                });
            });
        });
    </script>


    <!-- old stuff -->
    <!-- old stuff -->
    <!--<link rel="stylesheet" href="https://kenwheeler.github.io/slick/slick/slick.css">-->
</main>
{{> organisms-footer }}