{{> organisms-header }}
<main role="main">
    <div class="row">
        <div class="col-md-12 m-t-2 text-xs-center headline">
            <h1>APP-ARENA - Technologieunternehmen aus Köln</h1>
        </div>
        <div class="col-xs-8 text-xs-center subline offset-xs-2">
            <p>Subline - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                tincidunt, ut
                varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.
            </p>
        </div>
        <div class="col-xs-2">
            {{> atoms-button }}
        </div>
    </div>
    <div class="row m-t-2 m-l-3">
        <div class="col-md-3 usp-1">
            <ul class="fa-ul">
                <li><i class="fa fa-check" aria-hidden="true"></i> Server in Deuschland</li>
            </ul>
        </div>
        <div class="col-md-3 usp-2">
            <ul class="fa-ul">
                <li><i class="fa fa-check" aria-hidden="true"></i> flexible Laufzeit</li>
            </ul>
        </div>
        <div class="col-md-3 usp-3">
            <ul class="fa-ul">
                <li><i class="fa fa-check" aria-hidden="true"></i> White Labeling</li>
            </ul>
        </div>
        <div class="col-md-3 usp-4">
            <ul class="fa-ul">
                <li><i class="fa fa-check" aria-hidden="true"></i> unverbindliche Demo</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row m-b-3">
            <div class="col-md-6">
                <h2>Das Performance Team</h2>
                <p>Wir, die App-Arena sind ein Team von 20 Entwicklern und Marketern. Wir betrachten zeitgemäßes
                    Marketing performancegetrieben. Deshalb entwickeln wir die besten Web-Apps für Unternehmen mit den
                    zu Ihnen passenden Konzepten- auch als Branchenlösungen. Unsere Applikationen lassen sich dabei auf
                    jeder Webseite oder Facebookseite, aber auch auf einer separaten Kampagnenseite einbinden.</p>
            </div>
            <div class="col-md-6 text-center"><img src="../../images/fpo_16x9.png" alt=""></div>
        </div>
        <div class="row m-b-3">
            <div class="col-md-6 text-center"><img src="../../images/fpo_16x9.png" alt=""></div>
            <div class="col-md-6">
                <h2>Web-Applikation</h2>
                <p>Wir generieren Leads und Conversions für unsere Kunden. Zielgruppenorientiert, technologiegetrieben
                    und strategisch. Das können einfache Fotowettbewerbe, Gewinnspiele oder Quizzes sein, aber bspw.
                    auch Votings- zugeschnitten auf eine spezielle Zielgruppe (Abiturienten, Interessenten von
                    Finanzdiensleistungen).</p>
            </div>
        </div>
        <div class="row m-b-3">
            <div class="col-md-6">
                <h2>Von DIY bis Full-Service Enterprise</h2>
                <p>In unserem App-Manager lassen sich alle Online Aktionen bequem einrichten, verwalten und auswerten.
                    Wir bieten vom "DO-IT-YOURSELF Paket" bis hin zum Full-Service Enterprise Paket die ganze Bandbreite
                    an Service und Dienstleistungen an.</p>
            </div>
            <div class="col-md-6 text-center"><img src="../../images/fpo_16x9.png" alt=""></div>
        </div>
        <div class="row m-b-3">
            <div class="col-md-6 text-center"><img src="../../images/fpo_16x9.png" alt=""></div>
            <div class="col-md-6">
                <h2>Experten- und Strategie-Beratung</h2>
                <p>App-Arena bietet nicht nur die Technologie sondern auch passende Beratung in Bezug auf Advertising,
                    Vernetzungsstrategien (Webseite, Social Media, Newsletter usw.) und weitere Maßnahmen zur
                    Leadgenerierung.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-xs-center">
            <h1 class="title">Produkt des Monats im X: XXX</h1>
            <div class="row hidden-xs">
                <div class="col-md-12">
                    <p class="desc">15% ...</p>
                </div>
            </div>
            <div class="button-container">
                {{> atoms-button }}
            </div>
            <div class="image"
                 style="background: url('https://aa-ads.s3.amazonaws.com/App-Arena%20Startseite/pairs-demos_laptop.png'); background-size: 100%; width: 560px; height: 370px; margin-left: auto; margin-right: auto; padding-top: 58px;">
                <iframe style="margin-left: auto; margin-right: auto; display: block;"
                        src="https://www.youtube.com/embed/rr51iGNQehQ?vq=hd720&amp;showinfo=0&amp;rel=0&amp;autohide=0"
                        frameborder="0" width="405" height="255"></iframe>
            </div>
        </div>
    </div>
    <hr>
    <h3 style="text-align: center;">Kunden die uns Vertrauen</h3>
    <hr>
    <hr>
    <hr>
    <div class="push">
    </div>
</main>
{{> organisms-footer }}
