{{> organisms-header }}
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-2 text-xs-center headline">
                <h1>HEADLINE </h1>
            </div>
            <div class="col-md-8 col-xs-12 text-xs-center subline offset-md-2">
                <p>Subline - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                    tincidunt, ut
                    varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.
                </p>
            </div>
            <div class="col-md-2 col-xs-12 text-xs-center">
                    {{> atoms-button }}
            </div>
        </div>
        <div class="row mt-2 text-xs-center">
            <div class="col-xs-12">
                <ul class="fa-ul row">
                    <li class="col-md-3 col-xs-6" id="usp-1"><i class="fa fa-check" aria-hidden="true"></i> USP 1</li>
                    <li class="col-md-3 col-xs-6" id="usp-2"><i class="fa fa-check" aria-hidden="true"></i> USP 2</li>
                    <li class="col-md-3 col-xs-6" id="usp-3"><i class="fa fa-check" aria-hidden="true"></i> USP 3</li>
                    <li class="col-md-3 col-xs-6" id="usp-4"><i class="fa fa-check" aria-hidden="true"></i> USP 4</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <h2>Das Performance Team</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                </div>
                <div class="col-md-6 text-center"><img class="img-fluid" src="../../images/fpo_16x9.png" alt=""></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 mb-1 text-center hidden-sm-down"><img class="img-fluid" src="../../images/fpo_16x9.png" alt=""></div>
                <div class="col-md-6">
                    <h2>Web-Applikation</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                </div>
                <div class="col-md-6 mb-1 text-center hidden-md-up"><img class="img-fluid" src="../../images/fpo_16x9.png" alt=""></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <h2>Von DIY bis Full-Service Enterprise</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                </div>
                <div class="col-md-6 text-center"><img class="img-fluid" src="../../images/fpo_16x9.png" alt=""></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 mb-1 text-center hidden-sm-down"><img class="img-fluid" src="../../images/fpo_16x9.png" alt=""></div>
                <div class="col-md-6">
                    <h2>Experten- und Strategie-Beratung</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                </div>
                <div class="col-md-6 mb-1 text-center hidden-md-up"><img class="img-fluid" src="../../images/fpo_16x9.png" alt=""></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-xs-center">
                <h1 class="title">Produkt des Monats im X: XXX</h1>
                <div class="row hidden-xs">
                    <div class="col-md-12">
                        <p class="desc">15% ...</p>
                    </div>
                </div>
                <div class="button-container">
                    <a href="https://v25-stage.app-arena.com/apps/create?templateId=299&templateName=Adventskalender%20Demo" target="_blank">
                            {{> atoms-button }}
                    </a>
                </div>
                <div class="image-pdm">
                    <img src="https://aa-ads.s3.amazonaws.com/App-Arena%20Startseite/laptop_wireframe.png" class="img-fluid mx-auto" alt="Produkt des Monats XX">
                </div>
            </div>
        </div>
        <hr>
        <h3 style="text-align:center">Kunden-Slider</h3>
        {{#sliders.customerSlider}}
            {{> organisms-slider }}
        {{/sliders.customerSlider}}
        <hr>
        <img class="img-fluid mx-auto mb-2 mt-2 d-block" src="../../images/fpo_16x9.png" alt="">
        <h3 style="text-align:center">"Article Headline"</h3>
        <div class="col-xs-8 text-xs-center offset-xs-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                tincidunt, ut
                varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.
            </p>
        </div>
        <hr>
        <h3 style="text-align:center">Feedback-Slider</h3>
        {{#sliders.feedbackSlider}}
            {{> organisms-slider }}
        {{/sliders.feedbackSlider}}
        <hr>
        <h3 style="text-align:center">Next-Events Headline</h3>
        <div class="row ml-3 mr-3">
            <div class="col-md-6 event1 mt-1">
                <h4>Event 1 Headline</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                    tincidunt, ut
                    varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.
                </p>
                <div class="button-container mb-2">
                        {{> atoms-button }}
                </div>
                <div class="event-img mb-2">
                    <img class='img-fluid' src='../../images/bootstrapthumb.jpg'>
                </div>
            </div>
            <div class="col-md-6 event2 mt-1">
                <div class="event-img hidden-sm-down">
                    <img class='img-fluid' src='../../images/bootstrapthumb.jpg'>
                </div>
                <h4 clasS="mt-2">Event 2 Headline</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                    tincidunt, ut
                    varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.
                </p>
                <div class="event-img hidden-md-up mb-1">
                    <img class='img-fluid' src='../../images/bootstrapthumb.jpg'>
                </div>
                <div class="button-container">
                        {{> atoms-button }}
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-2 mt-2" id="newsletter-widget">
            <div class="col-md-6 col-xs-11 text-xs-center pl-3">
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                        tincidunt, ut
                        varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
                </div>
            </div>
            <div class="col-md-6 text-md-left text-xs-center">
                <div>
                    {{> atoms-text-field }}
                </div>
            </div>
            <div class="col-md-12 text-xs-center">
                <div class="mb-1 mt-1 row" id="nl_types">
                    <div class="col-md-2 offset-md-2 col-xs-6">
                        {{> atoms-checkbox }} Lorem ipsum
                    </div>
                    <div class="col-md-2 col-xs-6">
                        {{> atoms-checkbox }} Lorem ipsum
                    </div>
                    <div class="col-md-2 col-xs-6">
                        {{> atoms-checkbox }} Lorem ipsum
                    </div>
                    <div class="col-md-2 col-xs-6">
                        {{> atoms-checkbox }} Lorem ipsum
                    </div>
                </div>
            </div>
            <div class="col-md-4 nl-signup-btn text-xs-center float-xs-none mx-auto">
                    {{> atoms-button }}
            </div>
        </div>
        <div class="push">
        </div>
    </div>
</main>
{{> organisms-footer }}

