{{> organisms-header }}
<main role="main">
	<div class="l t--two-col">
		<div class="t-main">
			LATEST POSTS
		</div><!--end .l-main-->

		<div class="t-sidebar">
			SIDEBAR
		</div><!--end .l-sidebar-->

	</div><!--end l--two-col-->
</main>
{{> organisms-footer }}
