{{> organisms-header }}
<main role="main" id="page-homepage">
    {{> 02-organisms/02-website/sections/hompage-header }}
    {{> 02-organisms/02-website/sections/usp-list }}
    {{> 02-organisms/02-website/sections/about }}
    {{> 02-organisms/02-website/sections/counter-list }}
    {{> 02-organisms/02-website/sections/productofthemonth }}
    {{> 02-organisms/02-website/sections/services-list }}
    {{> 02-organisms/02-website/sections/testemonial-slider }}
    {{> 02-organisms/02-website/sections/footer-cto }}
</main>
{{> organisms-footer }}