{{> organisms-header }}
<main role="main">
    <div class="col-md-12 text-xs-center mt-2 m-b-1" id="page_title">
        <h1>Partner program title</h1>
    </div>
    <hr>
    <div class="col-md-12 text-xs-center mt-2 m-b-1">
        <p class="font-weight-bold">Partner program advantages</p>
        <div class="row mt-2 text-xs-center">
            <div class="col-md-3 col-xs-6 usp-1">
                <ul class="fa-ul">
                    <li><i class="fa fa-check" aria-hidden="true"></i> advantage 1</li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6 usp-2 ">
                <ul class="fa-ul">
                    <li><i class="fa fa-check" aria-hidden="true"></i> advantage 2</li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6 usp-3">
                <ul class="fa-ul">
                    <li><i class="fa fa-check" aria-hidden="true"></i> advantage 3</li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6 usp-4">
                <ul class="fa-ul">
                    <li><i class="fa fa-check" aria-hidden="true"></i> advantage 4</li>
                </ul>
            </div>
        </div>
        <p class="font-weight-bold mt-1">Partner program steps</p>
        <div class="row">
            <div class="progress-tracker col-md-3 offset-xs-1 hidden-sm-down" style="-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg);">
                {{#progressTracker}}
                    {{> molecules-progress-tracker }}
                {{/progressTracker}}
            </div>
            <div class="col-md-6 text-xs-center" style="line-height: 3;">
                <p> Lorem ipsum dolor met....</p>
                <p> Lorem ipsum dolor met....</p>
                <p> Lorem ipsum dolor met....</p>
            </div>
        </div>
        <br>
        {{> atoms-button }}
    <hr>
    <div class="col-md-12 text-xs-center mt-3">
        <h3>References-block title</h3>
        {{#sliders.referenceSlider}}
            {{> organisms-slider}}
        {{/sliders.referenceSlider}}
    </div>
    <hr>
    <div class="row m-b-2 mt-2" id="newsletter-block">
        <div class="col-md-6 col-xs-11 text-xs-center pl-3">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
                    tincidunt, ut
                    varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
            </div>
        </div>
        <div class="col-md-6 text-md-left text-xs-center">
            <div>
                {{> atoms-text-field }}
            </div>
        </div>
        <div class="col-md-12 text-xs-center">
            <div class="m-b-1 mt-1 row" id="nl_types">
                <div class="col-md-2 offset-md-2 col-xs-6">
                    {{> atoms-checkbox }} Lorem ipsum
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} Lorem ipsum
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} Lorem ipsum
                </div>
                <div class="col-md-2 col-xs-6">
                    {{> atoms-checkbox }} Lorem ipsum
                </div>
            </div>
        </div>
        <div class="col-md-4 nl-signup-btn text-xs-center pull-xs-none mx-auto">
            {{#buttons.btn_signup_nl}}
                {{> atoms-button }}
            {{/buttons.btn_signup_nl}}
        </div>
    </div>
    <div class="push"></div>
    </div>
</main>
{{> organisms-footer }}
<style>
    .progress-tracker-step {
        min-width: 70px;
    }
</style>