{{#modal.trigger}}
    <!-- trigger modal -->
    <a class="{{class}}" href="#" data-toggle="modal" data-target="{{target}}">
        {{{text}}}
    </a>
{{/modal.trigger}}

<div id="{{modal.id}}" class="modal {{modal.class}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{#modal.header}}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="float-right">
                        {{#link}}
                            <span class="modal-header-link">
                                <a href="{{url}}">{{text}}</a>
                            </span>
                        {{/link}}

                        {{#filter}}
                            <span class="modal-header-filter">
                                {{> atoms-input }}
                            </span>
                        {{/filter}}
                    </div>
                    <h4 class="modal-title">{{{title}}}</h4>
                </div>
            {{/modal.header}}
            <div class="modal-body">
                {{{ modal.body }}}
            </div>
            {{#modal.footer}}
                <div class="modal-footer">
                    {{#hint}}
                        <span class="modal-hint-text text-muted float-left">{{hint}}</span>
                    {{/hint}}
                    {{#btnProgress}}
                        {{> atoms-button }}
                    {{/btnProgress}}
                    {{#btnCancel}}
                        {{> atoms-button }}
                    {{/btnCancel}}
                </div>
            {{/modal.footer}}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->