/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/close";

/*=========================================================================
  Molecules Modal
 ========================================================================== */

.show {
  display: block;
}

.draggable {
  position: absolute;
  .modal-header {
    cursor: move;
  }
}