/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";

/*=========================================================================
  Molecules Modal
 ========================================================================== */

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.modal {
  position: fixed;
  overflow: visible;
  top: 170px;
  z-index: 2040;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 14px;
  line-height: 1.42857142857143;

  &.modal-xs {
    width: 500px;
    min-height: 131px;
  }

  &.modal-sm {
    width: 650px;
    min-height: 231px;
  }

  &.modal-lg {
    width: 850px;
    min-height: 431px;
  }

  &.modal-xl {
    width: 1000px;
    min-height: 431px;
  }

  .modal-header {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    font-weight: normal;
    height: 69px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #f5f5f5;

    .modal-header-cell {
      flex-grow: 2;
    }

    .modal-header-close-button {
      width: 20px;
      height: 20px;
      padding-left: 5px;
      text-align: right;
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
      color: #707070;
    }

    .modal-header-link {
      flex-grow: 0.5;
    }

    .modal-header-input {
      flex-grow: 2;
    }
  }

  .modal-content {
    &.modal-content-xs {
      min-height: 80px;
    }

    &.modal-content-sm {
      min-height: 180px;
    }

    &.modal-content-lg {
      min-height: 380px;
    }

    &.modal-content-xl {
      min-height: 480px;
    }

    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
  }

  .modal-footer {
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    height: 51px;
    overflow: hidden;
    padding: 10px 20px;
    width: 100%;
    background-color: #f5f5f5;

    .modal-footer-actions {
      text-align: right;
      float: right;
    }

    .modal-footer-hint {
      color: #707070;
      line-height: 31px;
    }
  }

  .modal-button-primary {
    box-sizing: border-box;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    height: 2.14285714em;
    line-height: 1.42857143;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    background: #3572b0;
    color: #fff;
    -webkit-font-smoothing: antialiased;

    &:hover {
      background: #2a67a5;
      border-color: transparent;
      color: #fff;
    }
  }

  .modal-button-close {
    background: transparent;
    border-color: transparent;
    color: #3572b0;
    padding: 4px 0;
    text-decoration: none;
    box-shadow: none;
    margin-left: 10px;
  }
}

.modal-shadow-bg {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2035;
}