section.section-counter {
  output {
    color: $brand-primary;
    font-size: 2.842rem;
    font-weight: map_get($font-weights, 'bold');
  }
  hr {
    border-top: solid 2px $gray-lighter;
    width: 100%;
    max-width: 100%;
    text-align: inherit;
    margin-left: 0;
    margin-right: 0;
  }
  label {
    font-size: 1.105rem;
  }
}