/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";

/*=========================================================================
  Organism Form
 ========================================================================== */

section.section-testemonial-slider {
  $testemonial-height: 34rem;
  $testemonial-quote-width: 40/100;
  .testemonial-slider {
    .slick-prev, .slick-next {
      // position arrows in the middle of relevant image
      top: 300px; // half of mobile image height
      @media (min-width: map_get($grid-breakpoints, 'lg')) {
        top: 50%;
      }
    }
    .testemonial {
      .testemonial-screens {
        position: relative;
        width: 100%;
        @media (min-width: map_get($grid-breakpoints, 'lg')) {
          height: $testemonial-height;
          width: 100% - percentage($testemonial-quote-width);
          float: right;
        }
        .testemonial-screen-browser {
          display: none;
          top: 0;
          @media (min-width: map_get($grid-breakpoints, 'lg')) {
            display: block;
            position: absolute;
            left: 250px;
          }
        }
        .testemonial-screen-mobile {
          position: relative;
          display: block;
          max-width: 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          @media (min-width: map_get($grid-breakpoints, 'lg')) {
            position: absolute;
            left: 0;
            top: 60px;
            transform: translateX(0);
          }
        }
      }
      .testemonial-quote {
        width: 100%;
        display: table;
        @media (min-width: map_get($grid-breakpoints, 'lg')) {
          height: $testemonial-height;
          width: percentage($testemonial-quote-width);
          float: left;
        }
        blockquote {
          padding: 2rem;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .testemonial-product-cta {
        background-color: #fff;
        padding: 1rem;
        h3 {
          font-size: 1.368rem;
        }
        @media (min-width: map_get($grid-breakpoints, 'lg')) {
          position: absolute;
          bottom: 0;
          right: 1rem;
          border-radius: 1rem 1rem 0 0;
        }
      }
    }
  }
  .testemonial-slider-divider {
    width: 100%;
    background-color: $gray-lightest;
    .testemonial-slider-divider-arrow {
      margin-left: percentage($testemonial-quote-width) / 2;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 25px 0 25px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
  .testemonial-clients-slider {
    &.slick-slider {
      margin-bottom: 0;
    }
    width: 100%;
    background-color: $gray-lightest;
    padding: 0 10%;
    //display: table; // center vertical-alignment of client logos - doesn't work though
    .testemonial-client {
      padding: 1rem;
      height: 90px;
      //display: table-cell;
      //vertical-align: middle;
      text-align: center;
      img {
        max-height: 100%;
        max-width: 100%;
        margin: auto;
        transition: filter 1s, opacity 1s;
        filter: grayscale(100%);
        opacity: 0.5;
      }
      &:hover img {
        opacity: 1;
      }
      &.slick-current {
        img {
          filter: grayscale(0%);
          opacity: 1;
        }
      }
    }
  }
}