<div class="page-heading">
    <!-- Action buttons and page filter (e.g. date picker for filter page content) -->
    <div class="page-actions pull-xs-right">
        {{# pageTitle.btnGroup }}
            {{> molecules-button-group }}
        {{/ pageTitle.btnGroup }}
    </div>
    <h1 class="m-b-0">{{ pageTitle.title }}</h1>
</div>
