<section class="section-footer-cto bg-blue text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Interresse geweckt?</h2>
                <button type="button" class="btn btn-lg btn-outline-primary"><span class="aa-icon aa-icon-arrow-right"></span> Jetzt registrieren</button>
            </div>
        </div>
    </div>
</section>