<section class="section-homepage-header text-center">
    <div class="container-fluid">
        <div class="row header-background-row">
            <div class="col-md-10 offset-md-1 col-12">
                {{> atoms-header-background-svg }}
            </div>
        </div>
        <div class="row header-heading-row">
            <div class="col-md-6 offset-md-3">
                <h1 class="font-weight-light">Performanceorientierte Marketing-Services und Tools zur <strong>Leadgenerierung</strong></h1>
            </div>
        </div>
        <div class="row header-cta-row">
            <div class="col-12">
                <button type="button" class="btn btn-lg btn-primary">Jetzt starten</button>
            </div>
        </div>
        <div class="row header-objects-row">
            <div class="col-md-8 offset-md-2 col-12">
                {{> atoms-header-objects-svg }}
            </div>
        </div>
    </div>
</section>