<ul class="checkboxes">
    {{# checkboxesList }}
        <div class="checkbox {{ status }}">
            <label>
                {{> atoms-checkbox }}
                {{ label }}
            </label>
        </div>
    {{/ checkboxesList }}
</ul>