<ul class="radio-buttons">
    {{# radioButtonsList }}
        <div class="radio {{ status }}">
            <label>
                {{> atoms-radio-button }}
                {{ label }}
            </label>
        </div>
    {{/ radioButtonsList }}
</ul>