<div class="filter-bar p-a-1">

    <!-- data filter functionality -->
    <div class="filter-bar-filter m-r-1">
        <a class="btn btn-secondary" data-toggle="collapse" href="#filterBarSelection" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-filter"></i> Filter
        </a>
        <!-- See the collapsable after the .filter-bar container -->
    </div>

    <!-- Search functionality -->
    {{# filterBar.searchActivated }}
        <div class="filter-bar-search m-r-1">
            {{> molecules-input-group }}
        </div>
    {{/ filterBar.searchActivated }}

    <!-- sort functionality -->
    {{# filterBar.sortActivated }}
        <div class="filter-bar-sort m-r-1">
            {{> molecules-dropdown }}
        </div>
    {{/ filterBar.sortActivated }}

    <!-- display mode functionality (grid or list) -->
    {{# filterBar.displayModeActivated }}
        <div class="filter-bar-display-mode">
            {{> molecules-button-group }}
        </div>
    {{/ filterBar.displayModeActivated }}

</div>
<!-- Collapsable part comes after the main div, as it should appear after the div, when not collapsed -->
<div class="collapse" id="filterBarSelection">
    <div class="card card-block">
        <div class="row">
            {{# filterBar.filter1}}
                <div class="col-md-4">
                    {{> molecules-radio-buttons }}
                </div>
            {{/filterBar.filter1}}

            {{# filterBar.filter2}}
                <div class="col-md-4">
                    {{> molecules-checkboxes }}
                </div>
            {{/filterBar.filter2}}

            {{# filterBar.filter3}}
                <div class="col-md-4">
                    {{> molecules-checkboxes }}
                </div>
            {{/filterBar.filter3}}
        </div>
    </div>
</div>