<div class="col-md-4 pa-1">
    <img src="{{ source }}" class="img-circle mx-auto d-block {{ featureClass }}" alt="{{ alt }}" style="width: 50%;">
    <div class="feature_title text-xs-center ma-1">
        <h2>{{ title }}</h2>
    </div>
    <div class="feature_desc text-xs-center ma-1">
        <p>{{ description }}</p>
    </div>
</div>

