<div class="col-md-4 p-a-1">
    <img src="{{ source }}" class="img-circle m-x-auto d-block {{ featureClass }}" alt="{{ alt }}" style="width: 50%;">
    <div class="feature_title text-xs-center">
        <h2>Feature-title</h2>
    </div>
    <div class="feature_desc text-xs-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas orci et nulla
            tincidunt, ut
            varius velit molestie.Ut dui urna, fringilla eu egestas vitae, consectetur non eros.</p>
    </div>
</div>

