.brand-primary-80 { background-color: $brand-primary-80; }
.brand-primary-60 { background-color: $brand-primary-60; }
.brand-primary-40 { background-color: $brand-primary-40; }

.brand-secondary-80 { background-color: $brand-secondary-80; }
.brand-secondary-60 { background-color: $brand-secondary-60; }
.brand-secondary-40 { background-color: $brand-secondary-40; }

.brand-success-80 { background-color: $brand-success-80; }
.brand-success-60 { background-color: $brand-success-60; }
.brand-success-40 { background-color: $brand-success-40; }

.brand-warning-80 { background-color: $brand-warning-80; }
.brand-warning-60 { background-color: $brand-warning-60; }
.brand-warning-40 { background-color: $brand-warning-40; }

.brand-danger-80 { background-color: $brand-danger-80; }
.brand-danger-60 { background-color: $brand-danger-60; }
.brand-danger-40 { background-color: $brand-danger-40; }