/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
@import "~bootstrap/scss/variables";

.page-header {
  position: relative;
  display: block;
  //background-color: #fff;
  padding: $spacer-y $spacer-x;
  //border: $border-width solid $card-border-color;
  //@include border-radius($card-border-radius);
  margin-bottom: 20px;

  > h1 {
    font-size: $font-size-h4;
  }

  .page-actions {
    #search_form {
      margin-bottom: 20px;
    }
  }
}