<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <iframe src="/iconsets/app-arena-website/icomoon-font/demo.html" frameborder="0" width="100%" height="400"></iframe>
    </div>
    <div class="col-md-offset-1 col-md-10">
        <iframe src="/iconsets/app-arena-website/icomoon-svg/demo.html" frameborder="0" width="100%" height="400"></iframe>
    </div>
</div>
