/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~font-awesome/scss/font-awesome.scss";

/*=========================================================================
  Atoms Icons
 ========================================================================== */

.icon-primary {
  color: $brand-primary
}

.icon-secondary {
  color: $brand-secondary
}

.icon-success {
  color: $brand-success
}

.icon-info {
  color: $brand-info
}

.icon-warning {
  color: $brand-warning
}

.icon-danger {
  color: $brand-danger
}