/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "../../../fonts/app-arena-icons.scss";
/*
 Icon Helper Classes
*/
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/larger";
@import "./scss/fixed-width";
@import "./scss/list";
@import "./scss/bordered-pulled";
@import "./scss/animated";
@import "./scss/rotated-flipped";
@import "./scss/stacked";
@import "./scss/screen-reader";

/*=========================================================================
  Atoms Icons
 ========================================================================== */

.aa-icon {
  display: inline-block;
}

.icon-primary {
  color: theme-color("primary")
}

.icon-secondary {
  color: theme-color("secondary")
}

.icon-success {
  color: theme-color("success")
}

.icon-info {
  color: theme-color("info")
}

.icon-warning {
  color: theme-color("warning")
}

.icon-danger {
  color: theme-color("danger")
}
