/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "../../../fonts/app-arena-icons.scss";

/*
 Icon Helper Classes
*/
@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/larger";
@import "./scss/fixed-width";
@import "./scss/list";
@import "./scss/bordered-pulled";
@import "./scss/animated";
@import "./scss/rotated-flipped";
@import "./scss/stacked";
@import "./scss/screen-reader";


/*=========================================================================
  Atoms Icons
 ========================================================================== */

.aa-icon {
  display: inline-block;
}

.icon-primary {
   color: $brand-primary
 }

.icon-secondary {
  color: $brand-secondary
}

.icon-success {
  color: $brand-success
}

.icon-info {
  color: $brand-info
}

.icon-warning {
  color: $brand-warning
}

.icon-danger {
  color: $brand-danger
}
