<div class="page-header">
    <div class="row">
        <div class="col-xs-10">
            {{> molecules-breadcrumb }}
            <h1 class="page-header-title mb-0">{{ pageHeader.title }}</h1>
            {{# pageHeader.metadata }}
                <div class="page-header-metadata">
                    {{{ pageHeader.metadata }}}
                </div>
            {{/pageHeader.metadata}}
        </div>
        <div class="col-xs-2">
            <!-- Action buttons and page filter (e.g. date picker for filter page content) -->
            <div class="page-actions">
                {{# pageHeader.btnGroup }}
                    {{> molecules-button-group }}
                {{/ pageHeader.btnGroup }}
            </div>
        </div>
    </div>
</div>
