<div class="col-md-6 col-xl-3">
    <div class="services-col">
        <span class="service-icon aa-icon {{aa-icon}}"></span>
        <h4 class="text-uppercase">{{title}}</h4>
        <p>{{description}}</p>
        <a class="no-margin-bottom" href="{{href}}">{{action-text}}</a>
    </div>
</div>