{{#testimonial}}
    <div class="testimonial">
        <div class="testimonial-screens">
            <img class="testimonial-screen-browser" src="{{cdn-base-url}}{{screens.browser}}">
            <img class="testimonial-screen-mobile" src="{{cdn-base-url}}{{screens.mobile}}">
        </div>
        <div class="testimonial-quote text-center">
            <blockquote>
                <p>“ {{quote}} ”</p>
                <hr class="center">
                <footer>
                    <p>{{author.name}}</p>
                    <p>{{author.description}}</p>
                </footer>
            </blockquote>
        </div>
        <div class="testimonial-product-cta text-center">
            <h3>{{product.name}}</h3>
            <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
        </div>
    </div>
{{/testimonial}}
