<div class="testemonial">
    <div class="testemonial-screens">
        <img class="testemonial-screen-browser" src="{{testemonial.screens.browser}}">
        <img class="testemonial-screen-mobile" src="{{testemonial.screens.mobile}}">
    </div>
    <div class="testemonial-quote text-center">
        <blockquote>
            <p>“ {{testemonial.quote}} ”</p>
            <hr class="center">
            <footer>
                <p>{{testemonial.author.name}}</p>
                <p>{{testemonial.author.description}}</p>
            </footer>
        </blockquote>
    </div>
    <div class="testemonial-product-cta text-center">
        <h3>{{testemonial.product.name}}</h3>
        <button type="button" class="btn btn-lg btn-success">Jetzt testen!</button>
    </div>
</div>