<span class="usp-icon aa-icon aa-icon-aa-analytics"></span>
<h3 class="usp-title">{{usp.title}}</h3>
<p class="usp-description">{{usp.description}}</p>
<p class="usp-more-link"><a href="{{usp.href}}">Mehr erfahren <span class="aa-icon aa-icon-arrow-right"></span></a>
</p>