<span class="usp-icon aa-icon {{aa-icon}}"></span>
<h3 class="usp-title">{{title}}</h3>
<p class="usp-description">{{description}}</p>
<p class="usp-more-link"><a href="{{href}}">{{__read-more}} <span class="aa-icon aa-icon-arrow-right"></span></a></p>