<div class="m-usp">
    <span class="m-usp-icon {{icon-class}}"></span>
    <h3 class="m-usp-title">{{title}}</h3>
    <p class="m-usp-description">{{description}}</p>
    {{#read-more}}
        <p class="m-usp-more-link">
            <a href="{{href}}">{{text}} <span class="{{icon-class}}"></span></a>
        </p>
    {{/read-more}}
</div>