.m-usp {
  .m-usp-icon {
    color: $brand-primary;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .m-usp-title {
    padding-top: 1rem;
  }
  .m-usp-description {
  }
  .m-usp-more-link {
    margin-top: -0.8rem;
  }
}