{{#alert}}
    <div class="alert {{ class }}" role="alert">
        {{# heading }}
            <h4 class="alert-heading">{{{ heading }}}</h4>
        {{/ heading }}
        {{{ text }}}
        {{# isDismissable }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
        {{/ isDismissable }}
    </div>
{{/alert}}