<h5>Default buttons</h5>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">.btn-primary</button>
<!-- Secondary, outline button -->
<button type="button" class="btn btn-secondary">.btn-secondary</button>
<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">.btn-success</button>
<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">.btn-info</button>
<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">.btn-warning</button>
<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">.btn-danger</button>
<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">.btn-link</button>

<h5>Outline buttons</h5>
<button type="button" class="btn btn-outline-primary">.btn-outline-primary</button>
<button type="button" class="btn btn-secondary-outline">.btn-secondary-outline</button>
<button type="button" class="btn btn-success-outline">.btn-success-outline</button>
<button type="button" class="btn btn-info-outline">.btn-info-outline</button>
<button type="button" class="btn btn-warning-outline">.btn-warning-outline</button>
<button type="button" class="btn btn-danger-outline">.btn-danger-outline</button>