/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/buttons";

/*=========================================================================
  Atoms Button
 ========================================================================== */

.btn-default {
  color: #7A838D;
  background-color: #fff;
  border-color: #fff;
}