@import "../../../source/css/main";

body {
  background-color: theme-color('light');
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
}

.root {
  overflow: hidden;

  .navbar-light {
    background: #fff;
    border-bottom: 1px solid #e4e9f2;
    box-shadow: 0 8px 14px -5px #F5F7FA;
    z-index: 20;
    .navbar-brand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: center;
      .logo {
        @include img-fluid();
        height: 60px;
        margin: -15px;
        padding: 0;
      }
    }
  }
  .sidebar {
    background-color: #fff;
    min-height: 800px;
    border-right: 1px solid #d3dce9;
    padding: 15px;
    padding-top: 0;
    .search-box {
      padding-right: 15px;
    }
  }
  .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.invisible {
  display: none;
}

.category-nav-title {
  cursor: pointer;
  margin: 10px 0 0 -10px;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

