.aa-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.aa-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.aa-icon-bar-chart {
  width: 0.931640625em;
}

.aa-icon-bell {
  width: 1.353515625em;
}

.aa-icon-bolt-o {
  width: 0.6923828125em;
}

.aa-icon-bolt {
  width: 0.6923828125em;
}

.aa-icon-box {
  width: 1.14453125em;
}

.aa-icon-brush {
  width: 0.9873046875em;
}

.aa-icon-circle-o-notch {
  width: 1.0302734375em;
}

.aa-icon-clipboard {
  width: 0.830078125em;
}

.aa-icon-cog-star {
  width: 0.9833984375em;
}

.aa-icon-comment-text {
  width: 1.029296875em;
}

.aa-icon-comment {
  width: 1.029296875em;
}

.aa-icon-css {
  width: 1.205078125em;
}

.aa-icon-desktop {
  width: 1.263671875em;
}

.aa-icon-domain {
  width: 0.9873046875em;
}

.aa-icon-ellipsis {
  width: 1.166015625em;
}

.aa-icon-facebook {
  width: 0.5185546875em;
}

.aa-icon-gallery {
  width: 0.9619140625em;
}

.aa-icon-github {
  width: 1.02734375em;
}

.aa-icon-globe-filled {
  width: 1.0185546875em;
}

.aa-icon-google-plus {
  width: 0.9814453125em;
}

.aa-icon-graduation-cap {
  width: 1.2939453125em;
}

.aa-icon-html {
  width: 1.26171875em;
}

.aa-icon-lightbulb {
  width: 1.00390625em;
}

.aa-icon-like-plus {
  width: 1.169921875em;
}

.aa-icon-list {
  width: 1.205078125em;
}

.aa-icon-mail {
  width: 1.390625em;
}

.aa-icon-mobile {
  width: 0.57421875em;
}

.aa-icon-plug {
  width: 0.9404296875em;
}

.aa-icon-popularity {
  width: 0.71875em;
}

.aa-icon-refresh {
  width: 1.00390625em;
}

.aa-icon-share {
  width: 1.025390625em;
}

.aa-icon-tablet {
  width: 1.205078125em;
}

.aa-icon-thumbs-o-up {
  width: 0.9697265625em;
}

.aa-icon-thumbs {
  width: 0.927734375em;
}

.aa-icon-ticket {
  width: 0.978515625em;
}

.aa-icon-trophy {
  width: 0.693359375em;
}

.aa-icon-twitter {
  width: 1.2158203125em;
}

.aa-icon-two-users {
  width: 1.140625em;
}

.aa-icon-user-minus {
  width: 1.408203125em;
}

.aa-icon-user-refresh {
  width: 1.119140625em;
}

.aa-icon-user-up {
  width: 1.337890625em;
}

.aa-icon-youtube {
  width: 1.421875em;
}

.aa-icon-cloud-upload {
  width: 1.1533203125em;
}

.aa-icon-comment-chart {
  width: 1.0322265625em;
}

.aa-icon-digital-chart {
  width: 1.263671875em;
}

.aa-icon-download {
  width: 0.880859375em;
}

.aa-icon-file-pdf {
  width: 0.859375em;
}

.aa-icon-file {
  width: 0.859375em;
}

.aa-icon-heart-filled {
  width: 1.181640625em;
}

.aa-icon-heart {
  width: 1.169921875em;
}

.aa-icon-line-chart {
  width: 1.0048828125em;
}

.aa-icon-lock {
  width: 0.7578125em;
}

.aa-icon-log-in {
  width: 1.1787109375em;
}

.aa-icon-log-out {
  width: 1.2939453125em;
}

.aa-icon-pencil-circle {
  width: 0.99609375em;
}

.aa-icon-plus {
  width: 1.00390625em;
}

.aa-icon-responsive {
  width: 1.4208984375em;
}

.aa-icon-search {
  width: 0.974609375em;
}

.aa-icon-shield {
  width: 0.8466796875em;
}

.aa-icon-star {
  width: 1.04296875em;
}

.aa-icon-time {
  width: 0.884765625em;
}

.aa-icon-upload {
  width: 0.7783203125em;
}

.aa-icon-user {
  width: 0.7236328125em;
}

.aa-icon-users {
  width: 1.5869140625em;
}

.aa-icon-slider-arrow-left {
  width: 0.5166015625em;
}

.aa-icon-slider-arrow-right {
  width: 0.5166015625em;
}
