.aa-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.aa-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.aa-icon-browser {
  width: 1.1103515625em;
}

.aa-icon-cloud-upload {
  width: 1.1533203125em;
}

.aa-icon-cog {
  width: 0.9619140625em;
}

.aa-icon-comment-chart {
  width: 1.0322265625em;
}

.aa-icon-digital-chart {
  width: 1.263671875em;
}

.aa-icon-download {
  width: 0.880859375em;
}

.aa-icon-eye {
  width: 1.4248046875em;
}

.aa-icon-file-pdf {
  width: 0.859375em;
}

.aa-icon-file {
  width: 0.859375em;
}

.aa-icon-heart-filled {
  width: 1.181640625em;
}

.aa-icon-heart {
  width: 1.169921875em;
}

.aa-icon-line-chart {
  width: 1.0048828125em;
}

.aa-icon-lock {
  width: 0.7578125em;
}

.aa-icon-log-in {
  width: 1.1787109375em;
}

.aa-icon-log-out {
  width: 1.2939453125em;
}

.aa-icon-pencil-circle {
  width: 0.99609375em;
}

.aa-icon-plus {
  width: 1.00390625em;
}

.aa-icon-responsive {
  width: 1.4208984375em;
}

.aa-icon-search {
  width: 0.974609375em;
}

.aa-icon-shield {
  width: 0.8466796875em;
}

.aa-icon-star {
  width: 1.04296875em;
}

.aa-icon-time {
  width: 0.884765625em;
}

.aa-icon-upload {
  width: 0.7783203125em;
}

.aa-icon-user {
  width: 0.7236328125em;
}

.aa-icon-users {
  width: 1.5869140625em;
}

.aa-icon-slider-arrow-left {
  width: 0.5166015625em;
}

.aa-icon-slider-arrow-right {
  width: 0.5166015625em;
}
