/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";

/*=========================================================================
 Organism vertical tabs
 ========================================================================== */

.o-vertical-tabs {

  ul.hover-tabs {
    li {
      opacity: 0.5;
      padding: $spacer*0.5;
      margin-top: $spacer*2;
      @include transition($transition-fade);
      &:hover {
        opacity: 1;
      }
    }
  }
  /*
    .media-body:hover {

      opacity: 0;
    } */

  .col-md-7.tabs-content {
    align-items: center;
  }

  .row {
    justify-content: center;
  }

  p {
    cursor: pointer;
  }

  media.mb-4 {
    cursor: pointer;
  }

  h5 {
    color: $blue;
    cursor: pointer;
  }

  img {
    max-height: 80%;
    max-width: 80%;
  }

  .o-vertical-tab-icon {
    font-size: $spacer*2;
    padding: $spacer;
    color: $blue;
  }

}