{{#vertical-tabs}}
    <div class="o-vertical-tabs">
        <div class="row">
            {{# navigation.positionLeft }}

                <div class="col-md-5 tabs-nav">
                    <div class="row">
                        <div class="offset-md-1 col-md-11 tabs">
                            <ul class="list-unstyled hover-tabs">
                                {{#items}}
                                    <li class="media {{#isActive}}active{{/isActive}} mb-4 fade" data-toggle="tab"
                                        href="#{{id}}" role="tab">
                                        <!--<img class="d-flex mr-3" src="..." alt="Generic placeholder image">-->
                                        <div class="o-vertical-tab-icon">
                                            {{{ icon }}}
                                        </div>
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">{{{title}}}</h5>
                                            <p> {{{description}}} </p>
                                        </div>
                                    </li>
                                {{/items}}

                            </ul>
                            {{#cta}}
                                <a href="{{url}}" class="btn {{class}}">{{{text}}}</a>
                            {{/cta}}
                        </div>
                    </div>
                </div>
                <div class="col-md-7 tabs-content">
                    <div class="row">
                        <div class="col-md-11">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                {{#items}}
                                    <div class="tab-pane {{#isActive}}active{{/isActive}}" id="{{id}}" role="tabpanel">
                                        {{{content}}}
                                    </div>
                                {{/items}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/navigation.positionLeft}}


            {{^ navigation.positionLeft }}


                <div class="offset-md-1 col-md-4 tabs-content">
                    <div class="row">
                        <div class="col-md-11">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                {{#items}}
                                    <div class="tab-pane {{#isActive}}active{{/isActive}}" id="{{id}}" role="tabpanel">
                                        {{{content}}}
                                    </div>
                                {{/items}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 tabs-nav">
                    <div class="row">

                        <ul class="list-unstyled hover-tabs">
                            {{#items}}
                                <li class="media {{#isActive}}active{{/isActive}} mb-4 fade" data-toggle="tab"
                                    href="#{{id}}" role="tab">
                                    <!--<img class="d-flex mr-3" src="..." alt="Generic placeholder image">-->
                                    <div class="o-vertical-tab-icon">
                                        {{{ icon }}}
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">{{{title}}}</h5>
                                        <p> {{{description}}} </p>
                                    </div>
                                </li>
                            {{/items}}

                        </ul>
                        {{#cta}}
                            <a href="{{url}}" class="btn {{class}}">{{{text}}}</a>
                        {{/cta}}

                    </div>
                </div>

            {{/navigation.positionLeft}}
        </div>
    </div>


{{/vertical-tabs}}

