/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";

/*=========================================================================
 Organism vertical tabs
 ========================================================================== */

.o-vertical-tabs {

  /* Tags */

  li.media.active {
    opacity: 1;
  }

  ul.hover-tabs {
    align-items: center;

    li {
      opacity: 0.5;
      cursor: pointer;
      @include transition($transition-fade);

      &:hover {
        opacity: 1;
        transform: scale(1.005);
      }
    }
  }

  h5 {
    color: $blue;
    cursor: pointer;
  }

  /* tab-content: img/html/etc */

  .tabs-content {
    align-items: center;
    width: 100%;
    margin-bottom: $spacer;

    img {
      width: 100%;
      height: auto;

    }
  }

  /* tab-navigation */

  .o-vertical-tab-icon { /* Icon  */
    font-size: $spacer*2.5;
    padding: $spacer;
    color: $blue;
    float: left;
  }

  .tabs-nav {

    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-basis: auto;
      width: auto;
      flex-shrink: 1;
      flex-grow: 1;

      ul {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        li {

          justify-content: center;
          flex-direction: row;
          width: 85%;
          flex-basis: auto;
          flex-grow: 1;
          flex-shrink: 1;

        }
      }
    }
  }

  .media { /* description */
    display: table-row;
    padding-top: $spacer*0.30;

    &active {
      font-size: $spacer;
    }
  }

}
