/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";

/*=========================================================================
 Organism vertical tabs
 ========================================================================== */




.o-vertical-tabs{

  /* Tags */

  ul.hover-tabs{
    align-items: center;
    li{
      opacity: 0.5;
      cursor: pointer;
      @include transition($transition-fade);
      &:hover{

        opacity: 1;
        transform: scale(1.005);
      }
    }
  }

  h5{
    color: $blue;
    cursor: pointer;
  }

  /* tab-content: img/html/etc */

  .tabs-content{
    align-items: center;
    width: 100%;
  }

  img{
    width: 100%;
    height: auto;

  }

  /* tab-navigation */

  .o-vertical-tab-icon{
    font-size: $spacer*2;
    padding: $spacer;
    color: $blue;
    float: left;
  }


  .tabs-nav{
    div {
      ul{
        li{
        flex: 1;

        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      flex: 1;

      display: flex;
      justify-content: center;
      flex-direction: column;
    }
      flex: 1;

      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    padding: $spacer;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }



  .tabs-btn {

    width: auto;
  }


  .media{
    display: table-row;
    padding-top: $spacer*0.30;
    &active{
      font-size: $spacer;

    }

  }

}