/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/progress";

/*=========================================================================
  Molecules Progress-Bar
 ========================================================================== */

.removable-text {
  text-align: center;
  color: $text-muted;
}

.progress-bar-primary {
  background-color: theme-color("primary")
}

.progress-bar-secondary {
  background-color: theme-color("secondary")
}

.progress-bar-success {
  background-color: theme-color("success")
}

.progress-bar-info {
  background-color: theme-color("info")
}

.progress-bar-warning {
  background-color: theme-color("warning")
}

.progress-bar-danger {
  background-color: theme-color("danger")
}

.progress-circle {
  transform: rotate(-90deg);

  .progressMeter,
  .progressValue {
    fill: none;
  }

  .progressMeter {
    stroke: $progress-bg;
  }

  .progressValue {
    stroke: theme-color("primary");
    stroke-linecap: round;
  }

  &.progress-circle-primary {
    .progressValue {
      stroke: theme-color("primary");
    }
  }

  &.progress-circle-secondary {
    .progressValue {
      stroke: theme-color("secondary");
    }
  }

  &.progress-circle-success {
    .progressValue {
      stroke: theme-color("success");
    }
  }

  &.progress-circle-info {
    .progressValue {
      stroke: theme-color("info");
    }
  }

  &.progress-circle-warning {
    .progressValue {
      stroke: theme-color("warning");
    }
  }

  &.progress-circle-danger {
    .progressValue {
      stroke: theme-color("danger");
    }
  }
}