{{# navSidebar }}
    <nav id="l-nav-sidebar">

        {{# btnList }}
            {{> atoms-button }}
        {{/btnList}}

        <hr />

        {{> molecules-navs:nav-pills nav-stacked }}
    </nav>
{{/ navSidebar }}