<nav id="l-nav-sidebar">

    {{> atoms-button:btn-primary btn-block(btnText:"App erstellen") }}
    {{> atoms-button:btn-secondary btn-block(btnText:"Vorlage erstellen") }}

    {{> molecules-navs:nav-pills nav-stacked }}
</nav>