@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/utilities";


.logoContainer {
  margin-bottom: 3rem;

  img {
    max-width: 100%;
    border: 1px solid #efefef;
  }
}
