<div class="card">
    {{# header }}
        <div class="card-header">
            {{{ header }}}
        </div>
    {{/header}}

    {{# content }}
        {{#progressTracker}}
            {{> molecules-progress-tracker }}
        {{/progressTracker}}
        <div class="card-block">
            {{#appName}}
                {{> molecules-form-group }}
            {{/appName}}
            {{#customer}}
                {{> molecules-form-group }}
            {{/customer}}
        </div>
    {{/ content }}

    {{# footer }}
        <div class="card-footer text-xs-right">
            {{#prev}}
                <a href="{{url}}" class="btn btn-link float-left">{{text}}</a>
            {{/prev}}
            {{#next}}
                <a href="{{url}}" class="btn btn-primary">{{text}}</a>
            {{/next}}
        </div>
    {{/footer}}
</div>
