// Spinning Icons
// --------------------------

.#{$aa-icon-css-prefix}-spin {
  -webkit-animation: aa-icon-spin 2s infinite linear;
          animation: aa-icon-spin 2s infinite linear;
}

.#{$aa-icon-css-prefix}-pulse {
  -webkit-animation: aa-icon-spin 1s infinite steps(8);
          animation: aa-icon-spin 1s infinite steps(8);
}

@-webkit-keyframes aa-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes aa-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
