// List Icons
// -------------------------

.#{$aa-icon-css-prefix}-ul {
  padding-left: 0;
  margin-left: $aa-icon-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$aa-icon-css-prefix}-li {
  position: absolute;
  left: -$aa-icon-li-width;
  width: $aa-icon-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$aa-icon-css-prefix}-lg {
    left: -$aa-icon-li-width + (4em / 14);
  }
}
