// Variables
// --------------------------

$aa-icon-font-size-base:   14px !default;
$aa-icon-line-height-base: 1 !default;
$aa-icon-css-prefix:       aa-icon !default;
$aa-icon-border-color:     #eee !default;
$aa-icon-inverse:          #fff !default;
$aa-icon-li-width:         (30em / 14) !default;