@import "../../../css/scss/abstracts/variables";

.notif {
  position: fixed;
  top: 20px;
  right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid $brand-info;
  overflow-wrap: break-word;
  padding: 10px 40px 10px 60px;
  visibility: visible;
  z-index: 2050;
  &:before {
    content: '';
    bottom: 0;
    left: 0;
    top: 0;
    width: 40px;
    position: absolute;
  }
}

.info {
  &:before {
    background-color: $brand-info;
  }
}

.success {
  border-color: $brand-success;
  &:before {
    background-color: $brand-success;
  }
}

.warning {
  border-color: $brand-warning;
  &:before {
    background-color: $brand-warning;
  }
}

.danger {
  border-color: $brand-danger;
  &:before {
    background-color: $brand-danger;
  }
}

.dismissibleIcon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -7px;
}

.typeIcon {
  left: 12px;
  top: 50%;
  position: absolute;
  margin-top: -8px;
  line-height: 1;
  color: white;
}