/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "~font-awesome/scss/variables";

/*=========================================================================
  Organism Navigation Sidebar
 ========================================================================== */

.m-notification {

  .content {
    position: fixed;
    top: 20px;
    right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid $brand-info;
    overflow-wrap: break-word;
    padding: 10px 40px 10px 60px;
    visibility: visible;
    z-index: 2050;
    &:before {
      content: '';
      bottom: 0;
      left: 0;
      top: 0;
      width: 40px;
      position: absolute;
    }

    .close {
      margin-right: -25px;
    }

    .icon {
      position: absolute;
      left: 12px;
      top: 28%;
      color: #fff;

      > span {
        display: none;
      }
    }

    .title-message p {
      margin-bottom: 0;
    }

  }

  .info {
    &:before {
      background-color: $brand-info;
    }
    .icon .info {
      display: block;
    }
  }

  .success {
    border-color: $brand-success;
    &:before {
      background-color: $brand-success;
    }
    .icon .success {
      display: block;
    }

  }

  .warning {
    border-color: $brand-warning;
    &:before {
      background-color: $brand-warning;
    }
    .icon .warning {
      display: block;
    }
  }

  .danger {
    border-color: $brand-danger;
    &:before {
      background-color: $brand-danger;
    }
    .icon .danger {
      display: block;
    }
  }

  .dismissibleIcon {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -7px;
  }

  .typeIcon {
    left: 12px;
    top: 50%;
    position: absolute;
    margin-top: -8px;
    line-height: 1;
    color: white;
  }

}

