<div class="m-notification slideDownIn">
    <div class="">
        <span class=""></span>
        <strong>{{{header}}}</strong>
        <div>{{{header}}}</div>
        <i class="fa fa-times"></i>
    </div>
</div>
