<div>Primary font: 'Ubuntu', Arial, sans-serif !default;</div>
<div><em>Primary font italic: 'Ubuntu', Arial, sans-serif !default;</em></div>
<div><strong>Primary font bold: 'Ubuntu', Arial, sans-serif !default;</strong></div>
<div class="font-secondary">Secondary font: Georgia, Times, "Times New Roman", serif;</div>
<div class="font-secondary"><em>Secondary font italic: Georgia, Times, "Times New Roman", serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; Georgia, Times, "Times New Roman", serif;</strong></div>
