<footer class="o-footer text-xs-center" role="contentinfo">

    <div class="container">
        {{# footer.logo }}
            <a class="o-footer-logo text-center mt-1 mb-5" href="{{url}}">
                {{> 00-atoms/logo/logo }}
            </a>
        {{/footer.logo}}

        <hr/>

        <div class="o-footer-nav-top row">
            {{#footer.navigation.primary}}
                <div class="o-footer-nav-primary col-sm-6 col-md-8 text-center text-sm-left">
                    {{> 02-organisms/navigation/nav-footer }}
                </div>
            {{/footer.navigation.primary}}

            {{#footer.socialMedia}}
                <div class="o-footer-social-media col-sm-6 col-md-4 text-center text-sm-right pt-4 pt-sm-0">
                    <ul class="list-inline">
                        {{#items}}
                            <li class="list-inline-item">
                                <a href="{{url}}" target="_blank">
                                    {{{icon}}}
                                </a>
                            </li>
                        {{/items}}
                    </ul>
                </div>
            {{/footer.socialMedia}}
        </div>

        <div class="o-footer-nav-bottom text-center text-muted row">
            {{#footer.navigation.secondary}}
                <div class="o-footer-nav-secondary col-sm-6 col-md-8 text-center text-sm-left">
                    {{> 02-organisms/navigation/nav-footer }}
                </div>
            {{/footer.navigation.secondary}}

            {{#footer.languages}}
                <div class="o-footer-languages col-sm-6 col-md-4 text-center text-sm-right">
                    <ul class="list-inline py-1">
                        {{#items}}
                            <li class="list-inline-item pl-2">
                                {{^active}}
                                    <a href="{{url}}">
                                        {{#image}}<img src="{{image.url}}" alt="{{caption}}">{{/image}} {{caption}}
                                    </a>
                                {{/active}}
                                {{#active}}
                                    {{#image}}<img src="{{image.url}}" alt="{{caption}}">{{/image}} {{caption}}
                                {{/active}}
                            </li>
                        {{/items}}
                    </ul>
                </div>
            {{/footer.languages}}

            {{#footer.copyright}}
                <div class="o-footer-contact col-12">
                    {{ company.name }} &bull; {{ company.address1 }} &bull; {{ company.address2 }} &bull; {{ company.zip }} &bull; {{ company.city }} &bull; {{ company.phone }} &bull; {{ company.email }}
                </div>
                <div class="o-footer-copyright col-12">
                    <span class="countup">{{ year }}</span> &copy; {{ company.name }}™
                    <span class="d-md-none"><br></span><span class="d-none d-md-block"> | </span>
                    Made with <i class="aa-icon aa-icon-heart"></i> in Cologne, Germany.
                </div>
            {{/footer.copyright}}
        </div>

    </div>

</footer><!-- end o-footer -->
<script>
    jQuery(document).ready(function () {
        yearEl = jQuery('.o-footer-copyright .countup')[0];
        if (yearEl
                && typeof CountUp !== 'undefined'
                && typeof Waypoint !== 'undefined'
                && typeof Waypoint.Inview != 'undefined') {
            if (!jQuery(yearEl).data('initialized')) {
                var countup = new CountUp(yearEl, 2012, parseInt(yearEl.innerText), 0, 3, {
                    useEasing: true,
                    useGrouping: false
                });
                new Waypoint.Inview({
                    element: yearEl,
                    enter: function () {
                        countup.start();
                    }
                });
                jQuery(yearEl).data('initialized', true);
            }
        }
    });
</script>
