/**
 * Pattern Dependencies
 */
@import "../../../../css/scss/abstracts/variables";

/*=========================================================================
  Organism Navigation Sidebar
 ========================================================================== */

.m-notification {
  .content {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid theme-color("info");
    overflow-wrap: break-word;
    padding: 10px 40px 10px 60px;
    visibility: visible;
    pointer-events: auto;
    z-index: 1040;
    margin-bottom: 1rem;
    &:before {
      content: '';
      bottom: 0;
      left: 0;
      top: 0;
      width: 40px;
      position: absolute;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .close {
      margin-right: -25px;
      float: right;
      cursor: pointer;
    }

    .icon {
      position: absolute;
      left: 12px;
      top: 28%;
      color: #fff;

      > span {
        display: none;
      }
    }

    .title-message p {
      margin-bottom: 0;
    }

  }

  .info {
    &:before {
      background-color: theme-color("info");
    }
    .icon .info {
      display: block;
    }
  }

  .success {
    border-color: theme-color("success");
    &:before {
      background-color: theme-color("success");
    }
    .icon .success {
      display: block;
    }

  }

  .warning {
    border-color: theme-color("warning");
    &:before {
      background-color: theme-color("warning");
    }
    .icon .warning {
      display: block;
    }
  }

  .danger {
    border-color: theme-color("danger");
    &:before {
      background-color: theme-color("danger");
    }
    .icon .danger {
      display: block;
    }
  }
}

