/* Basic style overwrites */
// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components

// Body
[role=main] {
  background-color: #fff;
}

.no-margin-bottom {
  margin-bottom: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}

// remove Webkit Focus outlines
/* :focus {
  outline: none;
} */

// Typography
$font-weights: (
        light: 300,
        regular: 400,
        bold: 600
);
@each $weight, $value in $font-weights {
  .font-weight-#{$weight} {
    font-weight: $value;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: map_get($font-weights, 'regular'); //regular
}
p {
  font-weight: map_get($font-weights, 'light'); //regular
}

&.strong, strong, b {
  h1 & {
    font-weight: map_get($font-weights, 'regular');
    text-transform: uppercase;
    color: $brand-primary;
    text-decoration: underline
  }

}

// Buttons
.btn {
  &.btn-round {
    padding: 0;
    text-align: center;
    &.btn-round-md {
      width: 7rem;
      height: 7rem;
    }
  }
}


// Icons
.usp-icon, .service-icon {
  color: $brand-primary;
  font-size: 3.6rem;
}

.bg-blue {
  background-color: $brand-primary;
  color: #ffffff;
  .btn {
    &.btn-primary {
      @include button-variant($brand-primary, #ffffff, transparent);
    }
    &.btn-outline-primary {
      @include button-outline-variant(#ffffff, $brand-primary);
    }
  }
}
.btn {
  &.btn-outline-danger, &.btn-outline-info, &.btn-outline-primary, &.btn-outline-secondary, &.btn-outline-success, &.btn-outline-warning {
    border: 1px solid;
  }
}

hr {
  max-width: 110px;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  border-top: solid 5px $brand-primary;
  &.left {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
  }
  &.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  &.right {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  }
}

.row.gutter-80 {
  $grid-columns: 3;
  $grid-gutter-width-base: 80px;
  $grid-gutter-widths: (
          xs: $grid-gutter-width-base,
          sm: $grid-gutter-width-base,
          md: $grid-gutter-width-base,
          lg: $grid-gutter-width-base,
          xl: $grid-gutter-width-base
  );

  @include make-row($grid-gutter-widths);
  .col3 {
    @include make-col-ready($grid-gutter-widths);
    @include make-col(3, $grid-columns);
    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      @include make-col(1, $grid-columns);
    }
  }
}
.row.gutter-70 {
  $grid-columns: 20;
  $grid-gutter-width-base: 60px;
  $grid-gutter-widths: (
          xs: $grid-gutter-width-base,
          sm: $grid-gutter-width-base,
          md: $grid-gutter-width-base,
          lg: $grid-gutter-width-base,
          xl: $grid-gutter-width-base
  );
  @include make-row($grid-gutter-widths);
  .col5 {
    @include make-col-ready($grid-gutter-widths);
    @include make-col(20, $grid-columns);
    @media (min-width: map_get($grid-breakpoints, 'sm')) {
      @include make-col(10, $grid-columns);
    }
    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      @include make-col(5, $grid-columns);
    }
    @media (min-width: map_get($grid-breakpoints, 'xl')) {
      @include make-col(4, $grid-columns);
    }
  }
}
.container-fluid.container-fluid-90 {
  padding: 0 5%;
}
