/* Basic style overwrites */
// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components

// Body
[role=main] {
  background-color: #fff;
}

.no-margin-bottom {
  margin-bottom: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}

// remove Webkit Focus outlines
/* :focus {
  outline: none;
} */

// Typography
$font-weights: (
        light: 300,
        regular: 400,
        bold: 600
);
@each $weight, $value in $font-weights {
  .font-weight-#{$weight} {
    font-weight: $value;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: map_get($font-weights, 'regular'); //regular
}
p {
  font-weight: map_get($font-weights, 'light'); //regular
}

&.strong, strong, b {
  h1 & {
    font-weight: map_get($font-weights, 'regular');
    text-transform: uppercase;
    color: $brand-primary;
    text-decoration: underline
  }

}

// Buttons
.btn {
  &.btn-round {
    padding: 0;
    text-align: center;
    &.btn-round-md {
      width: 7rem;
      height: 7rem;
    }
  }
}

// Pages
main#page-homepage {
  section#section-homepage-header {
    .header-background-row {
      position: absolute;
      bottom: 60px;
      right: 15px;
      left: 15px;
    }
    .header-heading-row {
      padding-top: 60px;
      padding-bottom: 50px;
    }
    .header-objects-row {
      //transform: translateY(20px);
    }
  }
  section#section-homepage-about {
    padding-top: 0%;
  }
}

// Icons
.usp-icon, .service-icon {
  color: $brand-primary;
  font-size: 3.6rem;
}

// USPs
.usp-more-link {
  margin-top: -0.8rem;
}
.usp-title {
  padding-top: 1rem;
}

// Services
.services-row {
  margin-top: 2rem;
}
.services-col {
  background-color: #ffffff;
  margin-bottom: 2rem;
  padding: 1rem;
}

// Counter
.section-counter {
  output {
    color: $brand-primary;
    font-size: 2.842rem;
    font-weight: map_get($font-weights, 'bold');
  }
  hr {
    border-top: solid 2px $gray-lighter;
    max-width: inherit;
    text-align: inherit;
    margin-left: inherit;
    margin-right: inherit;
  }
  label {
    font-size: 1.105rem;
  }
}

// Sections
section {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  &#section-homepage-productofthemonth {
    min-height: 34rem;
    margin-bottom: 0;
  }
  &#section-homepage-header {
    margin-bottom: -20px;
    padding-bottom: 0;
    overflow: visible;
  }
  &.section-dark {
    background-color: $gray-lightest;
  }
  &.section-divider-bottom {
    overflow: visible;
    &:after {
      content: '';
      display: block;
      position: absolute;
      background-size: 100px 100px;
      width: 100px;
      height: 100px;
      /*bottom: 0; // with position relative */
      left: 50%;
      transform: translateX(-50%);
      /* png fallback, see http://pauginer.com/post/36614680636/invisible-gradient-technique */
      $divider-path: "images/logo_ringe_bg_section_divider";
      background-image: url(#{$cdn-base-url}images/logo_ringe_bg_section_divider.png);
      background-image: linear-gradient(transparent, transparent), url(#{$cdn-base-url}images/logo_ringe_bg_section_divider.svg);
    }
  }
}

// Testemonial Sliders

$testemonial-height: 34rem;
$testemonial-quote-width: 40/100;
.testemonial-slider {
  &.slick-slider {
    margin-bottom: 0;
  }
  .testemonial {
    .testemonial-screens {
      position: relative;
      width: 100%;
      @media (min-width: map_get($grid-breakpoints, 'lg')) {
        height: $testemonial-height;
        width: 100% - percentage($testemonial-quote-width);
        float: right;
      }
      .testemonial-screen-browser {
        display: none;
        top: 0;
        @media (min-width: map_get($grid-breakpoints, 'lg')) {
          display: block;
          position: absolute;
          left: 250px;
        }
      }
      .testemonial-screen-mobile {
        position: relative;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @media (min-width: map_get($grid-breakpoints, 'lg')) {
          position: absolute;
          left: 0;
          top: 60px;
          transform: translateX(0);
        }
      }
    }
    .testemonial-quote {
      width: 100%;
      display: table;
      @media (min-width: map_get($grid-breakpoints, 'lg')) {
        height: $testemonial-height;
        width: percentage($testemonial-quote-width);
        float: left;
      }
      blockquote {
        padding: 2rem;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
.testemonial-slider-divider {
  width: 100%;
  background-color: $gray-lightest;
  &.slick-slider {
    margin-bottom: 0;
  }
  .testemonial-slider-divider-arrow {
    margin-left: percentage($testemonial-quote-width) / 2;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 25px;
    border-color: #ffffff transparent transparent transparent;
  }
}
.testemonial-clients-slider {
  width: 100%;
  background-color: $gray-lightest;
  padding: 0 10%;
  display: table;
  .testemonial-client {
    padding: 1rem;
    height: 90px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    img {
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      transition: filter 1s, opacity 1s;
      filter: grayscale(100%);
      opacity: 0.5;
    }
    &.slick-current {
      img {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}

.product-screen-wrapper {
  position: relative;
  height: 29rem;
  .btn.btn-cta-topleft {
    position: absolute;
    text-transform: uppercase;
    top: 2.5rem;
    left: 7rem;
    z-index: 3;
  }
  img {
    position: absolute;
    &.screen-browser {
      z-index: 1;
      top: 0;
      left: 8rem;
    }
    &.screen-mobile {
      z-index: 2;
      top: 9rem;
      left: 1rem;
    }
  }
}

hr {
  max-width: 110px;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  border-top: solid 5px $brand-primary;
  &.left {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
  }
  &.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  &.right {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
  }
}

/*
svg#header-background #background #dynamic #row1 {
  animation: headerBackgroundAnimationRow1 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 3s;
}
svg#header-background #background #dynamic #row2 {
  animation: headerBackgroundAnimationRow2 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 3s;
}
svg#header-background #background #dynamic #row3 {
  animation: headerBackgroundAnimationRow3 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 3s;
}
svg#header-background #background #dynamic #row4 {
  animation: headerBackgroundAnimationRow4 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-delay: 3s;
}
@keyframes headerBackgroundAnimationRow1 {
  from {
    transform: translateX(-9%);
  }
  to {
    transform: translateX(13%);
  }
}
@keyframes headerBackgroundAnimationRow2 {
  from {
    transform: translateX(-9%);
  }
  to {
    transform: translateX(5%);
  }
}
@keyframes headerBackgroundAnimationRow3 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(4%);
  }
}
@keyframes headerBackgroundAnimationRow4 {
  from {
    transform: translateX(-11%);
  }
  to {
    transform: translateX(0%);
  }
}
*/

// Grid Columns
/*
@media(min-width: 992px){
  .col5{
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
*/

.row.gutter-80 {
  $grid-columns: 3;
  $grid-gutter-width-base: 80px;
  $grid-gutter-widths: (
          xs: $grid-gutter-width-base,
          sm: $grid-gutter-width-base,
          md: $grid-gutter-width-base,
          lg: $grid-gutter-width-base,
          xl: $grid-gutter-width-base
  );

  @include make-row($grid-gutter-widths);
  .col3 {
    @include make-col-ready($grid-gutter-widths);
    @include make-col(3, $grid-columns);
    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      @include make-col(1, $grid-columns);
    }
  }
}
.row.gutter-70 {
  $grid-columns: 20;
  $grid-gutter-width-base: 60px;
  $grid-gutter-widths: (
          xs: $grid-gutter-width-base,
          sm: $grid-gutter-width-base,
          md: $grid-gutter-width-base,
          lg: $grid-gutter-width-base,
          xl: $grid-gutter-width-base
  );
  @include make-row($grid-gutter-widths);
  .col5 {
    @include make-col-ready($grid-gutter-widths);
    @include make-col(20, $grid-columns);
    @media (min-width: map_get($grid-breakpoints, 'sm')) {
      @include make-col(10, $grid-columns);
    }
    @media (min-width: map_get($grid-breakpoints, 'lg')) {
      @include make-col(5, $grid-columns);
    }
    @media (min-width: map_get($grid-breakpoints, 'xl')) {
      @include make-col(4, $grid-columns);
    }
  }
}
.container-fluid.container-fluid-90 {
  padding: 0 5%;
}
