.footer-nav a.nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-nav .nav-link:hover {
    color: #4299d4;
}
.footer-nav .copyright {
    color: #2d343d;
    font-family: 'Ubuntu';
}
#footer {
    background: #666;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}