<div class="container">
    <div class="row">
        <div class="ocl-md-12">
            <div class="row my-2">
                <div class="offset-md-3 col-md-6">
                    <div class="o-login-logo text-xs-center">
                        {{> atoms-logo }}
                    </div>
                </div>
            </div>
            <h1 class="mt-3 text-xs-center">Design an App-Arena experience</h1>

            <h3 class="mb-3 text-xs-center">Principles, guidelines and assets for designing and building App-Arena experiences</h3>

            <h2>Brand</h2>
            <div class="row">
                {{#word}}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                Word templates
                            </div>
                            {{# image}}
                                <div class="card-img">
                                    <img class="card-img-top img-fluid" src="{{  src }}">
                                </div>
                            {{/ image}}
                            <div class="card-footer">
                                <a href="{{url}}" class="btn btn-block btn-secondary">Show templates</a>
                            </div>
                        </div>
                    </div>
                {{/word}}
                {{#powerpoint}}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                Powerpoint presentation templates
                            </div>
                            {{# image}}
                                <div class="card-img">
                                    <img class="card-img-top img-fluid" src="{{  src }}">
                                </div>
                            {{/ image}}
                            <div class="card-footer">
                                <a href="{{url}}" class="btn btn-block btn-secondary">Show templates</a>
                            </div>
                        </div>
                    </div>
                {{/powerpoint}}
                {{#logos}}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                Logos
                            </div>
                            {{# image}}
                                <div class="card-img">
                                    <img class="card-img-top img-fluid" src="{{  src }}">
                                </div>
                            {{/ image}}
                            <div class="card-footer">
                                <a href="{{url}}" class="btn btn-block btn-secondary">Show logos</a>
                            </div>
                        </div>
                    </div>
                {{/logos}}
                {{#fonts}}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                Fonts
                            </div>
                            {{# image}}
                                <div class="card-img">
                                    <img class="card-img-top img-fluid" src="{{  src }}">
                                </div>
                            {{/ image}}
                            <div class="card-footer">
                                <a href="{{url}}" class="btn btn-block btn-secondary">Show fonts</a>
                            </div>
                        </div>
                    </div>
                {{/fonts}}
                {{#colors}}
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                Colors
                            </div>
                            {{# image}}
                                <div class="card-img">
                                    <img class="card-img-top img-fluid" src="{{  src }}">
                                </div>
                            {{/ image}}
                            <div class="card-footer">
                                <a href="{{url}}" class="btn btn-block btn-secondary">Show colors</a>
                            </div>
                        </div>
                    </div>
                {{/colors}}
            </div>

            <h2>User interfaces</h2>

            <p>
                Beside Corporate Identity elements you will find Software components in form of React and User Interface
                patterns. All patterns use each other, so we have a living styleguide here following atomic design
                principles.
            </p>
            <p>
                The listed patterns contain:
            </p>
            <ul>
                <li>React JSX files</li>
                <li>SCSS style files</li>
                <li>HTML markup</li>
                <li>Screendesigns</li>
            </ul>
        </div>
    </div>
</div>

