<div class="container">
    <div class="row">
        <div class="ocl-md-12">
            <div class="row my-2">
                <div class="offset-md-3 col-md-6">
                    <div class="o-login-logo text-xs-center">
                        {{> atoms-logo }}
                    </div>
                </div>
            </div>
            <h1 class="mt-3 mb-3">App-Arena.com Styleguide & Corporate Identity</h1>
            <p>
                Get all necessary Corporate Identity and User Interface information you need.
                You'll find here:
            </p>
            <ul>
                <li>React patterns</li>
                <li>HTML markup for many predefined UI patterns</li>
                <li>Logos</li>
                <li>Word templates</li>
                <li>Powerpoint templates</li>
            </ul>
        </div>
    </div>
</div>

