<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt-5 text-center">
                    <h2 class="mb-4">Brand.</h2>

                    <h5 class="text-muted mb-4">
                        Principles, guidelines and assets for designing and building App-Arena experiences
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="jump-to bg-faded py-5">
    <div class="container">
        <h2 class="text-primary text-center text-uppercase mb-5">Jump to</h2>
        <div class="row">
            <div class="offset-md-1 col-md-2 text-center">
                <div class="m-usp">
                    <a href="#logos">
                        <i class="m-usp-icon aa-icon aa-icon-logo-l"></i>
                        <h3 class="m-usp-title">Logo</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="m-usp">
                    <a href="#colors">
                        <i class="m-usp-icon aa-icon aa-icon-color-l"></i>
                        <h3 class="m-usp-title">Colors</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="m-usp">
                    <a href="#typography">
                        <i class="m-usp-icon aa-icon aa-icon-text-l"></i>
                        <h3 class="m-usp-title">Typography</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="m-usp">
                    <a href="#icons">
                        <i class="m-usp-icon aa-icon aa-icon-icons-l"></i>
                        <h3 class="m-usp-title">Icons</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="m-usp">
                    <a href="#layout">
                        <i class="m-usp-icon aa-icon aa-icon-layout-l"></i>
                        <h3 class="m-usp-title">Layout</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{> 00-atoms/icons/icons }}