<h1>DO NOT USE (no final colors)</h1>
<h5>Primary colors</h5>

<div class="row">
    <div class="col-md-3">
        <div class="card card-inverse card-primary text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-primary</h3>
                <blockquote class="card-blockquote">
                    <p>#478AB8</p>
                    <footer>USAGE: Accents & Banners</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-inverse card-focus text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-focus</h3>
                <blockquote class="card-blockquote">
                    <p>#2c82c9</p>
                    <footer>USAGE: BTNs & CTAs</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-background text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-background</h3>
                <blockquote class="card-blockquote">
                    <p>#FFFFFF</p>
                    <footer>USAGE: Simple backgrounds</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<h5>Secondary colors</h5>

<div class="row">
    <div class="col-md-3">
        <div class="card card-inverse card-secondary text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-secondary</h3>
                <blockquote class="card-blockquote">
                    <p>#2d3d4a</p>
                    <footer>USAGE: Nav-backgrounds, dark schemes</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-grey-light text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-grey-light</h3>
                <blockquote class="card-blockquote">
                    <p>#f6f8fa</p>
                    <footer>USAGE: Background</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-inverse card-grey-dark text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-grey-dark</h3>
                <blockquote class="card-blockquote">
                    <p>#666666</p>
                    <footer>USAGE: Text & Inverted backgrounds</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<h5>Special colors</h5>

<div class="row">
    <div class="col-md-3">
        <div class="card card-inverse card-success text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-success</h3>
                <blockquote class="card-blockquote">
                    <p>#2dcc56</p>
                    <footer>USAGE: Success situations :successkid:</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-inverse card-info text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-info</h3>
                <blockquote class="card-blockquote">
                    <p>#67C6EB</p>
                    <footer>USAGE: Info-links & -BTNs</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-inverse card-warning text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-warning</h3>
                <blockquote class="card-blockquote">
                    <p>#DB6B3A</p>
                    <footer>USAGE: Warnings</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-inverse card-danger text-xs-center">
            <div class="card-block">
                <h3 class="card-title">$brand-danger</h3>
                <blockquote class="card-blockquote">
                    <p>#CF3D30</p>
                    <footer>USAGE: Danger Situations</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<h5>Color variations</h5>

<ul class="sg-colors">
    <li>
        <span class="sg-swatch brand-primary-80"></span>
        <span class="sg-label">.brand-primary-80</span>
    </li>
    <li>
        <span class="sg-swatch brand-secondary-80"></span>
        <span class="sg-label">.brand-secondary-80</span>
    </li>
    <li>
        <span class="sg-swatch brand-success-80"></span>
        <span class="sg-label">.brand-success-80</span>
    </li>
    <li>
        <span class="sg-swatch brand-warning-80"></span>
        <span class="sg-label">.brand-warning-80</span>
    </li>
    <li>
        <span class="sg-swatch brand-danger-80"></span>
        <span class="sg-label">.brand-danger-80</span>
    </li>
</ul>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch brand-primary-60"></span>
        <span class="sg-label">.brand-primary-60</span>
    </li>
    <li>
        <span class="sg-swatch brand-secondary-60"></span>
        <span class="sg-label">.brand-secondary-60</span>
    </li>
    <li>
        <span class="sg-swatch brand-success-60"></span>
        <span class="sg-label">.brand-success-60</span>
    </li>
    <li>
        <span class="sg-swatch brand-warning-60"></span>
        <span class="sg-label">.brand-warning-60</span>
    </li>
    <li>
        <span class="sg-swatch brand-danger-60"></span>
        <span class="sg-label">.brand-danger-60</span>
    </li>
</ul>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch brand-primary-40"></span>
        <span class="sg-label">.brand-primary-40</span>
    </li>
    <li>
        <span class="sg-swatch brand-secondary-40"></span>
        <span class="sg-label">.brand-secondary-40</span>
    </li>
    <li>
        <span class="sg-swatch brand-success-40"></span>
        <span class="sg-label">.brand-success-40</span>
    </li>
    <li>
        <span class="sg-swatch brand-warning-40"></span>
        <span class="sg-label">.brand-warning-40</span>
    </li>
    <li>
        <span class="sg-swatch brand-danger-40"></span>
        <span class="sg-label">.brand-danger-40</span>
    </li>
</ul>