<h1></h1>


<div class="container">
    <div class="row">
        <div class="ocl-md-12">
            <h1 class="mt-3 text-xs-center">Word templates</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Letter (A4) Blank</td>
                    <td>Empty App-Arena.com letter</td>
                    <td>
                        <a href="https://aa-ads.s3.amazonaws.com/corporate-identity/word/letter-blank.docx" class="btn btn-primary">
                            Download
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Letter (A4) with Dummy text</td>
                    <td>Prefilled letter including address and sender</td>
                    <td>
                        <a href="https://aa-ads.s3.amazonaws.com/corporate-identity/word/letter-dummy-text.docx" class="btn btn-primary">
                            Download
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

