@font-face {
    font-family: "app-arena-icons";
    src: url("./app-arena-icons.eot?b100688617ec9e707d19c82d9c49abcf?#iefix") format("embedded-opentype"),
url("./app-arena-icons.woff?b100688617ec9e707d19c82d9c49abcf") format("woff"),
url("./app-arena-icons.ttf?b100688617ec9e707d19c82d9c49abcf") format("truetype"),
url("./app-arena-icons.svg?b100688617ec9e707d19c82d9c49abcf#app-arena-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.aa-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'app-arena-icons' !important;
    display: inline-block;
    text-rendering: auto;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//Icon Name Variables
$aa-icon-aa-analytics: "\f101";
$aa-icon-arrow-down: "\f102";
$aa-icon-arrow-left: "\f103";
$aa-icon-arrow-right-circle: "\f104";
$aa-icon-arrow-right: "\f105";
$aa-icon-arrow-up: "\f106";
$aa-icon-atoms: "\f107";
$aa-icon-balance-scale: "\f108";
$aa-icon-bar-chart: "\f109";
$aa-icon-bell: "\f10a";
$aa-icon-bolt-o: "\f10b";
$aa-icon-bolt: "\f10c";
$aa-icon-box: "\f10d";
$aa-icon-browser-plus: "\f10e";
$aa-icon-browser: "\f10f";
$aa-icon-brush: "\f110";
$aa-icon-bullhorn: "\f111";
$aa-icon-calendar: "\f112";
$aa-icon-caret-down: "\f113";
$aa-icon-caret-left: "\f114";
$aa-icon-caret-right: "\f115";
$aa-icon-caret-up: "\f116";
$aa-icon-chart: "\f117";
$aa-icon-check: "\f118";
$aa-icon-chevron-down: "\f119";
$aa-icon-chevron-left: "\f11a";
$aa-icon-chevron-right: "\f11b";
$aa-icon-chevron-up: "\f11c";
$aa-icon-circle-o-notch: "\f11d";
$aa-icon-circle: "\f11e";
$aa-icon-clipboard: "\f11f";
$aa-icon-close: "\f120";
$aa-icon-cloud-upload: "\f121";
$aa-icon-cog-star: "\f122";
$aa-icon-cog: "\f123";
$aa-icon-colors: "\f124";
$aa-icon-comment-chart: "\f125";
$aa-icon-comment-text: "\f126";
$aa-icon-comment: "\f127";
$aa-icon-crop: "\f128";
$aa-icon-css: "\f129";
$aa-icon-customer: "\f12a";
$aa-icon-desktop: "\f12b";
$aa-icon-digital-chart: "\f12c";
$aa-icon-domain: "\f12d";
$aa-icon-dot-circle-o: "\f12e";
$aa-icon-download: "\f12f";
$aa-icon-ellipsis: "\f130";
$aa-icon-exclamation-circle: "\f131";
$aa-icon-external-link: "\f132";
$aa-icon-eye: "\f133";
$aa-icon-facebook-app: "\f134";
$aa-icon-facebook-apps: "\f135";
$aa-icon-facebook: "\f136";
$aa-icon-file-pdf: "\f137";
$aa-icon-file: "\f138";
$aa-icon-flag-checkered: "\f139";
$aa-icon-flag: "\f13a";
$aa-icon-floppy: "\f13b";
$aa-icon-gallery: "\f13c";
$aa-icon-github: "\f13d";
$aa-icon-globe-filled: "\f13e";
$aa-icon-globe: "\f13f";
$aa-icon-google-plus: "\f140";
$aa-icon-graduation-cap: "\f141";
$aa-icon-grid-full: "\f142";
$aa-icon-grid-two: "\f143";
$aa-icon-heart-filled: "\f144";
$aa-icon-heart: "\f145";
$aa-icon-html: "\f146";
$aa-icon-icons: "\f147";
$aa-icon-image: "\f148";
$aa-icon-info-circle: "\f149";
$aa-icon-key: "\f14a";
$aa-icon-label: "\f14b";
$aa-icon-layout: "\f14c";
$aa-icon-lightbulb: "\f14d";
$aa-icon-like-plus: "\f14e";
$aa-icon-line-chart: "\f14f";
$aa-icon-link: "\f150";
$aa-icon-list: "\f151";
$aa-icon-lock: "\f152";
$aa-icon-log-in: "\f153";
$aa-icon-log-out: "\f154";
$aa-icon-logo: "\f155";
$aa-icon-mail: "\f156";
$aa-icon-menu-circle: "\f157";
$aa-icon-minus: "\f158";
$aa-icon-mobile-check: "\f159";
$aa-icon-mobile: "\f15a";
$aa-icon-molecules: "\f15b";
$aa-icon-mouse-click: "\f15c";
$aa-icon-multi-select: "\f15d";
$aa-icon-newsletter: "\f15e";
$aa-icon-organisms: "\f15f";
$aa-icon-pages: "\f160";
$aa-icon-paper-plane-o: "\f161";
$aa-icon-pencil-circle: "\f162";
$aa-icon-pencil: "\f163";
$aa-icon-play-circle: "\f164";
$aa-icon-plug: "\f165";
$aa-icon-plus: "\f166";
$aa-icon-pointer: "\f167";
$aa-icon-popularity: "\f168";
$aa-icon-question-circle-filled: "\f169";
$aa-icon-question-circle: "\f16a";
$aa-icon-refresh: "\f16b";
$aa-icon-responsive: "\f16c";
$aa-icon-scale: "\f16d";
$aa-icon-search-circle: "\f16e";
$aa-icon-search: "\f16f";
$aa-icon-select: "\f170";
$aa-icon-share: "\f171";
$aa-icon-shield: "\f172";
$aa-icon-slider-arrow-left: "\f173";
$aa-icon-slider-arrow-right: "\f174";
$aa-icon-sort-amount-asc: "\f175";
$aa-icon-sort-amount-desc: "\f176";
$aa-icon-stadion: "\f177";
$aa-icon-star: "\f178";
$aa-icon-tablet: "\f179";
$aa-icon-target: "\f17a";
$aa-icon-templates: "\f17b";
$aa-icon-text: "\f17c";
$aa-icon-thumbs-o-up: "\f17d";
$aa-icon-thumbs: "\f17e";
$aa-icon-ticket: "\f17f";
$aa-icon-time-filter: "\f180";
$aa-icon-time: "\f181";
$aa-icon-tool: "\f182";
$aa-icon-trash: "\f183";
$aa-icon-trophy: "\f184";
$aa-icon-twitter: "\f185";
$aa-icon-two-users: "\f186";
$aa-icon-upload: "\f187";
$aa-icon-user-circle: "\f188";
$aa-icon-user-minus: "\f189";
$aa-icon-user-refresh: "\f18a";
$aa-icon-user-up: "\f18b";
$aa-icon-user: "\f18c";
$aa-icon-users: "\f18d";
$aa-icon-whatsapp: "\f18e";
$aa-icon-youtube: "\f18f";


.aa-icon-aa-analytics:before {
    content: $aa-icon-aa-analytics;
}
.aa-icon-arrow-down:before {
    content: $aa-icon-arrow-down;
}
.aa-icon-arrow-left:before {
    content: $aa-icon-arrow-left;
}
.aa-icon-arrow-right-circle:before {
    content: $aa-icon-arrow-right-circle;
}
.aa-icon-arrow-right:before {
    content: $aa-icon-arrow-right;
}
.aa-icon-arrow-up:before {
    content: $aa-icon-arrow-up;
}
.aa-icon-atoms:before {
    content: $aa-icon-atoms;
}
.aa-icon-balance-scale:before {
    content: $aa-icon-balance-scale;
}
.aa-icon-bar-chart:before {
    content: $aa-icon-bar-chart;
}
.aa-icon-bell:before {
    content: $aa-icon-bell;
}
.aa-icon-bolt-o:before {
    content: $aa-icon-bolt-o;
}
.aa-icon-bolt:before {
    content: $aa-icon-bolt;
}
.aa-icon-box:before {
    content: $aa-icon-box;
}
.aa-icon-browser-plus:before {
    content: $aa-icon-browser-plus;
}
.aa-icon-browser:before {
    content: $aa-icon-browser;
}
.aa-icon-brush:before {
    content: $aa-icon-brush;
}
.aa-icon-bullhorn:before {
    content: $aa-icon-bullhorn;
}
.aa-icon-calendar:before {
    content: $aa-icon-calendar;
}
.aa-icon-caret-down:before {
    content: $aa-icon-caret-down;
}
.aa-icon-caret-left:before {
    content: $aa-icon-caret-left;
}
.aa-icon-caret-right:before {
    content: $aa-icon-caret-right;
}
.aa-icon-caret-up:before {
    content: $aa-icon-caret-up;
}
.aa-icon-chart:before {
    content: $aa-icon-chart;
}
.aa-icon-check:before {
    content: $aa-icon-check;
}
.aa-icon-chevron-down:before {
    content: $aa-icon-chevron-down;
}
.aa-icon-chevron-left:before {
    content: $aa-icon-chevron-left;
}
.aa-icon-chevron-right:before {
    content: $aa-icon-chevron-right;
}
.aa-icon-chevron-up:before {
    content: $aa-icon-chevron-up;
}
.aa-icon-circle-o-notch:before {
    content: $aa-icon-circle-o-notch;
}
.aa-icon-circle:before {
    content: $aa-icon-circle;
}
.aa-icon-clipboard:before {
    content: $aa-icon-clipboard;
}
.aa-icon-close:before {
    content: $aa-icon-close;
}
.aa-icon-cloud-upload:before {
    content: $aa-icon-cloud-upload;
}
.aa-icon-cog-star:before {
    content: $aa-icon-cog-star;
}
.aa-icon-cog:before {
    content: $aa-icon-cog;
}
.aa-icon-colors:before {
    content: $aa-icon-colors;
}
.aa-icon-comment-chart:before {
    content: $aa-icon-comment-chart;
}
.aa-icon-comment-text:before {
    content: $aa-icon-comment-text;
}
.aa-icon-comment:before {
    content: $aa-icon-comment;
}
.aa-icon-crop:before {
    content: $aa-icon-crop;
}
.aa-icon-css:before {
    content: $aa-icon-css;
}
.aa-icon-customer:before {
    content: $aa-icon-customer;
}
.aa-icon-desktop:before {
    content: $aa-icon-desktop;
}
.aa-icon-digital-chart:before {
    content: $aa-icon-digital-chart;
}
.aa-icon-domain:before {
    content: $aa-icon-domain;
}
.aa-icon-dot-circle-o:before {
    content: $aa-icon-dot-circle-o;
}
.aa-icon-download:before {
    content: $aa-icon-download;
}
.aa-icon-ellipsis:before {
    content: $aa-icon-ellipsis;
}
.aa-icon-exclamation-circle:before {
    content: $aa-icon-exclamation-circle;
}
.aa-icon-external-link:before {
    content: $aa-icon-external-link;
}
.aa-icon-eye:before {
    content: $aa-icon-eye;
}
.aa-icon-facebook-app:before {
    content: $aa-icon-facebook-app;
}
.aa-icon-facebook-apps:before {
    content: $aa-icon-facebook-apps;
}
.aa-icon-facebook:before {
    content: $aa-icon-facebook;
}
.aa-icon-file-pdf:before {
    content: $aa-icon-file-pdf;
}
.aa-icon-file:before {
    content: $aa-icon-file;
}
.aa-icon-flag-checkered:before {
    content: $aa-icon-flag-checkered;
}
.aa-icon-flag:before {
    content: $aa-icon-flag;
}
.aa-icon-floppy:before {
    content: $aa-icon-floppy;
}
.aa-icon-gallery:before {
    content: $aa-icon-gallery;
}
.aa-icon-github:before {
    content: $aa-icon-github;
}
.aa-icon-globe-filled:before {
    content: $aa-icon-globe-filled;
}
.aa-icon-globe:before {
    content: $aa-icon-globe;
}
.aa-icon-google-plus:before {
    content: $aa-icon-google-plus;
}
.aa-icon-graduation-cap:before {
    content: $aa-icon-graduation-cap;
}
.aa-icon-grid-full:before {
    content: $aa-icon-grid-full;
}
.aa-icon-grid-two:before {
    content: $aa-icon-grid-two;
}
.aa-icon-heart-filled:before {
    content: $aa-icon-heart-filled;
}
.aa-icon-heart:before {
    content: $aa-icon-heart;
}
.aa-icon-html:before {
    content: $aa-icon-html;
}
.aa-icon-icons:before {
    content: $aa-icon-icons;
}
.aa-icon-image:before {
    content: $aa-icon-image;
}
.aa-icon-info-circle:before {
    content: $aa-icon-info-circle;
}
.aa-icon-key:before {
    content: $aa-icon-key;
}
.aa-icon-label:before {
    content: $aa-icon-label;
}
.aa-icon-layout:before {
    content: $aa-icon-layout;
}
.aa-icon-lightbulb:before {
    content: $aa-icon-lightbulb;
}
.aa-icon-like-plus:before {
    content: $aa-icon-like-plus;
}
.aa-icon-line-chart:before {
    content: $aa-icon-line-chart;
}
.aa-icon-link:before {
    content: $aa-icon-link;
}
.aa-icon-list:before {
    content: $aa-icon-list;
}
.aa-icon-lock:before {
    content: $aa-icon-lock;
}
.aa-icon-log-in:before {
    content: $aa-icon-log-in;
}
.aa-icon-log-out:before {
    content: $aa-icon-log-out;
}
.aa-icon-logo:before {
    content: $aa-icon-logo;
}
.aa-icon-mail:before {
    content: $aa-icon-mail;
}
.aa-icon-menu-circle:before {
    content: $aa-icon-menu-circle;
}
.aa-icon-minus:before {
    content: $aa-icon-minus;
}
.aa-icon-mobile-check:before {
    content: $aa-icon-mobile-check;
}
.aa-icon-mobile:before {
    content: $aa-icon-mobile;
}
.aa-icon-molecules:before {
    content: $aa-icon-molecules;
}
.aa-icon-mouse-click:before {
    content: $aa-icon-mouse-click;
}
.aa-icon-multi-select:before {
    content: $aa-icon-multi-select;
}
.aa-icon-newsletter:before {
    content: $aa-icon-newsletter;
}
.aa-icon-organisms:before {
    content: $aa-icon-organisms;
}
.aa-icon-pages:before {
    content: $aa-icon-pages;
}
.aa-icon-paper-plane-o:before {
    content: $aa-icon-paper-plane-o;
}
.aa-icon-pencil-circle:before {
    content: $aa-icon-pencil-circle;
}
.aa-icon-pencil:before {
    content: $aa-icon-pencil;
}
.aa-icon-play-circle:before {
    content: $aa-icon-play-circle;
}
.aa-icon-plug:before {
    content: $aa-icon-plug;
}
.aa-icon-plus:before {
    content: $aa-icon-plus;
}
.aa-icon-pointer:before {
    content: $aa-icon-pointer;
}
.aa-icon-popularity:before {
    content: $aa-icon-popularity;
}
.aa-icon-question-circle-filled:before {
    content: $aa-icon-question-circle-filled;
}
.aa-icon-question-circle:before {
    content: $aa-icon-question-circle;
}
.aa-icon-refresh:before {
    content: $aa-icon-refresh;
}
.aa-icon-responsive:before {
    content: $aa-icon-responsive;
}
.aa-icon-scale:before {
    content: $aa-icon-scale;
}
.aa-icon-search-circle:before {
    content: $aa-icon-search-circle;
}
.aa-icon-search:before {
    content: $aa-icon-search;
}
.aa-icon-select:before {
    content: $aa-icon-select;
}
.aa-icon-share:before {
    content: $aa-icon-share;
}
.aa-icon-shield:before {
    content: $aa-icon-shield;
}
.aa-icon-slider-arrow-left:before {
    content: $aa-icon-slider-arrow-left;
}
.aa-icon-slider-arrow-right:before {
    content: $aa-icon-slider-arrow-right;
}
.aa-icon-sort-amount-asc:before {
    content: $aa-icon-sort-amount-asc;
}
.aa-icon-sort-amount-desc:before {
    content: $aa-icon-sort-amount-desc;
}
.aa-icon-stadion:before {
    content: $aa-icon-stadion;
}
.aa-icon-star:before {
    content: $aa-icon-star;
}
.aa-icon-tablet:before {
    content: $aa-icon-tablet;
}
.aa-icon-target:before {
    content: $aa-icon-target;
}
.aa-icon-templates:before {
    content: $aa-icon-templates;
}
.aa-icon-text:before {
    content: $aa-icon-text;
}
.aa-icon-thumbs-o-up:before {
    content: $aa-icon-thumbs-o-up;
}
.aa-icon-thumbs:before {
    content: $aa-icon-thumbs;
}
.aa-icon-ticket:before {
    content: $aa-icon-ticket;
}
.aa-icon-time-filter:before {
    content: $aa-icon-time-filter;
}
.aa-icon-time:before {
    content: $aa-icon-time;
}
.aa-icon-tool:before {
    content: $aa-icon-tool;
}
.aa-icon-trash:before {
    content: $aa-icon-trash;
}
.aa-icon-trophy:before {
    content: $aa-icon-trophy;
}
.aa-icon-twitter:before {
    content: $aa-icon-twitter;
}
.aa-icon-two-users:before {
    content: $aa-icon-two-users;
}
.aa-icon-upload:before {
    content: $aa-icon-upload;
}
.aa-icon-user-circle:before {
    content: $aa-icon-user-circle;
}
.aa-icon-user-minus:before {
    content: $aa-icon-user-minus;
}
.aa-icon-user-refresh:before {
    content: $aa-icon-user-refresh;
}
.aa-icon-user-up:before {
    content: $aa-icon-user-up;
}
.aa-icon-user:before {
    content: $aa-icon-user;
}
.aa-icon-users:before {
    content: $aa-icon-users;
}
.aa-icon-whatsapp:before {
    content: $aa-icon-whatsapp;
}
.aa-icon-youtube:before {
    content: $aa-icon-youtube;
}
