@font-face {
    font-family: "icons";
    src: url("./icons.eot?c495d165022b232cd62ba71488ebe0f2?#iefix") format("embedded-opentype"),
url("./icons.woff?c495d165022b232cd62ba71488ebe0f2") format("woff"),
url("./icons.ttf?c495d165022b232cd62ba71488ebe0f2") format("truetype"),
url("./icons.svg?c495d165022b232cd62ba71488ebe0f2#icons") format("svg");
}

.aa-icon {
    line-height: 1;
}

.aa-icon {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.aa-icon-aa-analytics:before {
    content: "\f101";
}
.aa-icon-arrow-down:before {
    content: "\f102";
}
.aa-icon-arrow-left:before {
    content: "\f103";
}
.aa-icon-arrow-right-circle:before {
    content: "\f104";
}
.aa-icon-arrow-right:before {
    content: "\f105";
}
.aa-icon-arrow-up:before {
    content: "\f106";
}
.aa-icon-balance-scale:before {
    content: "\f107";
}
.aa-icon-bar-chart:before {
    content: "\f108";
}
.aa-icon-bell:before {
    content: "\f109";
}
.aa-icon-bolt-o:before {
    content: "\f10a";
}
.aa-icon-bolt:before {
    content: "\f10b";
}
.aa-icon-box:before {
    content: "\f10c";
}
.aa-icon-browser-plus:before {
    content: "\f10d";
}
.aa-icon-browser:before {
    content: "\f10e";
}
.aa-icon-brush:before {
    content: "\f10f";
}
.aa-icon-bullhorn:before {
    content: "\f110";
}
.aa-icon-calendar:before {
    content: "\f111";
}
.aa-icon-caret-down:before {
    content: "\f112";
}
.aa-icon-caret-left:before {
    content: "\f113";
}
.aa-icon-caret-right:before {
    content: "\f114";
}
.aa-icon-caret-up:before {
    content: "\f115";
}
.aa-icon-chart:before {
    content: "\f116";
}
.aa-icon-check:before {
    content: "\f117";
}
.aa-icon-chevron-down:before {
    content: "\f118";
}
.aa-icon-chevron-left:before {
    content: "\f119";
}
.aa-icon-chevron-right:before {
    content: "\f11a";
}
.aa-icon-chevron-up:before {
    content: "\f11b";
}
.aa-icon-circle-o-notch:before {
    content: "\f11c";
}
.aa-icon-circle:before {
    content: "\f11d";
}
.aa-icon-clipboard:before {
    content: "\f11e";
}
.aa-icon-close:before {
    content: "\f11f";
}
.aa-icon-cloud-upload:before {
    content: "\f120";
}
.aa-icon-cog-star:before {
    content: "\f121";
}
.aa-icon-cog:before {
    content: "\f122";
}
.aa-icon-colors:before {
    content: "\f123";
}
.aa-icon-comment-chart:before {
    content: "\f124";
}
.aa-icon-comment-text:before {
    content: "\f125";
}
.aa-icon-comment:before {
    content: "\f126";
}
.aa-icon-crop:before {
    content: "\f127";
}
.aa-icon-css:before {
    content: "\f128";
}
.aa-icon-customer:before {
    content: "\f129";
}
.aa-icon-desktop:before {
    content: "\f12a";
}
.aa-icon-digital-chart:before {
    content: "\f12b";
}
.aa-icon-domain:before {
    content: "\f12c";
}
.aa-icon-dot-circle-o:before {
    content: "\f12d";
}
.aa-icon-download:before {
    content: "\f12e";
}
.aa-icon-ellipsis:before {
    content: "\f12f";
}
.aa-icon-exclamation-circle:before {
    content: "\f130";
}
.aa-icon-external-link:before {
    content: "\f131";
}
.aa-icon-eye:before {
    content: "\f132";
}
.aa-icon-facebook-app:before {
    content: "\f133";
}
.aa-icon-facebook-apps:before {
    content: "\f134";
}
.aa-icon-facebook:before {
    content: "\f135";
}
.aa-icon-file-pdf:before {
    content: "\f136";
}
.aa-icon-file:before {
    content: "\f137";
}
.aa-icon-flag-checkered:before {
    content: "\f138";
}
.aa-icon-flag:before {
    content: "\f139";
}
.aa-icon-floppy:before {
    content: "\f13a";
}
.aa-icon-gallery:before {
    content: "\f13b";
}
.aa-icon-github:before {
    content: "\f13c";
}
.aa-icon-globe-filled:before {
    content: "\f13d";
}
.aa-icon-globe:before {
    content: "\f13e";
}
.aa-icon-google-plus:before {
    content: "\f13f";
}
.aa-icon-graduation-cap:before {
    content: "\f140";
}
.aa-icon-grid-full:before {
    content: "\f141";
}
.aa-icon-grid-two:before {
    content: "\f142";
}
.aa-icon-heart-filled:before {
    content: "\f143";
}
.aa-icon-heart:before {
    content: "\f144";
}
.aa-icon-html:before {
    content: "\f145";
}
.aa-icon-image:before {
    content: "\f146";
}
.aa-icon-info-circle:before {
    content: "\f147";
}
.aa-icon-key:before {
    content: "\f148";
}
.aa-icon-label:before {
    content: "\f149";
}
.aa-icon-lightbulb:before {
    content: "\f14a";
}
.aa-icon-like-plus:before {
    content: "\f14b";
}
.aa-icon-line-chart:before {
    content: "\f14c";
}
.aa-icon-link:before {
    content: "\f14d";
}
.aa-icon-list:before {
    content: "\f14e";
}
.aa-icon-lock:before {
    content: "\f14f";
}
.aa-icon-log-in:before {
    content: "\f150";
}
.aa-icon-log-out:before {
    content: "\f151";
}
.aa-icon-mail:before {
    content: "\f152";
}
.aa-icon-menu-circle:before {
    content: "\f153";
}
.aa-icon-minus:before {
    content: "\f154";
}
.aa-icon-mobile-check:before {
    content: "\f155";
}
.aa-icon-mobile:before {
    content: "\f156";
}
.aa-icon-mouse-click:before {
    content: "\f157";
}
.aa-icon-multi-select:before {
    content: "\f158";
}
.aa-icon-newsletter:before {
    content: "\f159";
}
.aa-icon-paper-plane-o:before {
    content: "\f15a";
}
.aa-icon-pencil-circle:before {
    content: "\f15b";
}
.aa-icon-pencil:before {
    content: "\f15c";
}
.aa-icon-play-circle:before {
    content: "\f15d";
}
.aa-icon-plug:before {
    content: "\f15e";
}
.aa-icon-plus:before {
    content: "\f15f";
}
.aa-icon-pointer:before {
    content: "\f160";
}
.aa-icon-popularity:before {
    content: "\f161";
}
.aa-icon-question-circle-filled:before {
    content: "\f162";
}
.aa-icon-question-circle:before {
    content: "\f163";
}
.aa-icon-refresh:before {
    content: "\f164";
}
.aa-icon-responsive:before {
    content: "\f165";
}
.aa-icon-scale:before {
    content: "\f166";
}
.aa-icon-search-circle:before {
    content: "\f167";
}
.aa-icon-search:before {
    content: "\f168";
}
.aa-icon-select:before {
    content: "\f169";
}
.aa-icon-share:before {
    content: "\f16a";
}
.aa-icon-shield:before {
    content: "\f16b";
}
.aa-icon-slider-arrow-left:before {
    content: "\f16c";
}
.aa-icon-slider-arrow-right:before {
    content: "\f16d";
}
.aa-icon-sort-amount-asc:before {
    content: "\f16e";
}
.aa-icon-sort-amount-desc:before {
    content: "\f16f";
}
.aa-icon-stadion:before {
    content: "\f170";
}
.aa-icon-star:before {
    content: "\f171";
}
.aa-icon-tablet:before {
    content: "\f172";
}
.aa-icon-target:before {
    content: "\f173";
}
.aa-icon-text:before {
    content: "\f174";
}
.aa-icon-thumbs-o-up:before {
    content: "\f175";
}
.aa-icon-thumbs:before {
    content: "\f176";
}
.aa-icon-ticket:before {
    content: "\f177";
}
.aa-icon-time-filter:before {
    content: "\f178";
}
.aa-icon-time:before {
    content: "\f179";
}
.aa-icon-tool:before {
    content: "\f17a";
}
.aa-icon-trash:before {
    content: "\f17b";
}
.aa-icon-trophy:before {
    content: "\f17c";
}
.aa-icon-twitter:before {
    content: "\f17d";
}
.aa-icon-two-users:before {
    content: "\f17e";
}
.aa-icon-upload:before {
    content: "\f17f";
}
.aa-icon-user-circle:before {
    content: "\f180";
}
.aa-icon-user-minus:before {
    content: "\f181";
}
.aa-icon-user-refresh:before {
    content: "\f182";
}
.aa-icon-user-up:before {
    content: "\f183";
}
.aa-icon-user:before {
    content: "\f184";
}
.aa-icon-users:before {
    content: "\f185";
}
.aa-icon-whatsapp:before {
    content: "\f186";
}
.aa-icon-youtube:before {
    content: "\f187";
}
