<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #478ab8;"></span>
		<span class="sg-label">
			$color-brand-lightblue <br />
			#478ab8
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2d343d;"></span>
		<span class="sg-label">
			$color-brand-darkblue <br />
			#2d343d
		</span>
	</li>
</ul>
