<nav class="navbar {{ styleModifier }}">
    <a class="navbar-brand" href="#">
        {{> atoms-logo }}
    </a>

    {{> molecules-navs:navbar-nav }}

    {{# searchActivated }}
        {{> molecules-navbar-form }}
    {{/searchActivated}}
</nav>