/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";

/*=========================================================================
  Molecules Navbar
 ========================================================================== */
.m-navbar-form.has-icon {
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  input {
    padding-left: 30px;
  }
}