{{#navbar}}
    <div class="m-navbar">
        <nav id="m-navbar-desktop" class="m-navbar-desktop {{class }}">
            <a class="navbar-logo" href="{{logo.url}}">
                {{> 00-atoms/logo/logo }}
            </a>

            {{# searchForm }}
                <div class="search-form">
                    <div class="search-form-handle">
                        {{{icon}}}
                    </div>
                    {{> 01-molecules/navbar/navbar-form }}
                </div>
            {{/searchForm}}

            <div class="navbar-navs text-center py-2 hidden-md-down">
                {{#navs}}
                    <ul class="m-navs nav {{ class }}">
                        {{# items }}
                            <li class="nav-item {{# subnav }}dropdown{{/subnav}}">
                                <a class="nav-link {{# isActive }}active{{/ isActive }} {{# isDisabled }}disabled{{/ isDisabled }} {{# subnav }}dropdown-toggle{{/ subnav }}"
                                   href="{{ url }}" {{# subnav }}data-toggle="dropdown"{{/ subnav }}>
                                    {{{ text }}}
                                </a>

                                {{# subnav }}
                                    <!-- Very special subnav for navbars -->
                                    <div class="dropdown-menu">
                                        <div class="subnav-container {{#promotion}}promotion-activated{{/promotion}}">
                                            <div class="row">
                                                <div class="items {{#promotion}}col-sm-7{{/promotion}} {{^promotion}}col-sm-12{{/promotion}}">
                                                    {{#headline}}
                                                        <h6 class="subnav-header">{{headline}}</h6>
                                                    {{/headline}}
                                                    <div class="row">
                                                        {{#columns}}
                                                            <div class="subnav-column {{class}}">
                                                                <ul>
                                                                    {{#items}}
                                                                        <li>
                                                                            <a href="{{url}}">{{text}}</a>
                                                                        </li>
                                                                    {{/items}}
                                                                </ul>
                                                            </div>
                                                        {{/columns}}
                                                    </div>
                                                </div>
                                                {{#promotion}}
                                                    <div class="promotion col-sm-5">
                                                        {{{content}}}
                                                        {{# cta }}
                                                            <div class="cta">
                                                                <a href="{{url}}" class="{{class}}">
                                                                    {{{text}}}
                                                                </a>
                                                            </div>
                                                        {{/cta}}
                                                    </div>
                                                {{/promotion}}
                                            </div>
                                        </div>
                                    </div>
                                {{/subnav}}
                            </li>
                        {{/ items }}
                    </ul>
                {{/navs}}
            </div>
            <div class="navbar-actions">
                <a href="#" class="navbar-action">
                    <i class="aa-icon aa-icon-search-circle"></i>
                </a>
                <a href="#m-navbar-mobile" class="navbar-action hidden-lg-up">
                    <i class="aa-icon aa-icon-menu-circle"></i>
                </a>
            </div>
        </nav>
    </div>

    <!-- Mobile navigation -->
    <nav id="m-navbar-mobile" class="m-navbar-mobile">
        {{#navs}}
            <ul>
                {{# items }}
                    <li class="">
                        {{# url }}
                            <a class="{{# isActive }}active{{/ isActive }} {{# isDisabled }}disabled{{/ isDisabled }}"
                               href="{{ url }}" >
                                {{{ text }}}
                            </a>
                        {{/ url}}
                        {{^ url }}
                            <span class="{{# isActive }}active{{/ isActive }} {{# isDisabled }}disabled{{/ isDisabled }}">
                                {{{ text }}}
                            </span>
                        {{/ url }}
                        {{# subnav }}
                            <ul>
                                {{#columns}}
                                    {{#items}}
                                        <li>
                                            <a href="{{url}}">{{text}}</a>
                                        </li>
                                    {{/items}}
                                {{/columns}}
                            </ul>
                        {{/subnav}}
                    </li>
                {{/ items }}
            </ul>
        {{/navs}}
    </nav>


    <script type="application/javascript">
        $(document).ready(function () {
            if (!$("#m-navbar-mobile").data('mmenu')) {
                var options = {},
                    configuration = {};
                if ($("#main")) {
                    configuration['offCanvas'] = {
                        pageSelector: "#main"
                    }
                }
                $("#m-navbar-mobile").mmenu(options, configuration);
            }
        });
    </script>
{{/navbar}}