<nav class="navbar {{navbar.class }} {{ styleModifier }}">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand col-md-2 text-xs-center" href="#">
        {{> atoms-logo }}
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        {{# navbar.primaryNavigation }}
            {{> molecules-navs:navbar-nav }}
        {{/navbar.primaryNavigation}}
    </div>
    {{# navbar.userNavigation }}
        {{# links }}
            {{> molecules-navs:navbar-nav float-xs-right ml-1 }}
        {{/links}}
        {{# dropdown}}
            <ul class="nav navbar-nav float-xs-right ml-1">
                <li class="nav-item">
                    {{> molecules-dropdown }}
                </li>
            </ul>
        {{/dropdown}}

    {{/navbar.userNavigation}}

    {{# navbar.helpNavigation }}
        <ul class="nav navbar-nav float-xs-right ml-1">
            {{> molecules-dropdown }}
        </ul>
    {{/navbar.helpNavigation}}

    {{# navbar.searchForm }}
        {{> molecules-navbar-form:float-xs-right }}
    {{/navbar.searchForm}}
</nav>