/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/utilities/background";

/*=========================================================================
  Molecules Modal
 ========================================================================== */
.m-navbar {
  position: relative;

  .navbar-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;

    > img {
      height: 25px;
      max-width: 200px;
    }
  }

  .navbar-navs .m-navs {
      justify-content: center;

    .nav-link {
      text-transform: uppercase;
      color: $gray;

      &.active {
        color: darken($gray, 20%);
      }

      &:hover {
        color: darken($gray, 10%);
      }
    }
  }

  .search-form {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index:1;
  }
}
