@import "../../../css/scss/abstracts/variables_bootstrap";
@import "~bootstrap/scss/variables";
@import "../../../css/scss/abstracts/variables";

.m-navbar-form.has-icon {
  position: relative;

  i {
    position: absolute;
    left:10px;
    top: 10px;
  }

  input {
    padding-left: 30px;
  }
}