<nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">
        {{> atoms-logo-inverse }}
    </a>

    {{> molecules-navs:navbar-nav }}

    {{> molecules-navbar-form }}

</nav>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        {{> atoms-logo-inverse }}
    </a>

    {{> molecules-navs:navbar-nav }}

    {{> molecules-navbar-form }}
</nav>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
        {{> atoms-logo }}
    </a>

    {{> molecules-navs:navbar-nav }}

    {{> molecules-navbar-form }}
</nav>