<form class="m-navbar-form form-inline {{ styleModifier }} {{ navbarForm.class }} {{#navbarForm.icon}}has-icon{{/navbarForm.icon}}">
    {{{navbarForm.icon}}}
    <input class="form-control" type="text" placeholder="{{ navbarForm.placeholder }}">
</form>