<nav class="navbar {{navbar.class }} {{ styleModifier }}">
    <a class="navbar-brand" href="#">
        {{> atoms-logo }}
    </a>

    {{# navbar.primaryNavigation }}
        {{> molecules-navs:navbar-nav }}
    {{/navbar.primaryNavigation}}

    {{# navbar.userNavigation }}
        {{# links }}
            {{> molecules-navs:navbar-nav pull-xs-right m-l-1 }}
        {{/links}}
        {{# dropdown}}
            <ul class="nav navbar-nav pull-xs-right m-l-1">
                <li class="nav-item">
                    {{> molecules-dropdown }}
                </li>
            </ul>
        {{/dropdown}}

    {{/navbar.userNavigation}}

    {{# navbar.helpNavigation }}
        <ul class="nav navbar-nav pull-xs-right m-l-1">
            {{> molecules-dropdown }}
        </ul>
    {{/navbar.helpNavigation}}

    {{# navbar.searchForm }}
        {{> molecules-navbar-form:pull-xs-right }}
    {{/navbar.searchForm}}
</nav>