<div class="filter-bar p-a-1">
    <!-- Search functionality -->
    {{# filterBar.searchActivated }}
        <div class="filter-bar-search">
            {{> molecules-input-group }}
        </div>
    {{/ filterBar.searchActivated }}
</div>
