<div class="page-heading">
    <!-- Action buttons and page filter (e.g. date picker for filter page content) -->
    <div class="page-actions pull-xs-right">
        {{> atoms-button:btn-sm btn-primary }}
    </div>
    <h1 class="pull-left">{{ pageTitle }}</h1>
</div>
