<div class="page-heading">
    <!-- Action buttons and page filter (e.g. date picker for filter page content) -->
    <div class="page-actions pull-xs-right">
        {{> molecules-button-group }}

        {{# pageHeaderCta }}
            {{> atoms-button:btn-sm btn-primary }}
        {{/ pageHeaderCta }}
    </div>
    <h1 class="m-b-0">{{ pageTitle }}</h1>
</div>
