/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/tags";

/*=========================================================================
  Atoms pill
 ========================================================================== */
// base
.pill {
  display: inline-block;
  font-size: .85em;
  font-weight: 500;
  margin-right: .5em;
  overflow: hidden;
  line-height: 2.2em;
  // make pills - exaggerate the padding toward the radii so it looks even
  &:first-child {
    @include border-left-radius(3em);
    padding-left: 1.1em;
  }
  &:last-child {
    @include border-right-radius(3em);
    padding-right: 1.1em;
  }
}

.pill-label,
.pill-clear {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  padding: 0 .9em;
  -webkit-appearance: none;
}

// Types
.pill-default {
  background: $input-bg;
}

.pill-primary {
  background: $brand-primary;
}

.pill-secondary {
  background: $brand-secondary;
}

.pill-danger {
  background: $brand-danger;
}

.pill-info {
  background: $brand-info;
}

.pill-success {
  background: $brand-success;
}

.pill-warning {
  background: $brand-warning;
}

// provide separation between the label and clear buttons
// floating stops the margins from collapsing into eaching

.pill-label {
  margin-right: 1px;
}

.pill-clear {
  margin-left: 1px;
}