{{% BLOCKS }}
{{< templates-focused-task }}

{{$ contentBlock }}
<div class="card">
    {{# header }}
        <div class="card-header">
            {{{ header }}}
        </div>
    {{/header}}

    {{# content }}
        {{#progressTracker}}
            {{> molecules-progress-tracker }}
        {{/progressTracker}}
        <div class="card-block">
            <h1>KONFIGURATOR FÜR LIZENZ</h1>
        </div>
    {{/ content }}

    {{# footer }}
        <div class="card-footer text-xs-right">
            {{#prev}}
                <a href="{{url}}" class="btn btn-link pull-left">{{text}}</a>
            {{/prev}}
            {{#next}}
                <a href="{{url}}" class="btn btn-primary">{{text}}</a>
            {{/next}}
        </div>
    {{/footer}}
</div>
{{/ contentBlock }}

{{/ templates-focused-task }}

