{{# gridView }}
    {{> templates-collection-grid }}
{{/ gridView }}
{{# listView }}
    {{> templates-collection-list }}
{{/ listView }}
{{# tableView }}
    {{> templates-collection-table }}
{{/ tableView }}