{{> organisms-header }}
<main role="main">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-2 t-col-left pt-1">
                {{> organisms-nav-sidebar }}
            </div>
            <div class="col-md-10 t-col-main pt-1">
                {{> molecules-page-header }}

                {{> molecules-filter-bar }}

                <div class="t-col-main-content p-1">
                    <div class="t-entity-list">
                        {{> organisms-cards-list }}
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="push"></div>
</main>
{{> organisms-footer }}
