{{> organisms-header }}
<main role="main" class="t-dashboard">

    <div class="t-dashboard-intro">
        <div class="t-dashboard-intro-image"
             style="background: url('../../images/header/dashboard-header.jpg'); height: 145px;">
        </div>
        <div class="container text-xs-center my-3">
            <div class="t-dashboard-intro-text m-b-2">
                <h1>Guten morgen Sebastian, willkommen im App-Manager</h1>
                <p>Vielen Dank, dass uns ausprobierst. Um loszulegen wähle eine der folgenden Optionen:</p>
            </div>
            <div class="t-dashboard-intro-options">
                {{> organisms-cards-list }}
            </div>
        </div>
        
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    {{#appList}}
                        <div class="div col-md-6">
                            {{> molecules-card }}
                        </div>
                    {{/appList}}
                    {{#customerList}}
                        <div class="div col-md-6">
                            {{> molecules-card }}
                        </div>
                    {{/customerList}}
                    {{#templateList}}
                        <div class="div col-md-6">
                            {{> molecules-card }}
                        </div>
                    {{/templateList}}
                    {{#projectList}}
                        <div class="div col-md-6">
                            {{> molecules-card }}
                        </div>
                    {{/projectList}}
                </div>
            </div>
            <div class="col-md-3">
                {{#userList}}
                    {{> molecules-card }}
                {{/userList}}
            </div>
        </div>
    </div>
    <div class="push"></div>
</main>
{{> organisms-footer }}
