/**
 * Pattern Dependencies
 */
@import "../../../../css/scss/abstracts/variables";
@import "../../../../css/scss/abstracts/mixins";

/*=========================================================================
  Molecules Modal
 ========================================================================== */

.checkbox {
  :global {
    .react-toggle {
      display: inline-block;
      position: relative;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      padding: 0;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      -webkit-tap-highlight-color: transparent;
    }

    .react-toggle-screenreader-only {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .react-toggle--disabled {
      cursor: not-allowed;
      opacity: 0.5;
      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s;
    }

    .react-toggle-track {
      width: 60px;
      height: 34px;
      padding: 0;
      border-radius: 30px;
      background-color: $input-bg;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: darken($input-bg, 30%);
    }

    .react-toggle--checked .react-toggle-track {
      background-color: $brand-success;
    }

    .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
      background-color: darken($brand-success, 30%);
    }

    .react-toggle-track-x, .react-toggle-track-check {
      display: none;
    }

    .react-toggle-thumb {
      transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      position: absolute;
      top: 1px;
      left: 1px;
      width: 32px;
      height: 32px;
      border: 1px solid $input-bg;
      border-radius: 50%;
      background-color: #FAFAFA;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      @include transition(all 0.25s ease);
    }

    .react-toggle--checked .react-toggle-thumb {
      left: 27px;
      border-color: $brand-success;
    }

    .react-toggle--focus .react-toggle-thumb {
      @include box-shadow(0px 0px 3px 2px $brand-primary);
    }

    .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
      @include box-shadow(0px 0px 5px 5px $brand-primary);
    }
  }
}