/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";

/*=========================================================================
  Molecules Page Header
 ========================================================================== */

.page-header-metadata {
    font-size: 0.9rem;
}