<div class="page-header">
    <!-- Action buttons and page filter (e.g. date picker for filter page content) -->
    <div class="page-actions pull-xs-right">
        {{# pageHeader.btnGroup }}
            {{> molecules-button-group }}
        {{/ pageHeader.btnGroup }}
    </div>

    {{> molecules-breadcrumb }}

    <h1 class="page-header-title mb-0">{{ pageHeader.title }}</h1>

    {{# pageHeader.metadata }}
        <div class="page-header-metadata">
            {{{ pageHeader.metadata }}}
        </div>
    {{/pageHeader.metadata}}

</div>
