/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/forms";

/*=========================================================================
  Atoms Forms
 ========================================================================== */

.form-inline {
  box-shadow: initial;
  border: initial;
  padding: initial;
  color: initial;
  background: initial;
  font-size: inherit;
  border-radius: initial;
  transition: width .5s ease, background-color .5s ease;
  &:focus {
    color: initial;
    background: initial;
    box-shadow: initial;
    border-color: $brand-primary;
  }
}

.form-dotted {
  border: none;
  box-shadow: none;
  border-bottom: 2px dotted #ccc;
  padding-left: 0;
  color: #000;
  background: none;
  &:focus {
    color: #000;
    box-shadow: none;
  }
}

.input-ie-fix {
  height: 3em;
}