<textarea class="form-control {{ textArea.class }} {{ styleModifier }} {{#textArea.disabled}}disabled{{/textArea.disabled }}" placeholder="{{ textArea.placeholder }}"
       value="{{ textArea.value }}" {{#textArea.message}}data-toggle="tooltip" data-placement="right" title="{{ textArea.message }}"{{/textArea.message}} {{#textArea.disabled}}disabled="disabled"{{/textArea.disabled }}
    {{#textArea.readonly}}readonly="readonly"{{/textArea.readonly }}></textarea>