<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <meta about="App-Arena.com">

    <link rel="stylesheet" href="../../css/app-arena-styles.css?{{ cacheBuster }}" media="all"/>
    <!--<link rel="stylesheet" href="../../css/website-wordpress-styles.css?{{ cacheBuster }}" media="all"/>-->
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all"/>

    <!--<link rel="stylesheet" href="../../css/bootstrap.css?{{ cacheBuster }}" media="all"/>
    <link rel="stylesheet" href="../../css/bootstrap-theme.css?{{ cacheBuster }}" media="all"/>-->

    <script src="../../js/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../js/vendor/tether/dist/js/tether.min.js"></script>
    <script src="../../js/vendor/tether-drop/dist/js/drop.min.js"></script>
    <script src="../../js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../js/vendor/slick-carousel/slick/slick.js"></script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->

</head>
<body class="{{ bodyClass }}">

