/**
 * Pattern Dependencies
 */
@import "~bootstrap/scss/functions";
@import "variables_bootstrap";

/*=========================================================================
  Variable definitions
 ========================================================================== */

// Typography
$font-weights: (
        light: 300,
        regular: 400,
        semi-bold: 600,
        semibold: 600,
        bold: 700
);

// Components
$spinner-dot-bg:               $gray-600;
$spinner-dot-size:             8px;
$spinner-dot-size-sm:          $spinner-dot-size / 2;
$spinner-dot-size-lg:          $spinner-dot-size * 2;