<ul class="m-navs nav {{ styleModifier }}">
    {{# navList }}
        <li class="nav-item">
            <a class="nav-link {{# isActive }}active{{/ isActive }} {{# isDisabled }}disabled{{/ isDisabled }}"
               href="{{ url }}">
                {{{ text }}}
            </a>
        </li>
    {{/ navList }}
</ul>