{{#navs}}
    <ul class="m-navs nav {{ styleModifier }} {{ class }}">
        {{# items }}
            <li class="nav-item">
                <a class="nav-link {{# isActive }}active{{/ isActive }} {{# isDisabled }}disabled{{/ isDisabled }}"
                   href="{{ url }}">
                    {{{ text }}}
                </a>
            </li>
        {{/ items }}
    </ul>
{{/navs}}