<h2 id="inline">Inline</h2>
<p>
    Easily space out nav links in a horizontal band with <code class="highlighter-rouge">.nav-inline</code>. Longer
    series of links will wrap to a new line.</p>
<nav class="nav nav-inline">
    <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Another link</a>
    <a class="nav-link disabled" href="#">Disabled</a>
</nav>

<h2 id="tabs">Tabs</h2>
<p>
    Takes the basic nav from above and adds the <code class="highlighter-rouge">.nav-tabs</code> class to generate a
    tabbed interface. Use them to create tabbable regions with our <a href="#javascript-behavior">tab JavaScript
        plugin</a>.
</p>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Another link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<h2 id="pills">Pills</h2>
<p>Take that same HTML, but use <code class="highlighter-rouge">.nav-pills</code> instead:</p>
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Another link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<h2 id="stacked-pills">Stacked pills</h2>
<p>Just add <code class="highlighter-rouge">.nav-stacked</code> to the <code class="highlighter-rouge">.nav.nav-pills</code>.</p>
<ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Another link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>
