/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/utilities/flex";
@import "../../02-organisms/navigation/nav-sidebar";

/*=========================================================================
  Molecules Nav
 ========================================================================== */

.nav-tabs {
  border-bottom: 2px solid #ebecf0;
  .nav-link, .nav-link:hover, .nav-link:active, .nav-link:focus {
    border: none;
    cursor: pointer;
    margin-right: 3px;
  }
  .nav-link:hover {
    color: lighten($brand-primary, 10%);
    border-bottom: 2px solid lighten($brand-primary, 10%);
  }
  .nav-link.active {
    color: $brand-primary;
    border-bottom: 2px solid $brand-primary;
  }
}