<div class="form-group {{ styleModifier }} {{ formGroup.class }}">
    {{#formGroup.label}}
        <label class="{{class}}" for="{{ inputGroup.id }}">
            {{text}}
            {{#formGroup.required}}<span class="is-required text-danger">*</span>{{/formGroup.required}}
        </label>
    {{/formGroup.label}}

    {{#formGroup.type.select }}
        {{> molecules-select }}
    {{/formGroup.type.select}}

    {{#formGroup.type.input-group }}
        {{> molecules-input-group }}
    {{/formGroup.type.input-group }}

    {{#formGroup.type.checkboxes }}
        {{> molecules-input-group }}
    {{/formGroup.type.checkboxes }}

    {{# formGroup.feedback }}
        <div class="form-control-feedback">{{ formGroup.feedback }}</div>
    {{/ formGroup.feedback}}

    {{# formGroup.helpText }}
        <div class="form-text text-muted">{{{ formGroup.helpText }}}</div>
    {{/ formGroup.helpText }}
</div>
