/**
 * Pattern Dependencies
 */


/*=========================================================================
  Organism Login
 ========================================================================== */
.o-login {

  .o-login-logo {
    margin: ($spacer-y * 2) 0 ;
  }
  .o-login-logo img {
    max-width: 300px;
  }
}