<div class="o-login">
    <h1 class="o-login-logo text-xs-center">
        {{> atoms-logo }}
    </h1>

    <!-- CARD component -->
    <div class="card">
        <div class="card-header">
            {{{ login.header }}}
        </div>

        <div class="card-block">
            {{# login.items }}
                {{> molecules-form-group }}
            {{/ login.items }}


        </div>

        <div class="card-footer text-xs-right">
            {{> atoms-button:btn btn-primary(btnText:"Anmelden") }}
        </div>
    </div>
</div>
