/**
 * Pattern Dependencies
 */

/*=========================================================================
  Organism Login
 ========================================================================== */
.o-login {

  .o-login-logo {
    margin: ($spacer-y * 2) 0;
  }
  .o-login-logo img {
    max-width: 300px;
  }

  .o-login-context-usps {
    margin-left: 2.5em;

    li {
      margin: 1rem 0;
    }

    i {
      font-size: 1.5rem;
      top: 10%;
    }
  }
}