<div class="o-login">
    <div class="o-login-logo text-xs-center">
        {{> atoms-logo }}
    </div>

    {{# contextInfo }}
        <div class="row">
            <div class="col-sm-6">
                <h4 class="my-2">{{title}}</h4>
                <ul class="o-login-context-usps fa-ul">
                    {{#usps}}
                        <li>
                            <i class="fa-li fa fa-check"></i> {{{text}}}
                        </li>
                    {{/usps}}
                </ul>
            </div>
            <div class="col-sm-6">
    {{/contextInfo}}

            <!-- CARD component -->
            <div class="card">
                <div class="card-header">
                    {{{ login.header }}}
                </div>

                <div class="card-block">
                    {{# login.items }}
                        {{> molecules-form-group }}
                    {{/ login.items }}
                </div>

                <div class="card-footer text-xs-right">
                    {{> atoms-button:btn-lg btn-block btn-primary }}
                </div>
            </div>

            <div class="o-login-footer text-xs-center my-2">
                {{{ login.footer }}}
            </div>

    {{# contextInfo }}
            </div>
        </div>
    {{/contextInfo}}

</div>