/**
 * Pattern Dependencies
 */
@import "../../../css/scss/abstracts/variables";
@import "../../../css/scss/abstracts/mixins";

/*=========================================================================
  Organism Login
 ========================================================================== */
.o-login {

  .o-login-logo {
    margin: ($spacer-y * 2) auto;
    max-width: 300px;
  }
  .o-login-logo img {
    @include img-fluid();
  }

  .o-login-context-usps {
    margin-left: 2.5em;

    li {
      margin: 1rem 0;
    }

    i {
      font-size: 1.5rem;
      top: 10%;
    }
  }
}